<div class="uk-width-2-10">
    <a class="" href="/" title="На главную">
        <img src="@Url.Content("~/Themes/Photorent/photoprokat.by/Content/images/logo.png")" />
    </a>
</div>
<div class="uk-width-3-10">
    <ul class="uk-list">
        <li class="uk-margin-bottom">
            <strong>Минск, пр-т. Дзержинского, 11</strong>
        </li>
        <li>
            <a href="tel:+375296694696" class="uk-link-reset">
                <i class="uk-operator uk-operator-velcom"></i>
                <strong>+375-<b>(29)</b>-669-46-96</strong>
            </a>
        </li>
        <li>
            <a href="tel:+375333313321" class="uk-link-reset">
                <i class="uk-operator uk-operator-mts"></i>
                <strong>+375-<b>(33)</b>-331-33-21</strong>
            </a>
        </li>
    </ul>
    <a href="tel:+375333313321">
        <strong class="uk-h2 uk-link-muted">+375-(33)-331-33-21</strong>
    </a>
</div>
