<div class="container container--center">
    <div class="float--left">

        <a class="button button-primary" href="@Url.Action("Create", "PlasticCard")">Добавить карточку</a>
        <a class="button button-danger uk-hidden" href="#">Удалить</a>

        <div class="button-dropdown uk-hidden" data-uk-dropdown="{ mode: 'click' }">
            <button class="button">Еще <i class="uk-icon-caret-down"></i></button>
            <div class="uk-dropdown uk-dropdown-small">
                <ul class="uk-nav uk-nav-dropdown">
                    <li><a href="#" data-action="#">Активировать</a></li>
                    <li><a href="#" data-action="#">Заблокировать</a></li>
                </ul>
            </div>
        </div>

    </div>
    <div class="float--right uk-hidden-small uk-form">

        <select name="filter[status]">
            <option value="">- Статус -</option>
            <option value="0">Заблокирована</option>
            <option value="1">Активирована</option>
            <option value="1">В ожидании</option>
        </select>

        <input type="text" name="filter[search]" placeholder="Поиск..." value="">
    </div>
</div>

<div class="container container--center  ">
    <div class="js-table uk-overflow-container">
        <table class="table table--hover table--middle">
            <thead>
                <tr>
                    <th colspan="2">№ карточки</th>
                    <th colspan="2">Пользователь</th>
                    <th>Email</th>
                    <th>Роль</th>
                    <th class="text--center">Действие</th>
                </tr>
            </thead>
            <tbody>
                
                    <tr ng-repeat="items in $scope" class="uk-show-hide">
                        <td class="text--center">
                            <i class="uk-icon-circle uk-text-success"></i>
                        </td>
                        <td>
                            <strong>{{items.cardNumber}}</strong>
                        </td>
                        <td>
                            <img class="uk-img-preserve uk-border-circle" width="40" height="40" alt="" src="{{items.userInformation.userPhoto}}">
                        </td>
                        <td class="uk-text-nowrap">
                            <a href="#" class="uk-link-reset uk-link-line">{{items.userInformation.lastName}} {{items.userInformation.firstName}}</a>
                            <div>
                                <small class="text--muted">Минск</small>
                            </div>
                        </td>

                        <td>
                            <a href="mailto:shipik2008@gmail.com" class="uk-link-reset">shipik2008@gmail.com</a>
                        </td>
                        <td>
                            <span class="text--muted">Фотограф</span>
                        </td>
                        <td class="text--center">
                            <div class="uk-show-hide-element">
                                <a class="button button-small" href="@Url.Action("Edit", "PlasticCard",new {id = items.ID})">Изменить</a>
                                <a class="button button-small button-danger-hover" href="#">Удалить</a>
                            </div>
                        </td>
                    </tr>
                
            </tbody>
        </table>
    </div>
</div>