<div class="uk-grid uk-margin">
    <div class="uk-width-1-3">
        <p class="uk-margin-remove uk-text-muted">© @DateTime.Now.Year FTT.by</p>
        <p class="uk-margin-remove uk-text-muted">Оказание услуг ИП Кожарский Александр Игоревич</p>
        <a href="#" class="uk-link-hover uk-link-line" title="Карта сайта"><span>Карта сайта</span></a>
    </div>
    <div class="uk-width-1-3">
        <p class="uk-margin-remove uk-text-muted">Свидетельство о регистрации № 192266278,</p>
        <p class="uk-margin-remove uk-text-muted">выдан о 24 сентября 2012, Минский городской исполнительный комитет</p>
        <a href="#" class="uk-link-hover uk-link-line" title="Написать нам"><span>Написать нам</span></a>
    </div>
    <div class="uk-width-1-3">
        <p>
            <a href="http://photomsk.by" class="uk-link-muted">
                Создано на <img class="uk-margin uk-margin-remove" src="/Content/images/logo-shape-black.svg" width="80" title="PhotoMSK.by" alt="PhotoMSK.by">
            </a>
        </p>
    </div>
</div>