<nav class="top-navbar uk-navbar uk-navbar-attached top-admin-menu">
    <div class="uk-container uk-container-center">
        
        <div class="uk-navbar-flip">
            <ul class="uk-navbar-nav">
                <li class="uk-parent" data-uk-dropdown="">
                    <a href="" class="uk-navbar-nav-subtitle">
                        <img class="uk-comment-avatar" src="https://pp.vk.me/c322420/v322420002/59ac/K9Wk902WYAo.jpg" width="50" height="50" alt="">
                        Сергей Щипанов
                        <i class="uk-icon-caret-down"></i>
                        <div class="uk-text-muted">Мой профиль</div>
                    </a>


                    <div class="uk-dropdown uk-dropdown-width-2">

                        <div class="uk-grid uk-dropdown-grid">
                            <div class="uk-width-1-2">

                                <ul class="uk-nav uk-nav-navbar uk-panel">
                                    <li><a href="/AdminBooking/StudioBooking?shortcut=photolab">Бронирование - Photolab</a></li>
                                    <li><a href="/Account/Manage">Dashboard</a></li>
                                    <li><a href="@Url.Action("Pro", "Statistics")">Получить PRO</a></li>
                                    <li class="uk-nav-divider"></li>
                                    <li><a href="/Account/LogOff">Выйти</a></li>
                                </ul>

                            </div>
                            <div class="uk-width-1-2">

                                <ul class="uk-nav uk-nav-navbar uk-panel">
                                    <li><a href="#">Пример $#</a></li>
                                    <li><a href="#">Пример $#</a></li>
                                    <li class="uk-nav-divider"></li>
                                    <li><a href="#">Пример $#</a></li>
                                </ul>

                            </div>
                        </div>

                    </div>


                </li>
            </ul>

        </div>

    </div>
</nav>