<div class="l-side">
    <div class="container container--center  -60">
        <div class="grid">
            <div class="col--large-3-10 col--medium-5-10 uk-push-2-10 col--small-1-1">
                <div class="grid">
                    <div class="col--1-1">
                        <a href="~/">
                            <img src="/Content/images/logo-black-big.png" alt="PhotoMSK.by" />
                        </a>
                    </div>



                        <div class="grid">
                            <div class="col--1-1 text--right">
                                <a class="reset" href="/home">отмена</a>
                                <input type="submit" class="uk-form-button-small button button-success" value="Отправить">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}

<div class="r-side uk-visible-large">
    <div class="promo">
        <h1 class="promo-main-head"><span class="promo-head-part">Глобальный </span> <br>сайт для фото</h1>
        <div class="promo-content">
            <div class="promo-message">
                <div class="promo-message-decore">
                    <span class="date">@DateTime.Now.Day <sup>@DateTime.Now.ToString("MMMM")</sup></span>
                    <p class="city">
                        PhotoMSK — это место, где фотографы могут обмениваться опытом одновременно приобретая новый!
                    </p>
                </div>
            </div>

        </div>
    </div>

</div>
