<div class="grid">
    @for (int i = 0; i < 7; i++)
    {
        <div class="col--large-1-3 col--medium-1-1 col--small-1-1">
            <div class="">
                <div class="panel uk-wall-box uk-show-hide">
                    <figure class="uk-caption-toggle uk-animation-hover">
                        <img src="https://cdn3.player.fm/images/895037/series/qNFCVE5YHxJtvsAd/256.jpg" alt="Image">
                        <figcaption class="uk-caption uk-caption-panel uk-caption-panel-dark uk-animation-fade">
                            <div>
                                <strong class="uk-h4 bold">Описание</strong>
                                <p class="text--muted">Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
                            </div>
                        </figcaption>
                    </figure>

                    <div class="grid grid--small uk-flex">
                        <div class="col--medium-6-10">
                            <div class="uk-margin-top">
                                <img class="uk-comment-avatar uk-border-circle" src="https://cdn3.player.fm/images/895037/series/qNFCVE5YHxJtvsAd/256.jpg" width="35" height="35" alt="">
                                <span class="uk-h5">Иван Иванов</span>
                                <div class="uk-comment-meta uk-margin-remove">опубликована: 21.12.2018</div>
                            </div>
                        </div>

                        <div class="col--medium-4-10 uk-flex uk-flex-bottom">
                            <ul class="uk-subnav uk-subnav-line text--muted">
                                <li>
                                    <small><i class="uk-icon-eye"></i> 50</small>
                                </li>
                                <li>
                                    <small><i class="uk-icon-heart-o"></i> 14</small>
                                </li>
                                <li>
                                    <small><i class="uk-icon-comment-o"></i> 50</small>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="col--1-1">
        <ul class="uk-pagination" data-uk-pagination="{pages:799, itemsOnPage:20}"><li class="uk-active"><span>1</span></li><li><a href="#page-2" data-page="1">2</a></li><li><a href="#page-3" data-page="2">3</a></li><li><span>...</span></li><li><a href="#page-797" data-page="796">797</a></li><li><a href="#page-798" data-page="797">798</a></li><li><a href="#page-799" data-page="798">799</a></li></ul>
    </div>

</div>