<div class="uk-grid" data-uk-grid-margin>
    <div class="uk-width-1-1">
        <h1>Новости</h1>
        <hr />
    </div>

    <div class="wall-post-latest uk-width-8-10 uk-push-1-10">
        <ul id="wall" class="uk-list"></ul>
    </div>
</div>

