<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0"/>
  <add key="webpages:Enabled" value="false"/>
  <add key="ClientValidationEnabled" value="true"/>
  <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  <add key="FileServer" value="http://localhost:3547/"/>
  <add key ="AssistentUser" value="EnDjiVeb"/>
  <add key="AssistentPassword" value="FnefK1nz"/>
</appSettings>
