<div class="content--admin">

    <div><data-bread-crumbs /></div>

    <div class="container container--center">

        <div class="uk-section">
            <span class="uk-section__counter">1</span>
            <span class="uk-section__title">Создание публичного профиля</span>
        </div>

        <div class="panel panel--box panel--white panel--shadow">
            <div class="grid">
                <div class="col--1-1">
                    <div>
                        <data-admin-studio-name-page />
                    </div>
                </div>
            </div>

            <div class="col--1-1 text--center margin--top">
                <hr>
                <a data-msk-href class="button button--success border--rounded col--1-3" data-ng-click="addNewRoute()">Добавить</a>
            </div>
        </div>
    </div>

</div>
