@model IList<PhotoMSK.Data.Models.User>
@{
    Layout = null;
}
<div id="offcanvas-chat" class="uk-offcanvas">
    <div class="uk-offcanvas-bar uk-offcanvas-bar-flip">
        <div class="uk-nav uk-nav-offcanvas">
            <ul class="sidebar-menu online-user">
                <li>
                    <form class="uk-search">
                        <input class="uk-search-field" type="search" placeholder="поиск...">
                        <button class="uk-search-close" type="reset"></button>
                    </form>
                </li>

                <li class="static">Друзья в сети</li>
                @foreach (var us in Model)
                {
                    if (us != null)
                    {
                        <li>
                            <a href="#" class="chat-caller" data-id="@us.Id">
                                <span class="user-status success"></span>
                                <img src="@(us.UserInformation.UserPhoto ?? "http://diliat.in/themeforest/sentir/1.1.0/assets/img/avatar/avatar-6.jpg")" class="ava-sidebar uk-border-circle" alt="Avatar">
                                <div class="uk-badge uk-badge-notification">4</div>
                                @us.UserInformation.FirstName @us.UserInformation.LastName
                                <span class="small-caps">О да, я в сети :)</span>
                            </a>
                        </li>
                    }
                }
                <li>
                    <a href="#">
                        <span class="user-status success"></span>
                        <img src="http://diliat.in/themeforest/sentir/1.1.0/assets/img/avatar/avatar-6.jpg" class="ava-sidebar uk-border-circle" alt="Avatar">
                        <i class="fa fa-apple device-status"></i>
                        Harold Chavez
                        <span class="small-caps">Спасибо. Я дома.</span>
                    </a>
                </li>

                <li class="static">Друзья заняты</li>
                <li>
                    <a href="#">
                        <span class="user-status warning"></span>
                        <img src="http://diliat.in/themeforest/sentir/1.1.0/assets/img/avatar/avatar-7.jpg" class="ava-sidebar uk-border-circle" alt="Avatar">
                        <i class="fa fa-windows device-status"></i>
                        Elizabeth Owens
                        <span class="small-caps">2 часов назад</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="user-status warning"></span>
                        <img src="http://diliat.in/themeforest/sentir/1.1.0/assets/img/avatar/avatar-8.jpg" class="ava-sidebar uk-border-circle" alt="Avatar">
                        <i class="fa fa-apple device-status"></i>
                        Frank Oliver
                        <span class="small-caps">4 часов назад</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="user-status warning"></span>
                        <img src="http://diliat.in/themeforest/sentir/1.1.0/assets/img/avatar/avatar-9.jpg" class="ava-sidebar uk-border-circle" alt="Avatar">
                        Mya Weastell
                        <span class="small-caps">15 минут</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="user-status warning"></span>
                        <img src="http://diliat.in/themeforest/sentir/1.1.0/assets/img/avatar/avatar-10.jpg" class="ava-sidebar uk-border-circle" alt="Avatar">
                        <i class="fa fa-mobile-phone device-status"></i>
                        Carl Rodriguez
                        <span class="small-caps">20 часов назад</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="user-status warning"></span>
                        <img src="http://diliat.in/themeforest/sentir/1.1.0/assets/img/avatar/avatar-11.jpg" class="ava-sidebar uk-border-circle" alt="Avatar">
                        <i class="fa fa-mobile-phone device-status"></i>
                        Nikita Carter
                        <span class="small-caps">2 минуты</span>
                    </a>
                </li>

                <li class="static">Друзья не в сети</li>
                <li>
                    <a href="#">
                        <span class="user-status danger"></span>
                        <img src="http://diliat.in/themeforest/sentir/1.1.0/assets/img/avatar/avatar-12.jpg" class="ava-sidebar uk-border-circle" alt="Avatar">
                        Craig Dixon
                        <span class="small-caps">Last seen 2 часов назад</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="user-status danger"></span>
                        <img src="http://diliat.in/themeforest/sentir/1.1.0/assets/img/avatar/avatar-13.jpg" class="ava-sidebar uk-border-circle" alt="Avatar">
                        Mikayla King
                        <span class="small-caps">Last seen yesterday</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="user-status danger"></span>
                        <img src="http://diliat.in/themeforest/sentir/1.1.0/assets/img/avatar/avatar-14.jpg" class="ava-sidebar uk-border-circle" alt="Avatar">
                        Richard Dixon
                        <span class="small-caps">Был Feb 20, 2014 05:45:50</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="user-status danger"></span>
                        <img src="http://diliat.in/themeforest/sentir/1.1.0/assets/img/avatar/avatar-15.jpg" class="ava-sidebar uk-border-circle" alt="Avatar">
                        Brenda Fuller
                        <span class="small-caps">Был Feb 15, 2014 11:35:50</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="user-status danger"></span>
                        <img src="http://diliat.in/themeforest/sentir/1.1.0/assets/img/avatar/avatar-16.jpg" class="ava-sidebar uk-border-circle" alt="Avatar">
                        Ryan Ortega
                        <span class="small-caps">Был Jan 20, 2014 03:45:50</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>