<div class="color-picker popover-content--collapse">
    <div class="color-picker__palete"></div>

    <div class="color-picker__name">
        <p class="margin--reset text--bold">Maya blue</p>
        <small class="text--small text--muted">#541234</small>
    </div>
    <div class="color-picker__control">
        <a data-msk-href class="margin--top-mini button button--small button--rounded">
            <i class="icon-check text--green"></i>
        </a>
        <a data-msk-href class="margin--top-mini button button--small button--rounded">
            <i class="icon-close text--red"></i>
        </a>
    </div>

    <div class="color-picker__mode">
        <a data-msk-href class="button button--mini border--rounded">RGB</a>
        <a data-msk-href class="button button--mini border--rounded">HSB</a>
        <a data-msk-href class="button button--mini border--rounded">CMYK</a>
    </div>

    <!-- <input colorpicker="rgba" colorpicker-position="right" type="text"> -->

    <!-- <input type="text" data-ng-model="Color" data-ng-init="color = '#f05a28'"> -->

    <!-- <color-picker data-ng-model="color"></color-picker> -->

</div>
