<div class="content--admin">

    <div><data-bread-crumbs /></div>

    <div class="clear-fix"></div>

    <div class="container--fluid-widget">
        <div class="grid">
            <div class="col--1-1">
                <div class="panel panel--box panel--white panel--shadow">
                    <div class="panel__title">
                        <ul class="tab tab--full">
                            <li>
                                <a class="active" data-msk-href data-ng-click="tabSet('tab1')">Информация</a>
                            </li>
                            <li>
                                <a data-msk-href data-ng-click="tabSet('tab2')">Фотографии</a>
                            </li>
                            <li>
                                <a data-msk-href data-ng-click="tabSet('tab3')">Оборудование</a>
                            </li>
                            <li>
                                <a data-msk-href data-ng-click="tabSet('tab4')">Лендинг</a>
                            </li>
                        </ul>
                    </div>
                    <div class="grid">
                        <div class="col--1-1">
                            <!-- <ul id="tab-content"> -->
                            <ul>
                                <li data-ng-show="tab=='tab1'">
                                    <div class="grid grid--divider grid--collapse margin--reset">
                                        <div class="col--3-10 text--center">
                                            <p class="text--h3 text--muted text--truncate">
                                                Зал
                                                <a data-msk-href data-ng-click="hallAvatarEdit = !hallAvatarEdit" class="button button--small button--rounded icon-cog float--right"></a>
                                            </p>
                                            <hr class="col--1-1 grid--divider-full">

                                            <div data-ng-if="!hallAvatarEdit">
                                                <div class="margin--top">
                                                    <img class="avatar--border-solid" alt="Аватарка зала" src="/Content/images/no-avatar.png" data-ng-src="{{croppedDataUrl||item.teaserImageUrl}}" height="200" width="200">
                                                </div>
                                                <p class="margin--top text--h4">
                                                    <small class="text--small text--muted">Тип: </small>
                                                    <small class="text--small text--muted" data-ng-if="item.hallType=='Hall'">Зал</small>
                                                    <small class="text--small text--muted" data-ng-if="item.hallType=='Dressing'">Гримерка</small>
                                                    <small class="text--small text--muted" data-ng-if="item.hallType=='Training'">Учебный зал</small>
                                                    <small class="text--small text--muted" data-ng-if="item.hallType=='Meeting'">Комната встречи</small>
                                                    <span class="text--bold">{{item.name}}</span>
                                                </p>
                                            </div>
                                            <div data-ng-if="hallAvatarEdit">
                                                <div class="grid">
                                                    <div class="col--1-1 text--center">
                                                        <img class="avatar--border-solid" alt="Аватарка пользователя" src="/Content/images/no-avatar.png" data-ng-src="{{croppedDataUrl||item.teaserImageUrl}}">
                                                    </div>
                                                    <p class="margin--top text--h4">
                                                        <small class="text--small text--muted">Тип: </small>
                                                        <select class="input--select" data-ng-model="item.hallType">
                                                            <option value="Hall">Зал</option>
                                                            <option value="Dressing">Гримерка</option>
                                                            <option value="Training">Учебный зал</option>
                                                            <option value="Meeting">Комната встречи</option>
                                                        </select>
                                                    </p>
                                                    <div class="col--1-1 text--center margin--top" data-ngf-select data-ng-model="picFile" accept="image/*">
                                                        <a class="button button--small border--rounded" data-msk-href>Выбрать файл</a>
                                                        <p class="margin text--muted">
                                                            Рекомендуемый размер изображения: 500×500
                                                        </p>
                                                    </div>

                                                    <div data-ngf-drop data-ng-model="picFile" data-ngf-pattern="image/*" class="col--1-1 cropArea upload__area">
                                                        <img-crop image="picFile  | ngfDataUrl" area-type="square" result-image="$parent.croppedDataUrl" style="width: 100%"></img-crop>
                                                    </div>
                                                    <hr class="col--1-1 margin--v">

                                                    <div class="col--1-1 text--left">
                                                        <label class="label label--rounded">Название зала</label>
                                                        <input class="input input--rounded col--1-1" data-ng-model="item.name" />
                                                    </div>
                                                    <div class="col--1-1 text--left">
                                                        <label class="label label--rounded">Название зала</label>
                                                        <input class="input col--1-1" data-ng-model="item.name" />
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col--4-10">
                                            <p class="text--h3 text--muted text--truncate">
                                                График работы
                                                <a data-msk-href class="button button--small button--rounded float--right"></a>
                                            </p>
                                            <hr class="col--1-1 grid--divider-full">
                                            <div>
                                                <table class="table table--middle table--hover text--center">
                                                    <thead>
                                                        <tr class="text--center">
                                                            <th class="text--left">День</th>
                                                            <th>Время</th>
                                                            <th>Цена</th>
                                                            <th>...</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr data-ng-repeat="(key,value) in item.schedule|orderBy:'dayOfWeek'">
                                                            <td class="text--left">
                                                                <strong>{{dayOfWeekStr[value.dayOfWeek-1]}}</strong>
                                                            </td>
                                                            <td>
                                                                <a data-ng-if="!value.isEdit">{{value.timeStart|date:'HH:mm'}}</a>
                                                                <input class="input input--small col--4-10" ui-timepicker data-ng-if="value.isEdit" data-ng-model="value.timeStart" />
                                                                -
                                                                <a data-ng-if="!value.isEdit">{{value.timeEnd|date:'HH:mm'}}</a>
                                                                <input class="input input--small col--4-10" ui-timepicker data-ng-if="value.isEdit" data-ng-model="value.timeEnd" />
                                                            </td>
                                                            <td>
                                                                <p class="margin--reset" data-ng-if="!value.isEdit">
                                                                    <span>{{value.price | number}}</span>
                                                                    <br>
                                                                    <small class="text--small text--muted">бел. руб</small>
                                                                </p>
                                                                <input class="input input--small input--rounded col--1-1" data-ng-if="value.isEdit" data-ng-model="value.price" />
                                                            </td>
                                                            <td>
                                                                <a data-ng-if="!value.isEdit" data-ng-click="edit(value)" class="button button--small button--rounded icon-cog"></a>
                                                                <a data-ng-if="value.isEdit" data-ng-click="cancel(value)" class="button button--small button--rounded icon-cross text--red"></a>
                                                                <a data-ng-if="value.isEdit" data-ng-click="approive(value)" class="button button--small button--rounded icon-checkmark text--green"></a>
                                                                <a data-ng-if="value.isApproive" class="button button--small button--rounded icon-save" data-ng-click="saveSchedulle(value)"></a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="col--3-10">
                                            <p class="text--h3 text--muted text--truncate">
                                                Подробнее
                                                <a data-msk-href data-ng-click="hallDetails = !hallDetails" class="button button--small button--rounded icon-cog float--right"></a>
                                            </p>
                                            <hr class="col--1-1 grid--divider-full">
                                            <div data-ng-if="!hallDetails">
                                                <p>
                                                    <span class="text--muted">Площадь зала:</span>&nbsp;<span class="text--bold">{{item.square}}</span>&nbsp;<small class="text--muted text--small">кв.м.</small>
                                                </p>

                                                <hr>

                                                <span class="text--muted">Описание</span>
                                                <p>
                                                    {{item.description}}
                                                </p>

                                                <hr>

                                                <div class="grid">
                                                    <div class="col--1-1">
                                                        <div class="palete palete--round margin--auto">
                                                            <div class="palete-color palete-color--grass">
                                                                <div class="palete-color__square palete-color__lighten" style="background-color: {{item.calendarColor}};"></div>
                                                                <div class="palete-color__square palete-color__darken" style="background-color: {{item.calendarColor}};"></div>
                                                            </div>
                                                            <div class="palete-color__content">
                                                                <p class="palete-color__name">На календаре</p>
                                                                <span class="palete-color__code">{{item.calendarColor}}</span>,
                                                                <span class="palete-color__code">{{item.color}}</span>
                                                                <p class="palete-color__edit">
                                                                    <!-- <a data-msk-href class="button button--small button--rounded icon-cog text--muted" popover-placement="top" uib-popover="On the top"></a> -->
                                                                    <a data-msk-href class="button button--small button--rounded icon-cog text--muted" uib-popover-template="'Scripts/admin/components/photostudioModule/hallModule/edit/colorPalete.html'"></a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div data-ng-if="hallDetails">
                                                Временно не работает!
                                            </div>

                                        </div>
                                        <div class="col--1-1 text--center">
                                            <hr class="col--1-1">
                                            <a data-msk-href class="button border--rounded">отменить</a>
                                            <a data-msk-href class="button button--success border--rounded" data-ng-click="updateHall(croppedDataUrl)">Сохранить изменения</a>
                                        </div>
                                    </div>
                                </li>
                                <li data-ng-show="tab=='tab2'">
                                    <div>
                                        <div>
                                            <data-admin-photo-load-page />
                                        </div>
                                    </div>
                                    <div class="col--1-1">
                                        <hr>
                                        <div class="col--1-1 text--right">
                                            <a class="button button--small text--muted" data-msk-href>отмена</a>
                                            <a class="button button--small button--success" data-ng-click="loadPhoto()" data-msk-href>Сохранить</a>
                                        </div>
                                    </div>
                                </li>
                                <li data-ng-show="tab=='tab3'">
                                    <div class="grid grid--divider">
                                        <div class="col--5-10">
                                            <h3 class="text--bold text--muted">Оборудование</h3>
                                            <p class="text--muted">
                                                Перечень всего оборудования для съемок.
                                            </p>
                                        </div>
                                        <div class="col--5-10">
                                            <div angucomplete-alt
                                                 remote-url={{hallPropertiesAutoURL}}
                                                 placeholder="Качели..."
                                                 pause="500"
                                                 selected-object="selected"
                                                 title-field="name"
                                                 remote-url-request-formatter="remoteUrlRequestEn"
                                                 searching="property"
                                                 input-class="input col--large-1-1 col--small-1-1 ui-autocomplete-input"
                                                 no-results="noResults"></div>
                                            <a class="btn btn-booking" data-ng-click="addProperty(null)">Добавить</a>
                                        </div>
                                    </div>
                                    <div class="grid">
                                        <div class="col--5-10">
                                            <label for="item4" ng-repeat="property in itemProperties">
                                                <a msk-href class="btn btn-delete" style="width: 10px" data-ng-click="deleteProperty(property.id)">
                                                    X
                                                </a>
                                                {{property.name}}
                                            </label>
                                        </div>
                                        <div class="col--5-10">
                                            <!-- Существующее оборудование: -->
                                            <table class="table table--hover table--middle">
                                                <tbody>
                                                    <tr>
                                                        <th>Существующее оборудование:</th>
                                                        <th>...</th>
                                                    </tr>
                                                </tbody>
                                                <tbody>
                                                    <tr data-ng-repeat="property in exProperties">
                                                        <td>{{property.name}}</td>
                                                        <td>
                                                            <a class="button button--small button--rounded" data-msk-href data-ng-click="addProperty(property.id)"></a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                            <label for="item4" ng-repeat="property in exProperties">
                                                <a msk-href class="btn btn-delete" data-ng-click="addProperty(property.id)">
                                                    Добавить себе
                                                </a>
                                                {{property.name}}
                                            </label>
                                        </div>
                                    </div>

                                    <div class="grid">
                                        <div class="col--1-1 text--center">
                                            <a class="button button--small border--rounded" href="/admin/photostudio/{{studioShortcut}}/edit">отмена</a>
                                            <a class="button button--small button--success border--rounded" data-msk-href data-ng-click="updateHall()">Сохранить</a>
                                        </div>
                                    </div>
                                </li>
                                <li data-ng-show="tab=='tab4'">

                                    <ul ui-sortable="widgetsOptions" data-ng-model="widgets" class="widgets-container placeholder placeholder--widget">
                                        <li data-ng-repeat="widget in widgets track by $index" class="widgets">
                                            <div class="widgets__action">
                                                <a data-ng-click="setedit(widget)" class="button button--rounded icon-cog"></a>
                                                <a data-ng-click="removeWidgets(widget)" class="button button--rounded button--delete icon-trash"></a>
                                            </div>
                                            <div data-ng-if="widget.type=='gallery'">
                                                <gallery-edit widget="widget" sortableOptions="sortableOptions"></gallery-edit>
                                            </div>
                                            <div data-ng-if="widget.type=='description'">
                                                <text-and-desc widget="widget"></text-and-desc>
                                            </div>
                                            <div data-ng-if="widget.type=='splitWidget'">
                                                <split-widget widget="widget" sortableOptions="widgetsOptions"></split-widget>
                                            </div>
                                            <div data-ng-if="widget.type=='containerWidget'">
                                                <container-widget widget="widget" sortableOptions="widgetsOptions"></container-widget>
                                            </div>


                                            <div data-ng-if="widget.type=='faqWidget'">
                                                <faq-widget widget="widget" sortableOptions="widgetsOptions"></faq-widget>
                                            </div>
                                            <div data-ng-if="widget.type=='headerWidget'">
                                                <header-widget widget="widget" sortableOptions="widgetsOptions"></header-widget>
                                            </div>
                                            <div data-ng-if="widget.type=='descriptionWidget'">
                                                <description-widget widget="widget" sortableOptions="widgetsOptions"></description-widget>
                                            </div>
                                        </li>
                                    </ul>

                                    <div class="text--center margin--top">
                                        <a data-msk-href ng-click="saveLanding()" class="button button--success border--rounded">Сохранить</a>
                                    </div>

                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="widget-bar">
        <ul class="widget-bar__tab">
            <li data-ng-class="{'active' : widgetTab == 'tab1'}"><a data-msk-href data-ng-click="widgetTab = 'tab1'" class="icon-widgets"></a></li>
            <li data-ng-class="{'active' : widgetTab == 'tab2'}"><a data-msk-href data-ng-click="widgetTab = 'tab2'" class="icon-wallpaper"></a></li>
            <li data-ng-class="{'active' : widgetTab == 'tab3'}"><a data-msk-href data-ng-click="widgetTab = 'tab3'" class="icon-folder_open"></a></li>
            <li data-ng-class="{'active' : widgetTab == 'tab4'}"><a data-msk-href data-ng-click="widgetTab = 'tab4'" class="icon-cog"></a></li>
        </ul>

        <ul>
            <li data-ng-if="widgetTab == 'tab1'">
                <div class="widget-bar__content">

                    <div class="widget-bar__content__title"><a data-msk-href>Виджеты<i class="text--small float--right icon-keyboard_arrow_down"></i></a></div>
                    <ul class="widget-bar__elements first" ui-sortable="widgetsOptions" ng-model="baseWidgets">
                        <li data-ng-repeat="item in baseWidgets ">
                            <img src="/Content/images/svg/widgets/widgets-{{item.type}}.svg" width="100" alt="Виджет {{item.type}}">

                            <small data-ng-if="item.type == 'gallery'">Галерея</small>
                            <small data-ng-if="item.type == 'description'">Описание</small>
                            <small data-ng-if="item.type == 'splitWidget'">Разделитель</small>
                            <small data-ng-if="item.type == 'containerWidget'">Контейнер</small>
                            <small data-ng-if="item.type == 'faqWidget'">Вопросы</small>
                            <small data-ng-if="item.type == 'headerWidget'">Заголовок</small>
                            <small data-ng-if="item.type == 'descriptionWidget'">Описание</small>
                        </li>
                    </ul>

                    <div class="clear--fix"></div>

                </div>
            </li>

         </ul>
        <div class="widget-bar__footer">
            <p class="text--center text--muted text--small margin--reset">
                Widget Bar ver. 0.1
            </p>
        </div>
    </section>
</div>
