
<div class="uk-container uk-container-center">
    <div class="uk-grid uk-flex uk-flex-middle">
        <div class="uk-width-1-5">
            <a href="#">
                <img src="@Url.Content("/Content/images/logo-shape-black.svg")" alt="" />
            </a>
        </div>
        <div class="uk-width-4-5 uk-margin-small-top">
            <ul class="uk-breadcrumb">
                <li><a href="#" class="uk-text-bold uk-link-muted">Лента событий сайта</a></li>
            </ul>
        </div>

    </div>

    <div class="uk-grid">
        <div class="uk-width-1-5">

            <div class="uk-button-back uk-text-center">
                <a href="@Url.Action("Create", "Menu")" class="uk-button-add uk-button uk-width-1-1 uk-flex uk-flex-middle">
                    <i class="uk-icon-plus button-add"></i>&nbsp;
                    <span class="uk-text-bold">
                        Создать
                        <i class="uk-icon-caret-down uk-text-right"></i>
                    </span>
                </a>

                @*<div class="uk-button-group">
                        <a href="#" class="uk-button-add uk-button uk-width-1-1 uk-flex uk-flex-middle">
                            <i class="uk-icon-plus button-add"></i>&nbsp;<span class="uk-text-bold">Создать</span>
                            </a>
                        <div data-uk-dropdown="{mode:'click'}">
                            <button class="uk-button"><i class="uk-icon-caret-down"></i></button>
                            <div class="uk-dropdown uk-dropdown-small">
                                <ul class="uk-nav uk-nav-dropdown">
                                    <li><a href="#">Item</a></li>
                                    <li><a href="#">Another item</a></li>
                                    <li class="uk-nav-header">Header</li>
                                    <li><a href="#">Item</a></li>
                                    <li><a href="#">Another item</a></li>
                                    <li class="uk-nav-divider"></li>
                                    <li><a href="#">Separated item</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>*@
            </div>

            <div class="uk-panel uk-panel-box uk-panel-box-item">
                <h5 class="uppercase muted">
                    <span class="uk-text-bold">
                        Разделы&nbsp;<i class="uk-icon-caret-down"></i>
                    </span>
                </h5>
                <ul class="uk-list uk-list-menu">
                    <li class="uk-active">
                        <a href="#">
                            <i class="uk-icon-calculator"></i>&nbsp;Все события
                        </a>
                    </li>
                    @for (int i = 0; i < 6; i++)
                    {
                        <li>
                            <a href="#">
                                <i class="uk-icon-archive"></i>&nbsp;Документы
                            </a>
                        </li>
                    }
                </ul>
            </div>

            <h5 class="uk-text-bold">Справочник</h5>
            <ul class="uk-list uk-list-space uk-list-dotted">
                <li><a ng-href="#" target="_blank" class="uk-link-muted" href="#">Типы меню</a></li>
                <li><a ng-href="#" target="_blank" class="uk-link-muted" href="#">Отображение элементов меню</a></li>
                <li><a ng-href="#" target="_blank" class="uk-link-muted" href="#">Создание выпадающего меню</a></li>
                <li><a href="#" class="uk-text-small">ещё...</a></li>
            </ul>
        </div>

        <div class="uk-width-3-5">
            <ul class="uk-list uk-list-event-space">
                @for (int i = 0; i < 2; i++)
                {
                    <li>
                        <div class="uk-panel-history">
                            <small>В этом месяце</small>
                        </div>
                        <div class="uk-panel uk-panel-content-box">
                            <ul class="uk-list uk-list-line uk-list-line-small">
                                @for (int j = 0; j < 2; j++)
                                {
                                    <li>
                                        <div class="uk-grid uk-grid-small">
                                            <div class="uk-width-1-10">
                                                <span class="uk-badge uk-badge-big uk-badge-notification uk-badge-success">
                                                    <i class="uk-icon-calculator"></i>
                                                </span>
                                            </div>
                                            <div class="uk-width-9-10">
                                                <div class="uk-clearfix">
                                                    <a href="#" class="uk-text-bold uk-h4 uk-link-line uk-link-reset uk-float-left">Поступление по кассе</a>
                                                    <span class="uk-float-right uk-text-bold uk-text-success">+12 999 999 бел. руб.</span>
                                                </div>
                                                <p class="uk-margin-small uk-text-muted">
                                                    Комментарий к платежу...
                                                </p>
                                                <p class="uk-text-small uk-text-muted">
                                                    @DateTime.Now
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </li>
                }
            </ul>
        </div>
        <div class="uk-width-1-5">
            <div class="uk-panel uk-panel-box uk-panel-box-item">
                <span class="uk-text-bold"><span>Нужна помощь?</span></span>

                <p class="uk-text-muted">Проконсультируем по вопросам работы с сайтом.</p>
                <p>
                    <a href="#" class="uk-button uk-width-1-1">Заказать звонок</a>
                </p>
            </div>
        </div>
    </div>
</div>
