<footer>
    <div class="uk-container uk-container-center">
        <div class="uk-grid">
            <div class="uk-width-1-2">
                <img class="uk-float-left uk-margin-right uk-border-circle" src="http://photocollege.org/photocollege/media/images/map.png" alt="Карта проезда" />
                <div class="uk-margin-top">
                    <p>
                        Центральный офис<br>
                        Минск<br>
                        ул. Куйбышева<br>
                        дом 22, пом. 311<br>
                        студия фотографии<br>
                        <strong>«PHOTOLAB STUDIO»</strong>
                    </p>
                </div>
            </div>

            <div class="uk-width-1-2 uk-margin-top">
                <ul class="uk-subnav">
                    @*<li>
                            <a href="#">
                                <img src="http://photocollege.org/photocollege/media/images/icon/insta.png" />
                            </a>
                        </li>*@
                    <li>
                        <a href="https://vk.com/studio_photolab" target="_black">
                            <img src="http://photocollege.org/photocollege/media/images/icon/vk.png" />
                        </a>
                    </li>
                    @*<li>
                            <a href="#">
                                <img src="http://photocollege.org/photocollege/media/images/icon/youtube.png" />
                            </a>
                        </li>*@
                </ul>

                <p>&copy; @DateTime.Now.Year - Фотошколледж Минск</p>
                <p>
                    Мы в социальных сетях. <br />
                    Там можно почитать отзывы наших студентов,<br />
                    увидеть, что говорят о нас<br />
                    люди и еще больше узнать о нас.
                </p>
            </div>
        </div>
    </div>
</footer>