<div class="uk-width-3-10">
    <a href="#" class="uk-button uk-width-1-1">В корзине пока пусто</a>
    <div class="uk-margin-large-top uk-text-center">
        <i class="uk-icon-credit-card"></i>
        <a href="#" class="uk-link-line uk-link-muted">Карта клиента</a>
    </div>
</div>
