@{
    ViewBag.Title = "Пользовательское соглашение";
}

<div class="uk-container uk-container-center">
    <srction class="uk-grid">
        <div class="uk-width-2-3 uk-container-center uk-margin-large">
            <h1>Пользовательское соглашение</h1>
            <div class="cnt">
                <h4>Публичная Оферта на&nbsp;заключение Пользовательского соглашения</h4>
                <p>Настоящая Публичная Оферта является предложением Общества с&nbsp;ограниченной ответственностью ООО «Фотостэйдж» (далее&nbsp;— Исполнитель) заключить Пользовательское соглашение (далее&nbsp;— Соглашение) с&nbsp;любым Заинтересованным лицом, являющимся Заказчиком, как оно определено в&nbsp;Соглашении, в&nbsp;порядке и&nbsp;на&nbsp;условиях, предусмотренных ниже.Акцепт Публичной Оферты осуществляется в&nbsp;порядке, предусмотренном в&nbsp;настоящей Оферте. Акцепт Публичной Оферты Заказчиком означает, что Заказчик согласен со&nbsp;всеми положениями настоящей Публичной Оферты без каких-либо изъятий или ограничений. Акцепт Публичной Оферты равносилен заключению Договора на&nbsp;условиях, изложенных в&nbsp;настоящей Публичной Оферте.</p>
                <p>В&nbsp;соответствии со&nbsp;статьей 421, 435, 437, 438 Гражданского Кодекса Республики Беларусь (ГК&nbsp;РБ), безусловным принятием (акцептом) условий настоящей Оферты считается осуществление Заказчиком регистрации на&nbsp;Сайте путем заполнения регистрационной формы и&nbsp;выражения согласия с&nbsp;условиями Соглашения при нажатии кнопки «Зарегистрироваться», размещенной на&nbsp;странице Сайта с&nbsp;регистрационной формой.</p>
                <p>Настоящее Соглашение, заключаемое путем акцепта настоящей Оферты, не&nbsp;требует двустороннего подписания и&nbsp;действительно в&nbsp;электронном виде.</p>
                <ol>
                    <li>
                        <b>Термины и&nbsp;определения, используемые в&nbsp;Соглашении</b>
                        <p>В&nbsp;Соглашении, если из&nbsp;текста Соглашения прямо не&nbsp;вытекает иное, следующие слова и&nbsp;выражения будут иметь указанные ниже значения:</p>
                        <ol>
                            <li>
                                <b>Сайт</b>
                                — совокупность программных и&nbsp;аппаратных средств для ЭВМ, обеспечивающих публикацию для всеобщего обозрения информации и&nbsp;данных, объединенных общим целевым назначением, посредством технических средств, применяемых для связи между ЭВМ в&nbsp;сети Интернет. Сайт доступен Пользователям по&nbsp;уникальному электронному адресу или его буквенному обозначению. Под Сайтом в&nbsp;Соглашении понимается Сайт Исполнителя, расположенный в&nbsp;сети Интернет по&nbsp;адресу FotoGazon.ru.
                            </li>
                            <li>
                                <b>Пользователь</b>
                                — пользователь сети Интернет и&nbsp;в&nbsp;частности Сайта.
                            </li>
                            <li>
                                <b>Заказчик</b>
                                — лицо, прошедший процедуру регистрации на&nbsp;Сайте, имеющий свою личную страницу (Профиль/аккаунт), размещенную в&nbsp;Базе данных на&nbsp;Сайте зарегистрированное на&nbsp;сайте в&nbsp;качестве Заказчика, разместившее объявление о&nbsp;Конкурсе. Заказчиком может быть полностью дееспособное физическое лицо, достигшее восемнадцатилетнего возраста, резидент Российской Федерации или нерезидент Российской Федерации, индивидуальный предприниматель, а&nbsp;также юридическое лицо, созданное в&nbsp;соответствии с&nbsp;законодательством Российской Федерации или любого иного государства.
                            </li>
                            <li>
                                <b>Профиль/аккаунт (Профиль)</b>
                                — личная страница Заказчика на&nbsp;Сайте, доступная всем Пользователям Сайта.
                            </li>
                            <li>
                                <b>База данных Сайта</b>
                                — совокупность Профилей Заказчика на&nbsp;Сайте.
                            </li>
                            <li>
                                <b>Учетная информация Заказчика</b>
                                — уникальное имя Пользователя (логин) и&nbsp;пароль для входа на&nbsp;Сайт, указываемые Пользователем при регистрации на&nbsp;Сайте.
                            </li>
                            <li>
                                <b>Услуги</b>
                                — Платные и&nbsp;Бесплатные услуги Исполнителя, предоставляемые Исполнителем на&nbsp;условиях Соглашения Заказчику посредством Сайта.
                            </li>
                            <li>
                                <b>Платные услуги</b>
                                — возмездные услуги, предоставляемые Исполнителем на&nbsp;условиях Соглашения Заказчику посредством Сайта. Перечень платных услуг, их&nbsp;стоимость, условия и&nbsp;сроки их&nbsp;оказания, постоянно размещенные в&nbsp;публичном доступе на&nbsp;Сайте по&nbsp;адресу: FotoGazon.ru.
                            </li>
                            <li>
                                <b>Бесплатные услуги</b>
                                — услуги и&nbsp;возможности, предоставляемые Исполнителем на&nbsp;условиях Соглашения Заказчику посредством Сайта, не&nbsp;требующие оплаты со&nbsp;стороны Заказчика. Все Услуги, прямо не&nbsp;названные на&nbsp;Сайте платными, предоставляются безвозмездно и&nbsp;признаются Бесплатными услугами.
                            </li>
                            <li>
                                <b>Счет Исполнителя</b>
                                — расчетный счет Исполнителя в&nbsp;Банке (кредитной организации), либо в&nbsp;платежных системах Яндекс.Деньги, Webmoney и&nbsp;иных платежных системах, представленных на&nbsp;Сайте.
                            </li>
                            <li>
                                <b>Лицевой счет Заказчика на&nbsp;Сайте</b>
                                — система учета денежных средств на&nbsp;Сайте по&nbsp;расчетным операциям Сторон, расположенная в&nbsp;Личном кабинете Заказчика.
                            </li>
                            <li>
                                <b>Личный кабинет Заказчика</b>
                                — совокупность защищенных страниц на&nbsp;Cайте, создаваемых при регистрации Заказчика, на&nbsp;которой Заказчик осуществляет выбор и&nbsp;заказ Услуг, внесение средств на&nbsp;Лицевой счет и&nbsp;перечисление средств в&nbsp;оплату Платных услуг, учет средств, историю платежей, а&nbsp;также пользуется Бесплатными услугами, в&nbsp;том числе, но, не&nbsp;ограничиваясь: осуществляет создание объявлений, подлежащих последующей публикации на&nbsp;Сайте, и&nbsp;иных Бесплатных услуг. Доступ к&nbsp;Личному кабинету осуществляется Заказчиком посредством ввода Учетной информации Заказчика.
                            </li>
                            <li>
                                <b>Активация Платной услуги</b>
                                — списание с&nbsp;Лицевого счета Заказчика на&nbsp;Сайте стоимости Услуг, выбранных Заказчиком, и&nbsp;последующее предоставление ему этих Платных услуг.
                            </li>
                            <li>
                                <b>Модерация</b>
                                — просмотр Исполнителем размещаемой (или планируемой к&nbsp;размещению&nbsp;—
                                <b>Премодерация)</b>
                                на&nbsp;Сайте Заказчиком информации на&nbsp;предмет ее&nbsp;соответствия положениям Соглашения и&nbsp;условиям документов, указанных в&nbsp;п.&nbsp;2.3&nbsp;Соглашения, а&nbsp;в&nbsp;случаях, предусмотренных&nbsp;п.&nbsp;3.1.6 Соглашения&nbsp;— удаление информации с&nbsp;Сайта без уведомления Заказчика. Модерация не&nbsp;является обязанностью Исполнителя, за&nbsp;исключением случаев Премодерации, если на&nbsp;это содержится прямое указание.
                            </li>
                        </ol>
                    </li>
                    <li>
                        <b>Предмет Соглашения</b>
                        <ol>
                            <li>Исполнитель обязуется оказывать Услуги Заказчику, а&nbsp;Заказчик обязуется соблюдать условия Соглашения, в&nbsp;том числе, но, не&nbsp;ограничиваясь, оплачивать Платные услуги.</li>
                            <li>Исполнитель оказывает Заказчику Услуги путем предоставления доступа к&nbsp;Базе данных, предоставления возможности осуществлять публикации вакансий и&nbsp;Профиля на&nbsp;Сайте, а&nbsp;также путем предоставления иных Бесплатных услуг, а&nbsp;также путем предоставления Платных услуг, указанных в&nbsp;Перечне платных услуг.</li>
                            <li>
                                Обязательным условием оказания Исполнителем Услуг в&nbsp;соответствии с&nbsp;Соглашением является принятие, соблюдение Заказчиком и&nbsp;применение к&nbsp;отношениям Сторон требований и&nbsp;положений, определенных следующими документами:
                                <ol>
                                    <li>Настоящее Соглашение и&nbsp;все приложения к&nbsp;нему;</li>
                                    <li>Перечень платных услуг, постоянно размещенный в&nbsp;публичном доступе на&nbsp;Сайте по&nbsp;адресу Fotogazon.ru/price (Приложение №&nbsp;1&nbsp;к настоящему Соглашению).</li>
                                    <li>«Правила использования ресурсов Сайтом», постоянно размещенные в&nbsp;публичном доступе на&nbsp;Сайте по&nbsp;адресу: Fotogazon.ru/rules;</li>
                                </ol>
                            </li>
                            <li>
                                Исполнитель оставляет за&nbsp;собой право изменять условия Соглашения и&nbsp;всех его неотъемлемых частей без согласования с&nbsp;Заказчиком с&nbsp;уведомлением последнего посредством размещения на&nbsp;Сайте новой редакции Соглашения или какой-либо его неотъемлемой части, подвергшейся изменениям. Принимая во&nbsp;внимание, что информационная рассылка может быть признана спамом, Заказчик обязуется не&nbsp;менее одного раза в&nbsp;месяц знакомиться с&nbsp;содержанием Соглашения, размещённого на&nbsp;Сайте, в&nbsp;целях своевременного ознакомления с&nbsp;его изменениями.
                                <p>Новая редакция Соглашения и/или какой-либо его неотъемлемой части вступает в&nbsp;силу с&nbsp;момента опубликования на&nbsp;Сайте, если иной срок вступления изменений в&nbsp;силу не&nbsp;определен Исполнителем при их&nbsp;опубликовании. Действующая редакция Соглашения и&nbsp;всех приложений к&nbsp;нему всегда находится на&nbsp;Сайте в&nbsp;публичном доступе по&nbsp;адресу: Fotogazon.ru/agreement.</p>
                            </li>
                        </ol>
                    </li>
                    <li>
                        <b>Права и&nbsp;обязанности сторон</b>
                        <ol>
                            <li>
                                <b>Права и&nbsp;обязанности Исполнителя</b>
                                <ol>
                                    <li>Исполнитель оказывает Заказчику Услуги. Объем, сроки, условия оказания Услуг определяются типом Услуг, приобретаемых Заказчиком или получаемых им&nbsp;безвозмездно (Бесплатные услуги), но&nbsp;в&nbsp;любом случае с&nbsp;учетом того, что возможность или невозможность получить доступ к&nbsp;Базе данных определяется в&nbsp;момент запроса к&nbsp;Базе данных при помощи Сайта, Исполнитель не&nbsp;гарантирует, что информация, доступная в&nbsp;определенный момент времени, будет доступна в&nbsp;любой другой момент времени на&nbsp;протяжении срока действия Соглашения.</li>
                                    <li>Исполнитель предоставляет Заказчику возможность самостоятельно публиковать информацию о&nbsp;самом Заказчике, а&nbsp;также о&nbsp;предлагаемых им&nbsp;проектах, вакансиях, услугах на&nbsp;Сайте с&nbsp;соблюдением условий и&nbsp;правил, изложенных в&nbsp;документах, указанных в&nbsp;п.&nbsp;2.3. Соглашения.</li>
                                    <li>Содержание Услуг, сроки их&nbsp;предоставления и&nbsp;иные параметры Услуги определяются Заказчиком самостоятельно посредством выбора Услуги и/или Активации Платной услуги в&nbsp;Личном кабинете Заказчика, или на&nbsp;странице, содержащей предложение Платной Услуги (далее&nbsp;— промо-страница Платной услуги), или в&nbsp;Перечне платных Услуг. Порядок оплаты и&nbsp;Активации Услуг описан в&nbsp;разделе 6&nbsp;Соглашения.</li>
                                    <li>Исполнитель вправе по&nbsp;своему усмотрению в&nbsp;одностороннем порядке изменять стоимость Платных услуг. Об&nbsp;изменении стоимости Платных услуг Исполнитель обязан уведомлять Заказчика путем размещения соответствующей информации на&nbsp;Сайте на&nbsp;странице, где данная Платная услуга предлагается к&nbsp;приобретению, а&nbsp;также путем внесения изменений в&nbsp;Перечень платных услуг. При изменении стоимости Платных услуг предоставление уже оплаченных Заказчиком услуг происходит в&nbsp;соответствии с&nbsp;теми тарифами, которые действовали на&nbsp;момент Активации соответствующих Платных услуг.</li>
                                    <li>
                                        В&nbsp;случае нарушения Заказчиком условий Соглашения, а&nbsp;также условий документов, указанных в&nbsp;п.&nbsp;2.3&nbsp;Соглашения, Исполнитель может по&nbsp;своему усмотрению предпринять следующие действия по&nbsp;отношению к&nbsp;Заказчику в&nbsp;зависимости от&nbsp;ситуации:
                                        <ul>
                                            <li>направить Заказчику предупреждение, содержащее перечень нарушений;</li>
                                            <li>направить Заказчику повторное предупреждение, содержащее перечень нарушений;</li>
                                            <li>в&nbsp;одностороннем порядке заблокировать доступ Пользователей к&nbsp;Профилю Заказчика, аннулировать Личный кабинет Заказчика и&nbsp;удержать с&nbsp;Заказчика штраф в&nbsp;размере неиспользованного остатка денежных средств по&nbsp;Активированным Платным услугам. При этом Исполнитель обязан вернуть Заказчику сумму денежных средств, находящихся на&nbsp;Лицевом счете Заказчика на&nbsp;Сайте на&nbsp;момент расторжения Соглашения по&nbsp;письменному требованию Заказчика, в&nbsp;соответствии с&nbsp;п.&nbsp;3.1.8&nbsp;Соглашения. В&nbsp;случае если такие нарушения причинили ущерб третьим лицам, ответственность за&nbsp;них полностью лежит на&nbsp;Заказчике.</li>
                                        </ul>
                                    </li>
                                    <li>В&nbsp;течение срока действия Соглашения Исполнитель вправе осуществлять Модерацию и&nbsp;Премодерацию в&nbsp;случаях, когда информация, размещаемая Заказчиком, пропагандирует ненависть и/или дискриминацию людей по&nbsp;расовому, этническому, половому, религиозному, социальному признакам; пропагандирует употребление наркотических и&nbsp;прочих средств, наносящих вред здоровью; призывает к&nbsp;бесчеловечному обращению с&nbsp;животными; нарушает права национальных и&nbsp;иных меньшинств; содержит призывы к&nbsp;насильственным действиям; нарушает права авторов и&nbsp;иных владельцев интеллектуальных прав.</li>
                                    <li>Исполнитель обязуется не&nbsp;разглашать третьим лицам Учетную информацию Заказчика, не&nbsp;отраженную в&nbsp;общедоступном Профиле Заказчика.</li>
                                    <li>
                                        Исполнитель обязуется осуществить возврат денежных средств, находящихся на&nbsp;Лицевом счете Заказчика на&nbsp;Сайте, в&nbsp;течение двадцати рабочих дней с&nbsp;даты получения от&nbsp;Заказчика требования о&nbsp;возврате денежных средств в&nbsp;письменном виде. При этом суммарная стоимость Платных услуг (в&nbsp;соответствии с&nbsp;Перечнем платных услуг), которые были получены Заказчиком по&nbsp;акциям/бонусам/спецпроектам и&nbsp;так далее и&nbsp;потрачены, будут вычтены Исполнителем из&nbsp;суммы денежных средств, находящихся на&nbsp;Лицевом счете Заказчика на&nbsp;Сайте.
                                        <p>Требование о&nbsp;возврате денежных средств должно быть составлено по&nbsp;форме, предоставленной Исполнителем, и&nbsp;содержать как минимум следующие данные:</p>
                                        <ul>
                                            <li>при оплате от&nbsp;юридического лица посредством банковского перевода: наименование юридического лица, номер и&nbsp;дата платежного поручения, реквизиты, с&nbsp;которых произведено пополнение счета;</li>
                                            <li>при пополнении счета от&nbsp;физического лица посредством банковского перевода: фамилия, имя и&nbsp;отчество плательщика, адрес, номер и&nbsp;дата платежного поручения, реквизиты, с&nbsp;которых произведено пополнение счета;</li>
                                            <li>при пополнении счета посредством банковской карты&nbsp;— фамилия, имя и&nbsp;отчество плательщика, адрес, название банка, фамилия, имя и&nbsp;отчество держателя карты, номер карты, с&nbsp;которой было произведено пополнение счета;</li>
                                            <li>при пополнении счета посредством платежной системы&nbsp;— фамилия, имя и&nbsp;отчество плательщика, адрес, название платежной системы, номер кошелька, с&nbsp;которого произведено пополнение счета.</li>
                                        </ul>
                                    </li>
                                </ol>
                            </li>
                            <li>
                                <b>Права и&nbsp;обязанности Заказчика</b>
                                <ol>
                                    <li>
                                        Заказчик обязуется использовать персональные данные, размещенные в&nbsp;Базе данных Сайта в&nbsp;соответствии с&nbsp;Федеральным Законом «О&nbsp;персональных данных» №&nbsp;152-ФЗ от&nbsp;27&nbsp;июля 2006&nbsp;г. и&nbsp;всеми вносимыми в&nbsp;него изменениями в&nbsp;течение срока действия Соглашения, а&nbsp;именно:
                                        <ul>
                                            <li>персональные данные из&nbsp;Базы данных могут использоваться только с&nbsp;целью обеспечения функционирования Сайта и&nbsp;последующего предоставления Услуг Заказчику Исполнителем;</li>
                                            <li>Заказчику запрещается передавать сведения о&nbsp;других Заказчиках, полученные посредством Сайта, третьим лицам;</li>
                                            <li>в&nbsp;случае если Заказчик сохраняет копии Профилей из&nbsp;Базы данных на&nbsp;бумажных или электронных носителях, то&nbsp;он&nbsp;обязан делать это в&nbsp;соответствии с&nbsp;Федеральным Законом №&nbsp;152-ФЗ от&nbsp;27&nbsp;июля 2006&nbsp;г. и&nbsp;всеми вносимыми в&nbsp;него изменениями в&nbsp;течение срока действия Соглашения, принимая на&nbsp;себя все обязательства оператора в&nbsp;терминах данного закона;</li>
                                            <li>в&nbsp;случае нанесения ущерба другим Заказчикам, связанного с&nbsp;невыполнением Заказчиком требований Федерального Закона №&nbsp;152-ФЗ от&nbsp;27&nbsp;июля 2006&nbsp;г. и&nbsp;всех вносимых в&nbsp;него изменений в&nbsp;течение срока действия Соглашения, ответственность за&nbsp;это полностью лежит на&nbsp;Заказчике.</li>
                                        </ul>
                                    </li>
                                    <li>Заказчику запрещается передавать свою Учетную информацию третьим лицам.</li>
                                    <li>Заказчик имеет право самостоятельно изменять пароль, не&nbsp;уведомляя об&nbsp;этом Исполнителя.</li>
                                    <li>Заказчик имеет право внести любую денежную сумму в&nbsp;качестве предоплаты по&nbsp;своему усмотрению для последующей Активации услуг. Информация о&nbsp;стоимости Платных услуг Исполнителя содержится в&nbsp;Перечне платных услуг, на&nbsp;промо-странице Платной услуги, в&nbsp;Личном кабинете Заказчика.</li>
                                </ol>
                            </li>
                        </ol>
                    </li>
                    <li>
                        <b>Персональные данные</b>
                        <ol>
                            <li>Информация о&nbsp;Заказчике, расположенная на&nbsp;его Профиле, содержит (может содержать) его персональные данные. При этом такие персональные данные Заказчика являются общедоступными, и&nbsp;любой Пользователь Сайта может ознакомиться с&nbsp;ними.</li>
                            <li>Учитывая, что персональные данные с&nbsp;согласия Заказчика являются общедоступными, тем не&nbsp;менее, Исполнитель при обработке персональных данных Заказчиков обязуется принять все организационные и&nbsp;технические меры для их&nbsp;защиты от&nbsp;несанкционированного доступа способом, не&nbsp;предусмотренным Сайтом.</li>
                            <li>Однако не&nbsp;исключено, что в&nbsp;результате сбоя в&nbsp;работе Сайта, вирусной или хакерской атаки, технических неисправностей и&nbsp;иных обстоятельств персональные данные Заказчика могут стать доступными и&nbsp;другим лицам. Заказчик это понимает и&nbsp;соглашается с&nbsp;тем, что не&nbsp;будет предъявлять претензии к&nbsp;Исполнителю в&nbsp;связи с&nbsp;этим, учитывая, что он&nbsp;делает свои персональные данные общедоступными.</li>
                            <li>
                                В&nbsp;силу настоящего Соглашения, указывая свои персональные данные на&nbsp;Сайте, Заказчик безусловно соглашается:
                                <ul>
                                    <li>с&nbsp;предоставлением персональных данных неограниченному кругу лиц при помощи Сайта;</li>
                                    <li>с&nbsp;обработкой персональных данных Исполнителем;</li>
                                    <li>с&nbsp;распространением персональных данных при помощи Сайта;</li>
                                    <li>с&nbsp;иными действиями Исполнителя в&nbsp;отношении таких данных в&nbsp;связи с&nbsp;функционированием Сайта.</li>
                                </ul>
                            </li>
                            <li>Размещая на&nbsp;Сайте свои персональные данные, Заказчик подтверждает, что делает это добровольно, а&nbsp;также что он&nbsp;добровольно предоставляет их&nbsp;Исполнителю для обработки. Если Заказчик не&nbsp;согласен с&nbsp;вышеуказанными условиями, то&nbsp;он&nbsp;не&nbsp;должен регистрироваться на&nbsp;Сайте или должен немедленно удалить свой Профиль.</li>
                            <li>Исполнитель обрабатывает только те&nbsp;персональные данные Заказчика, которые были размещены им&nbsp;на&nbsp;Сайте. Персональные данные Заказчика обрабатываются с&nbsp;помощью программно-аппаратных и&nbsp;технических средств Сайта.</li>
                            <li>Целью обработки персональных данных Заказчиков является составление Базы данных Заказчиков Сайта для обеспечения функционирования Сайта и&nbsp;последующего предоставления Услуг Заказчику Исполнителем.</li>
                            <li>Персональные данные Заказчика обрабатываются Исполнителем в&nbsp;течение срока их&nbsp;размещения на&nbsp;Сайте. После размещения на&nbsp;Сайте персональные данные хранятся в&nbsp;заблокированном виде до&nbsp;прекращения деятельности Исполнителя как юридического лица для их&nbsp;анализа на&nbsp;предмет мошенничества Пользователя в&nbsp;отношении третьих лиц. При этом Исполнитель не&nbsp;удаляет персональные данные по&nbsp;запросу Пользователя для соблюдения пунктов настоящего договора, основываясь на&nbsp;п.5&nbsp;ст. 21&nbsp;Федерального Закона №&nbsp;152-ФЗ «О&nbsp;персональных данных».</li>
                            <li>Согласно п. 5&nbsp;ст. 21&nbsp;Федерального Закона 152-ФЗ «О&nbsp;персональных данных», обработка Исполнителем персональных данных Заказчика осуществляется в&nbsp;целях функционирования Сайта и&nbsp;проверки персональных данных Пользователя на&nbsp;предмет мошенничества в&nbsp;отношении третьих лиц и&nbsp;сама по&nbsp;себе их&nbsp;обработка Сайтом не&nbsp;может повлечь каких-либо негативных последствий для Заказчика. При этом Исполнитель не&nbsp;несет ответственности за&nbsp;использование персональных данных Заказчика другими лицами.</li>
                            <li>Заказчик обязуется не&nbsp;размещать на&nbsp;Сайте персональные данные других лиц, а&nbsp;также не&nbsp;использовать персональные данные других Заказчиков или Пользователей каким-либо образом, не&nbsp;соответствующим требованиям законодательства&nbsp;РФ, в&nbsp;противоправных или противозаконных целях, в&nbsp;целях извлечения выгоды и&nbsp;любых иных целях, не&nbsp;соответствующих целям создания Сайта.</li>
                            <li>
                                Исполнитель имеет право сохранять архивную копию и&nbsp;без ущерба для иных положений Соглашения без согласия Заказчика передать данные о&nbsp;Заказчике:
                                <ul>
                                    <li>государственным органам, в&nbsp;том числе органам дознания и&nbsp;следствия, и&nbsp;органам местного самоуправления по&nbsp;их&nbsp;мотивированному запросу;</li>
                                    <li>на&nbsp;основании судебного акта;</li>
                                    <li>в&nbsp;иных предусмотренных действующим законодательством&nbsp;РФ случаях.</li>
                                </ul>
                            </li>
                        </ol>
                    </li>
                    <li>
                        <b>Порядок оказания Услуг</b>
                        <ol>
                            <li>В&nbsp;целях пользования Услугами, предоставляемыми Исполнителем по&nbsp;Соглашению посредством Сайта, Заказчик должен пройти обязательную процедуру регистрации Заказчика на&nbsp;Сайте.</li>
                            <li>По&nbsp;завершении процесса регистрации Заказчик становится обладателем Учетной информации Заказчика, что означает, что он&nbsp;несет ответственность за&nbsp;безопасность Учетной информации, а&nbsp;также за&nbsp;все, что будет сделано на&nbsp;Сайте под Учетной информацией Заказчика. Заказчик обязан немедленно уведомить Исполнителя о&nbsp;любом случае несанкционированного доступа к&nbsp;Сайту, то&nbsp;есть осуществленного третьим лицом без согласия и&nbsp;ведома Заказчика, и/или о&nbsp;любом нарушении безопасности Учетной информации Заказчика. Заказчик гарантирует, что будет при работе с&nbsp;Сайтом самостоятельно осуществлять завершение работы под своей Учетной информацией путем нажатия кнопки «Выход» по&nbsp;окончании каждой сессии работы с&nbsp;Сайтом. Исполнитель не&nbsp;несет ответственность за&nbsp;возможную потерю или порчу данных, которая может произойти из-за нарушения Заказчиком положений настоящего пункта Соглашения.</li>
                            <li>Для начала работы с&nbsp;Сайтом Заказчик должен сообщить свою Учетную информацию (ввести логин и&nbsp;пароль на&nbsp;странице авторизации).</li>
                            <li>Для начала использования Платных Услуг, предоставляемых посредством Сайта, Заказчик должен произвести Активацию Платных услуг. Для этого в&nbsp;Личном кабинете или на&nbsp;странице, где представлена информация о&nbsp;Платной услуге с&nbsp;возможностью ее&nbsp;приобретения, Заказчик выбирает требуемые Платные услуги, а&nbsp;программное обеспечение Сайта автоматически подсчитывает их&nbsp;суммарную стоимость. В&nbsp;случае, если сумма на&nbsp;Лицевом счете Заказчика на&nbsp;Сайте больше или равна суммарной стоимости выбранных Платных услуг, Заказчик имеет возможность Активировать Платные услуги. В&nbsp;случае, если сумма на&nbsp;Лицевом счете Заказчика на&nbsp;Сайте меньше суммарной стоимости выбранных Платных услуг, Заказчик может выбрать другие Платные услуги или внести необходимую сумму на&nbsp;Лицевой счет Заказчика на&nbsp;Сайте.</li>
                            <li>Платная услуга считается надлежаще оказанной Исполнителем и&nbsp;принятой Заказчиком, если в&nbsp;течение&nbsp;1 (одного) дня с&nbsp;момента окончания срока действия Платной услуги, если услуга предполагает срок действия, или в&nbsp;течение&nbsp;2 (двух) часов с&nbsp;момента, когда Платная услуга предполагает наступление какого-либо события, не&nbsp;длящегося во&nbsp;времени (с&nbsp;момента Активации услуги), Заказчик не&nbsp;заявил Исполнителю в&nbsp;письменном виде о&nbsp;неоказании Активированной Платной услуги и/или ненадлежаще оказанной Активированной Платной услуге. При этом, при оказании Платных услуг, предполагающих срок действия, сдача-приемка оказанных Услуг производится по&nbsp;окончании календарного месяца оказания Платной услуги и&nbsp;в&nbsp;дату окончания оказания Платной услуги, если эти даты совпадают, то&nbsp;сдача-приемка оказанных Услуг производится один раз&nbsp;— в&nbsp;дату окончания календарного месяца оказания Платной услуги. Письменная претензия должна содержать подробные указания на&nbsp;несоответствие оказанной Исполнителем Платной услуги положениям Соглашения, а&nbsp;также должна быть подтверждена документально, в&nbsp;том числе, путем приложения к&nbsp;претензии скриншотов («скриншот» (screenshot)&nbsp;— мгновенное «фотографирование» экрана работающего компьютера с&nbsp;последующим запоминанием, обработкой и&nbsp;сохранением результата в&nbsp;отдельный графический файл), подтверждающих ненадлежащее оказание Платной услуги или ее&nbsp;неоказание. При этом скриншот не&nbsp;является неопровержимым доказательством ненадлежащего оказания Исполнителем Услуги.</li>
                            <li>В&nbsp;случае поступления в&nbsp;адрес Исполнителя письменной претензии, указанной в&nbsp;п.&nbsp;5.5&nbsp;Соглашения, составленной в&nbsp;соответствии с&nbsp;условиями Соглашения и&nbsp;своевременно направленной в&nbsp;адрес Исполнителя, Исполнитель обязуется осуществить проверку по&nbsp;заявленному факту неоказания или ненадлежащего оказания Платной услуги и&nbsp;направить в&nbsp;адрес Заказчика согласие с&nbsp;претензией или мотивированное несогласие с&nbsp;ней. В&nbsp;случае согласия Исполнителя с&nbsp;претензией Заказчика о&nbsp;неоказании Платной услуги или ее&nbsp;части или ненадлежащем оказании Платной услуги или ее&nbsp;части, Исполнитель обязуется повторно предоставить Платную услугу или ее&nbsp;часть, в&nbsp;объеме, соответствующем неоказанной или ненадлежаще оказанной Услуги.</li>
                            <li>По&nbsp;письменному требованию Заказчика, Исполнитель предоставляет Заказчику счета-фактуры и&nbsp;(или) акты, и&nbsp;иные обязательные бухгалтерские документы, свидетельствующие и&nbsp;подтверждающие оказание Платных услуг Заказчику по&nbsp;Соглашению. Указанные в&nbsp;настоящем пункте Соглашения документы направляются Заказчику почтой России по&nbsp;адресу, указанному в&nbsp;требовании Заказчика, либо вручаются Заказчику в&nbsp;офисе Исполнителя. Требование о&nbsp;предоставлении указанных документов должно содержать всю информацию о&nbsp;Заказчике, необходимую для составления указанных документов в&nbsp;соответствии с&nbsp;законодательством РФ. В&nbsp;случае неполноты или недостоверности данных, предоставленных Заказчиком в&nbsp;требовании, Исполнитель вправе не&nbsp;осуществлять отправку указанных документов до&nbsp;момента предоставления Заказчиком скорректированных данных.</li>
                            <li>
                                Заказчик, в&nbsp;адрес которого Исполнителем направлены документы во&nbsp;исполнение положений&nbsp;п.&nbsp;5.7&nbsp;Соглашения, обязан направлять в&nbsp;адрес Исполнителя полученный от&nbsp;него и&nbsp;подписанный со&nbsp;своей стороны экземпляр акта сдачи-приемки услуг в&nbsp;срок не&nbsp;позднее&nbsp;5 (пяти) рабочих дней с&nbsp;даты получения акта. В&nbsp;случае ненаправления акта в&nbsp;указанные сроки, акт считается и&nbsp;признается Сторонами подписанным.
                                <p>Положения настоящего пункта Соглашения также применяются в&nbsp;случае, если указанный Заказчиком адрес для отправки почтового отправления не&nbsp;существует, либо по&nbsp;нему отсутствуют сотрудники Заказчика или сам Заказчик, либо Заказчик не&nbsp;уведомил Исполнителя об&nbsp;изменении адреса, а&nbsp;также в&nbsp;иных случаях, когда в&nbsp;силу объективных причин акт сдачи-приемки оказанных Услуг не&nbsp;представляется возможным вручить Заказчику.</p>
                            </li>
                        </ol>
                    </li>
                    <li>
                        <b>Стоимость и&nbsp;порядок расчетов</b>
                        <ol>
                            <li>
                                Заказчик имеет право внести любую денежную сумму по&nbsp;своему усмотрению с&nbsp;целью пополнения Лицевого счета для последующей Активации Платных услуг.
                                <p>Стоимость Платных услуг, которые могут быть оказаны по&nbsp;Соглашению Исполнителем, указана на&nbsp;Сайте на&nbsp;промо-странице Платной услуги, в&nbsp;Перечне платных услуг, размещенном на&nbsp;Сайте по&nbsp;адресу http://fotogazon.ru/profile/payments/new, и&nbsp;в&nbsp;Личном кабинете Заказчика. В&nbsp;случае расхождения данных преимущественную силу имеют данные, представленные на&nbsp;промо-странице Платной услуги на&nbsp;Сайте.</p>
                            </li>
                            <li>Оплата Платных услуг Исполнителя по&nbsp;Соглашению осуществляется путем безналичного перевода денежных средств в&nbsp;виде 100%-ной предоплаты и&nbsp;списывается с&nbsp;Лицевого счета Заказчика на&nbsp;Сайте.</li>
                            <li>Зачисление денежных средств Заказчиком на&nbsp;Лицевой счет Заказчика производится любым из&nbsp;способов, предложенных на&nbsp;Сайте, включая, но&nbsp;не&nbsp;ограничиваясь, путем внесении денежных средств в&nbsp;рублях через платежную систему Яндекс.Деньги, Webmoney, через Терминалы ОСМП (QIWI) и&nbsp;другие терминалы, путем осуществления банковского перевода как физическими, так и&nbsp;юридическими лицами, путем оплаты пластиковыми картами. Зачисление денежных средств на&nbsp;Лицевой счет Заказчика производится в&nbsp;течение&nbsp;3 (трех) рабочих дней c&nbsp;момента поступления денежных средств на&nbsp;расчетный счет Исполнителя.</li>
                            <li>Заказчик не&nbsp;имеет права совершать оплату по&nbsp;Соглашению Исполнителю со&nbsp;счетов третьих лиц без письменного уведомления Заказчиком Исполнителя с&nbsp;последующим получением письменного согласия Исполнителя.</li>
                            <li>На&nbsp;Сайте для оплаты и&nbsp;взаиморасчетов в&nbsp;качестве валюты используются рубли Российской Федерации. Комиссии при осуществлении оплаты посредством подключённых терминалов, банковские комиссии и&nbsp;комиссии платежных систем не&nbsp;включеныв стоимость Платных услуг.</li>
                        </ol>
                    </li>
                    <li>
                        <b>Интеллектуальная собственность</b>
                        <ol>
                            <li>
                                <b>Интеллектуальная собственность Исполнителя</b>
                                <ol>
                                    <li>Дизайн и&nbsp;программный код Сайта, информационное, графическое, аудио, видео, фото и&nbsp;иное наполнение Сайта, осуществляемое Исполнителем и&nbsp;размещённое им&nbsp;на&nbsp;Сайте (как видимые для Пользователя, так и&nbsp;не&nbsp;видимые без выполнения специальных действий как правомерных, так и&nbsp;нет), являются интеллектуальной собственностью Исполнителя или иных правообладателей, которые заключили соглашение с&nbsp;Исполнителем, дающее ему право размещать указанные объекты интеллектуальной собственности на&nbsp;Сайте или в&nbsp;его составе, и&nbsp;охраняются в&nbsp;соответствии с&nbsp;действующим законодательством Российской Федерации. Никакие объекты интеллектуальной собственности, а&nbsp;также передача прав на&nbsp;них не&nbsp;являются предметом Соглашения.</li>
                                    <li>Действия и/или бездействие Заказчика, повлекшие нарушение прав Исполнителя или направленные на&nbsp;нарушение прав Исполнителя на&nbsp;объекты интеллектуальной собственности, указанные в&nbsp;п.&nbsp;7.1.1&nbsp;Соглашения, влечет за&nbsp;собой для Заказчика уголовную, гражданскую и&nbsp;административную ответственность в&nbsp;соответствии с&nbsp;законодательством РФ. В&nbsp;случае нарушения Заказчиком положений&nbsp;п.&nbsp;7.1.1. и&nbsp;7.1.2. Соглашения, Исполнитель вправе незамедлительно осуществить действия по&nbsp;удалению Профиля Заказчика из&nbsp;Базы данных без выполнения условий&nbsp;п.&nbsp;3.1.5 Соглашения о&nbsp;направлении предупреждения.</li>
                                </ol>
                            </li>
                            <li>
                                <b>Интеллектуальная собственность Заказчика и&nbsp;третьих лиц</b>
                                <ol>
                                    <li>Заказчик самостоятельно несет ответственность в&nbsp;связи с&nbsp;использованием прав на&nbsp;объекты интеллектуальной собственности, содержащиеся в&nbsp;размещаемых Заказчиком на&nbsp;Сайте материалах, а&nbsp;также в&nbsp;материалах, передаваемых или получаемом Заказчиком посредством Сайта, хранящиеся на&nbsp;Сайте в&nbsp;Личном кабинете Заказчика или материалы, каким-либо иным способом становящиеся доступными с&nbsp;помощью или посредством Сайта вследствие действий и/или бездействия Заказчика.</li>
                                    <li>Заказчик гарантирует урегулирование всех возможных претензий правообладателей и/или авторов и/или исполнителей или иных третьих лиц к&nbsp;Исполнителю, связанных с&nbsp;материалами, указанными в&nbsp;п.&nbsp;7.2.1&nbsp;Соглашения, своими силами и&nbsp;за&nbsp;свой счет. В&nbsp;случае предъявления Исполнителю претензий, исков, требований третьими лицами по&nbsp;вопросу незаконного использования Заказчиком на&nbsp;Сайте объектов интеллектуальной собственности, Заказчик обязуется возместить Исполнителю все убытки, которые последний понес в&nbsp;результате такого нарушения или предъявления таких претензий, а&nbsp;Исполнитель вправе расторгнуть Соглашение в&nbsp;одностороннем порядке, осуществив удаление Профиля Заказчика из&nbsp;Базы данных.</li>
                                    <li>
                                        Принимая во&nbsp;внимание, что Сайт является общедоступным для Пользователей, а&nbsp;Исполнитель не&nbsp;гарантирует, что размещаемые или предоставляемые Пользователями на&nbsp;Сайте материалы являются свободными от&nbsp;требований третьих лиц, в&nbsp;случае, если Пользователь или Заказчик является правообладателем (или его правопреемником) на&nbsp;объекты интеллектуальной собственности, размещенные на&nbsp;Сайте, и&nbsp;его права тем или иным образом нарушаются с&nbsp;использованием Сайта, применяется следующая схема урегулирования претензий третьих лиц:
                                        <ul>
                                            <li>в&nbsp;адрес Исполнителя по&nbsp;электронной почте на&nbsp;адрес admin@fotogazon.ru направляется претензия, содержащая информацию об&nbsp;объекте интеллектуальной собственности, права на&nbsp;который принадлежат заявителю и&nbsp;который используется незаконно посредством Сайта, с&nbsp;приложением документов, подтверждающих правомочия заявителя, данные о&nbsp;правообладателе и&nbsp;копия доверенности на&nbsp;действия от&nbsp;лица правообладателя, если лицо, направляющее претензию, не&nbsp;является руководителем компании правообладателя или непосредственно физическим лицом&nbsp;— правообладателем. В&nbsp;претензии так&nbsp;же указывается адрес страницы Сайта, которая содержит данные, нарушающие права, и&nbsp;излагается полное описание сути нарушения прав (почему распространение данной информации запрещено правообладателем);</li>
                                            <li>Исполнитель обязуется рассмотреть надлежаще оформленную претензию в&nbsp;течение десяти рабочих дней с&nbsp;даты ее&nbsp;получения и&nbsp;уведомить заявителя о&nbsp;результатах ее&nbsp;рассмотрения. В&nbsp;том числе, Исполнитель вправе запросить дополнительные документы, свидетельства, данные, подтверждающие законность предъявляемой претензии. В&nbsp;случае признания претензии правомерной, Исполнитель примет все возможные меры, необходимые для прекращения нарушения прав заявителя.</li>
                                            <li>при этом Пользователь и/или Заказчик, предъявляя претензию в&nbsp;адрес Исполнителя, заявляет и&nbsp;гарантирует, что в&nbsp;случае возникновения претензий к&nbsp;Исполнителю со&nbsp;стороны третьих лиц (других Пользователей и/или Заказчиков), связанных с&nbsp;нарушением их&nbsp;прав (в&nbsp;том числе потребительских прав) в&nbsp;отношении удаленной/блокированной информации и/или данных, заявитель принимает все необходимые меры по&nbsp;урегулированию претензий, а&nbsp;также возможных споров, в&nbsp;том числе судебных, а&nbsp;также, в&nbsp;случае возникновения у&nbsp;Исполнителя убытков, возместит их&nbsp;в&nbsp;полном объеме.</li>
                                        </ul>
                                    </li>
                                </ol>
                            </li>
                            <li>Заказчик (Пользователь Сайта), размещая на&nbsp;Сайте объекты интеллектуальной собственности (далее&nbsp;— Объекты), безоговорочно соглашается с&nbsp;положениями настоящего пункта и&nbsp;разрешает Исполнителю на&nbsp;безвозмездной, неисключительной основе использовать указанные объекты интеллектуальной собственности в&nbsp;рекламных/информационных и&nbsp;иных некоммерческих целях, в&nbsp;том числе следующими способами: Заказчик (Пользователь Сайта) предоставляет Исполнителю неисключительное право осуществлять распространение Объектов, воспроизведение Объектов, публичный показ Объектов, право на&nbsp;доведение до&nbsp;всеобщего сведения Объектов, таким образом, что любое лицо может получить доступ к&nbsp;Объектам из&nbsp;любого места и&nbsp;в&nbsp;любое время по&nbsp;собственному выбору в&nbsp;том числе посредством сети Интернет, в&nbsp;том числе на&nbsp;Сайте Исполнителя, в&nbsp;социальных сетях http://www.facebook.com, http://vk.com, http://www.odnoklassniki.ru, http://www.livejournal.com/, https://twitter.com/ на&nbsp;страницах Исполнителя, используя в&nbsp;том числе, но&nbsp;не&nbsp;ограничиваясь: в&nbsp;подборках работ пользователей, в&nbsp;составе иных обобщающих постов, рейтингов, в&nbsp;статьях и&nbsp;обзорах и&nbsp;иными способами, отвечающими целям, указанным в&nbsp;настоящем пункте настоящего Соглашения. Исполнитель обязуется при каждом использовании Объектов указывать автора Объекта в&nbsp;том виде, как он&nbsp;указан на&nbsp;Сайте. Предоставление указанных прав осуществляется на&nbsp;безвозмездной основе, что означает, что Заказчик (Пользователь Сайта) не&nbsp;вправе требовать от&nbsp;Исполнителя выплаты вознаграждения за&nbsp;использование Объектов указанными в&nbsp;настоящем пункте Соглашения способами и/или в&nbsp;указанных целях.</li>
                        </ol>
                    </li>
                    <li>
                        <b>Ответственность Сторон</b>
                        <ol>
                            <li>Заказчик самостоятельно определяет перечень организационных и&nbsp;программных (для ЭВМ) средств для сохранения в&nbsp;тайне своей Учетной информации и&nbsp;обеспечения санкционированного доступа к&nbsp;ней. Исполнитель не&nbsp;несет ответственность за&nbsp;убытки, причиненные Заказчику в&nbsp;результате разглашения третьим лицам Учетной информации Заказчика, произошедшего не&nbsp;по&nbsp;вине Исполнителя. Если любое лицо помимо Заказчика авторизуется на&nbsp;Сайте, используя Учетную информацию Заказчика, то&nbsp;все действия, совершенные таким лицом, будут считаться совершенными этим Заказчиком. Заказчик самостоятельно несет ответственность за&nbsp;все действия, совершенные им&nbsp;на&nbsp;Сайте, а&nbsp;также за&nbsp;все действия, совершенные на&nbsp;Сайте любыми иными лицами с&nbsp;использованием Учетной информации Заказчика.</li>
                            <li>Исполнитель, с&nbsp;применением имеющихся программных средств на&nbsp;Сайте, обеспечивает Заказчику практическую возможность самостоятельного изменения пароля без предварительных уведомлений Исполнителя.</li>
                            <li>Исполнитель не&nbsp;гарантирует, что программное обеспечение Cайта не&nbsp;содержит ошибок и/или компьютерных вирусов или посторонних фрагментов кода. Исполнитель предоставляет возможность Заказчику пользоваться программным обеспечением Сайта «как оно есть», без каких-либо гарантий со&nbsp;стороны Исполнителя.</li>
                            <li>Исполнитель не&nbsp;несет ответственности за&nbsp;убытки, причиненные Заказчику в&nbsp;результате сообщения другим Заказчиком недостоверной информации, а&nbsp;также причиненные действиями (бездействием) другого Заказчика. Исполнитель не&nbsp;гарантирует, что информация, содержащаяся в&nbsp;Профилях Заказчиков, является достоверной и&nbsp;полной.</li>
                            <li>За&nbsp;нарушение прочих обязательств по&nbsp;Соглашению Стороны несут ответственность в&nbsp;соответствии с&nbsp;действующим законодательством РФ. При этом в&nbsp;любом случае ответственность Исполнителя перед Заказчиком наступает только при наличии вины Исполнителя и&nbsp;в&nbsp;случае требования возмещения убытков ограничена размером стоимости оплаченных Заказчиком Платных услуг.</li>
                            <li>
                                Исполнитель прилагает все возможные усилия для обеспечения нормальной работоспособности Сайта, однако не&nbsp;несет ответственности за&nbsp;неисполнение или ненадлежащее исполнение обязательств по&nbsp;Соглашению, а&nbsp;также возможные убытки, возникшие в&nbsp;том числе, но, не&nbsp;ограничиваясь, в&nbsp;результате:
                                <ol>
                                    <li>Неправомерных действий Пользователей и/или Заказчиков, направленных на&nbsp;нарушения информационной безопасности или нормального функционирования Сайта;</li>
                                    <li>Сбоев в&nbsp;работе Сайта, вызванных ошибками в&nbsp;коде, компьютерными вирусами и&nbsp;иными посторонними фрагментами кода в&nbsp;программном обеспеченииСайта;</li>
                                    <li>Отсутствия (невозможности установления, прекращения и&nbsp;пр.) Интернет-соединений между сервером Заказчика и&nbsp;сервером Сайта;</li>
                                    <li>Проведения государственными и&nbsp;муниципальными органами, а&nbsp;также иными организациями мероприятий в&nbsp;рамках Системы оперативно-розыскных мероприятий;</li>
                                    <li>Установления государственного регулирования (или регулирования иными организациями) хозяйственной деятельности коммерческих организаций в&nbsp;сети Интернет и/или установления указанными субъектами разовых ограничений, затрудняющих или делающих невозможным исполнение Соглашения;</li>
                                    <li>Других случаев, связанных с&nbsp;действиями (бездействием) Пользователей и/или других субъектов, направленными на&nbsp;ухудшение общей ситуации с&nbsp;использованием сети Интернет и/или компьютерного оборудования, существовавшей на&nbsp;момент заключения Соглашения, также любых других действий, направленных на&nbsp;Сайт и&nbsp;на&nbsp;третьих лиц;</li>
                                    <li>Выполнения работ, указанных в&nbsp;п.&nbsp;8.8 и&nbsp;п.&nbsp;8.9&nbsp;Соглашения.</li>
                                </ol>
                            </li>
                            <li>Исполнитель имеет право производить профилактические работы в&nbsp;программно-аппаратном комплексе Сайта с&nbsp;временным приостановлением работы Сайта по&nbsp;возможности в&nbsp;ночное время и&nbsp;максимально сокращая время неработоспособности Сайта, уведомляя об&nbsp;этом Заказчика, если технически это представляется возможным.</li>
                            <li>В&nbsp;случае наступления форс-мажорных обстоятельств, а&nbsp;также аварий или сбоев в&nbsp;программно-аппаратных комплексах третьих лиц, сотрудничающих с&nbsp;Исполнителем, или действий (бездействий) третьих лиц, направленных на&nbsp;приостановку или прекращение функционирования Сайта, возможна приостановка работы Сайта без предварительного уведомления Заказчика.</li>
                            <li>Ни&nbsp;одна из&nbsp;Сторон не&nbsp;несет ответственности за&nbsp;полное или частичное неисполнение любой из&nbsp;своих обязанностей, если неисполнение является следствием таких обстоятельств, как наводнение, пожар, землетрясение, другие стихийные бедствия, война или военные действия и&nbsp;другие обстоятельства непреодолимой силы, возникшие после заключения Соглашения и&nbsp;независящие от&nbsp;воли Сторон.</li>
                            <li>В&nbsp;случае действия обстоятельств непреодолимой силы более&nbsp;3 (трех) месяцев любая Сторона вправе в&nbsp;одностороннем порядке отказаться от&nbsp;исполнения своих обязательств по&nbsp;Соглашению (расторгнуть Соглашение).</li>
                        </ol>
                    </li>
                    <li>
                        <b>Порядок разрешения споров и&nbsp;урегулирования претензий</b>
                        <ol>
                            <li>В&nbsp;случае возникновения споров между Заказчиком и&nbsp;Исполнителем по&nbsp;вопросам, связанным с&nbsp;исполнением Соглашения, Стороны примут все меры к&nbsp;разрешению их&nbsp;путем переговоров между собой. Претензионный порядок разрешения споров обязателен. Претензии Заказчиков по&nbsp;предоставляемым Услугам принимаются и&nbsp;рассматриваются Исполнителем только в&nbsp;письменном виде и&nbsp;в&nbsp;порядке, предусмотренном настоящим Соглашением и&nbsp;действующим законодательством РФ.</li>
                            <li>
                                Для разрешения споров, возникших между Заказчиком и&nbsp;Исполнителем в&nbsp;результате использования Услуг, применяется следующий претензионный порядок:
                                <ul>
                                    <li>Заказчик, считающий, что его права нарушены из-за действий Исполнителя, направляет последнему по&nbsp;электронной почте на&nbsp;адрес admin@fotogazon.ru претензию, содержащую суть предъявляемого требования, обоснование его предъявления, а&nbsp;также все данные Заказчика. Претензия также направляется Исполнителю в&nbsp;письменном виде посредством отправки по&nbsp;почте или с&nbsp;курьером;</li>
                                    <li>в&nbsp;течение&nbsp;5 (пяти) рабочих дней со&nbsp;дня получения претензии Исполнитель обязан изложить свою позицию по&nbsp;указанным в&nbsp;ней принципиальным вопросам и&nbsp;направить свой ответ по&nbsp;адресу электронной почты и&nbsp;почтовому адресу, указанному в&nbsp;претензии Заказчиком;</li>
                                    <li>в&nbsp;случае недостижения разрешения спора путем претензионного порядка спор подлежит рассмотрению в&nbsp;соответствии с&nbsp;п.&nbsp;9.4&nbsp;Соглашения;</li>
                                    <li>Исполнителем не&nbsp;рассматриваются анонимные претензии или претензии, не&nbsp;позволяющие идентифицировать Заказчика на&nbsp;основе предоставленных им&nbsp;при регистрации данных, или претензии, не&nbsp;содержащие данных, указанных в&nbsp;настоящем пункте настоящего Соглашения.</li>
                                </ul>
                            </li>
                            <li>Для решения технических вопросов при определении вины Заказчика в&nbsp;результате его неправомерных действий при пользовании сетью Интернет и&nbsp;Сайтом в&nbsp;частности, Исполнитель вправе самостоятельно привлекать компетентные организации в&nbsp;качестве экспертов. В&nbsp;случае установления вины Заказчика последний обязан возместить затраты на&nbsp;проведение экспертизы.</li>
                            <li>При недостижении согласия между Cторонами путем переговоров, спор, вытекающий из&nbsp;настоящего Соглашения, подлежит рассмотрению в&nbsp;Арбитражном суде&nbsp;г. Москвы (если Заказчиком является юридическое лицо), либо в&nbsp;суде общей юрисдикции по&nbsp;месту нахождения Исполнителя (если Заказчиком является физическое лицо).</li>
                        </ol>
                    </li>
                    <li>
                        <b>Вступление соглашения в&nbsp;силу и&nbsp;действие</b>
                        <ol>
                            <li>Соглашение вступает в&nbsp;силу с&nbsp;момента акцепта настоящей оферты Заказчиком. Безусловным принятием (акцептом) условий настоящей оферты Соглашения считается осуществление Заказчиком регистрации на&nbsp;Сайте путем заполнения регистрационной формы и&nbsp;выражения согласия с&nbsp;условиями Соглашения при нажатии кнопки «Зарегистрироваться», размещенной на&nbsp;странице Сайта с&nbsp;регистрационной формой. Безусловным принятием (акцептом) всех условий предоставления Платных услуг также считается осуществление Заказчиком платежа в&nbsp;счет оплаты Платной услуги.</li>
                            <li>Соглашение заключается на&nbsp;неопределенный срок и&nbsp;может быть расторгнуто по&nbsp;инициативе любой из&nbsp;Сторон в&nbsp;любое время. Для этого Исполнитель размещает уведомление о&nbsp;расторжении Соглашения на&nbsp;Сайте и/или направляет Заказчику на&nbsp;его Профиль (или регистрационные данные) соответствующее уведомление, с&nbsp;момента такого размещения/направления такого уведомления Соглашение считается расторгнутым. Заказчик может расторгнуть Соглашение путем запроса на&nbsp;удаление своего Профиля с&nbsp;Сайта, при этом далее обработка персональных данных осуществляется согласно пунктам 4.8. —&nbsp;4.11. данного соглашения.</li>
                            <li>Настоящее Соглашение распространяет свое действие на&nbsp;Заказчиков, осуществивших регистрацию до&nbsp;даты опубликования настоящего Соглашения на&nbsp;Сайте.</li>
                            <li>Заказчик обязуется самостоятельно знакомиться с&nbsp;условиями Соглашения. Если Заказчик не&nbsp;согласен с&nbsp;условиями настоящего Соглашения, то&nbsp;он&nbsp;должен немедленно удалить свой Профиль с&nbsp;Сайта, в&nbsp;противном случае продолжение использования Заказчиком Сайта означает, что Заказчик согласен с&nbsp;условиями Соглашения.</li>
                            <li>При определении сроков определение времени совершения Стороной или третьими лицами действия (бездействия) исчисляется по&nbsp;Московскому времени.</li>
                        </ol>
                    </li>
                    <li>
                        <b>Прочие условия</b>
                        <ol>
                            <li>Стороны договорились, что при исполнении (изменении, дополнении, прекращении) Соглашения допускается использование подписей представителей Сторон, а&nbsp;также их&nbsp;печатей, с&nbsp;помощью средств факсимильной связи, механического или иного копирования, электронно-цифровой подписи либо иного аналога собственноручной подписи руководителей и&nbsp;печатей организаций. Стороны подтверждают, что документы к&nbsp;Соглашению, подписанные и&nbsp;оформленные указанным в&nbsp;настоящем пункте способом, имеют юридическую силу и&nbsp;обязательны для исполнения Сторонами.</li>
                            <li>
                                Стороны признают любую информацию, касающуюся заключения Соглашения, включая любые приложения и&nbsp;дополнения к&nbsp;нему, коммерческой тайной и&nbsp;обязуются строго сохранять конфиденциальный характер такой информации, не&nbsp;разглашая ее&nbsp;третьим лицам без предварительного письменного на&nbsp;то&nbsp;согласия другой Стороны, за&nbsp;исключением случаев, когда это необходимо для целей Соглашения или для раскрытия соответствующим государственным органам в&nbsp;случаях, определенных законом.
                                <p>Указанное положение не&nbsp;относится к&nbsp;общеизвестной или общедоступной информации.</p>
                                <p>Стороны считают конфиденциальной всю деловую информацию, передаваемую друг другу, как-то: информация об&nbsp;их&nbsp;клиентах, партнерах, бизнес&nbsp;— планах, ценах, финансовом состоянии и&nbsp;т.д. Стороны не&nbsp;должны открывать такую информацию кому&nbsp;бы то&nbsp;ни&nbsp;было, за&nbsp;исключением случаев, когда это необходимо для надлежащего выполнения их&nbsp;обязательств по&nbsp;Соглашению, или если такая информация является общедоступной, или по&nbsp;взаимному согласованию Сторон.</p>
                            </li>
                            <li>
                                Любые уведомления, запросы или иные сообщения (корреспонденция), представляемые Сторонами друг другу должны быть оформлены в&nbsp;письменном виде и&nbsp;направлены получающей Стороне по&nbsp;почте, путем направления заказной корреспонденции, по&nbsp;электронной почте, факсу или с&nbsp;курьером, как будет сочтено целесообразным. Датой получения корреспонденции считается момент получения почтового отправления, в&nbsp;том числе заказной корреспонденции, электронного подтверждения доставки при отправлении электронной почтой или по&nbsp;факсу, или день доставки в&nbsp;случае отправления корреспонденции с&nbsp;курьером.
                                <p>При рассмотрении споров в&nbsp;cуде переписка Сторон по&nbsp;электронной почте, факсимильные сообщения будут признаны Сторонами достаточными доказательствами, если настоящим Соглашением прямо не&nbsp;предусмотрен иной способ направления корреспонденции.</p>
                                <p>Координаты для связи с&nbsp;Исполнителем:</p>
                                <ul>
                                    <li>Адрес для направления корреспонденции посредством почты: 129223, г. Москва, а/я 33</li>
                                    <li>Адрес электронной почты для связи со&nbsp;специалистами отдела поддержки (технические вопросы): admin@fotogazon.ru</li>
                                    <li>Адрес электронной почты для направления претензий: admin@fotogazon.ru</li>
                                </ul>
                            </li>
                            <li>При изменении юридического статуса, адреса, электронной почты, банковского счета Сторона, у&nbsp;которой произошли такие изменения, обязана уведомить другую Сторону в&nbsp;течение&nbsp;5 (пяти) календарных дней с&nbsp;даты такого изменения письменно, по&nbsp;факсу, с&nbsp;курьером или заказным письмом с&nbsp;уведомлением о&nbsp;вручении или в&nbsp;случае, если изменение произошло на&nbsp;стороне Исполнителя&nbsp;— путем размещения такой информации на&nbsp;Сайте. До&nbsp;получения такого уведомления все операции, сделанные по&nbsp;прежним реквизитам, считаются надлежаще выполненными.</li>
                            <li>С&nbsp;даты вступления в&nbsp;силу настоящего Соглашения прекращаются любые соглашения по&nbsp;предмету настоящего Соглашения или аналогичные ему (включая предшествующую заключению настоящего Соглашения переписку по&nbsp;его предмету), имеющие место между Сторонами.</li>
                            <li>Некоторые Платные услуги, предоставляемые Исполнителем, могут регулироваться отдельными соглашениями (договорами), заключаемыми между Исполнителем и&nbsp;Заказчиком и&nbsp;размещаемыми на&nbsp;Сайте в&nbsp;непосредственной близости от&nbsp;такой предлагаемой Платной услуги. В&nbsp;случае расхождения между текстом настоящего Соглашения и&nbsp;соглашения (договора) на&nbsp;отдельную Платную услугу, преимущественную силу при определении правоотношений между Исполнителем и&nbsp;Заказчиком при приобретении Платной услуги, регулируемой отдельным соглашением (договором), имеют положения этого заключаемого между Исполнителем и&nbsp;Заказчиком соглашения (договора) на&nbsp;конкретную Платную услугу.</li>
                            <li>
                                В&nbsp;Соглашении, если иное прямо не&nbsp;следует из&nbsp;контекста:
                                <ul>
                                    <li>ссылки на&nbsp;«статьи» и&nbsp;«пункты» есть ссылки на&nbsp;статьи и&nbsp;пункты Соглашения, если иное прямо не&nbsp;указано в&nbsp;тексте Соглашения;</li>
                                    <li>заголовки Статей приведены исключительно для удобства и&nbsp;не&nbsp;должны приниматься во&nbsp;внимание при толковании Соглашения;</li>
                                    <li>все приложения к&nbsp;Соглашению являются неотъемлемыми частями Соглашения.</li>
                                </ul>
                            </li>
                            <li>В&nbsp;случае, если какое-либо из&nbsp;положений Соглашения окажется недействительным в&nbsp;силу закона, оно будет считаться исключенным из&nbsp;Соглашения, а остальные положения Соглашения сохранят силу.</li>
                            <li>Вопросы, неурегулированные Соглашением и&nbsp;документами, указанными в&nbsp;п.&nbsp;2.3&nbsp;Соглашения, подлежат разрешению в&nbsp;соответствии с&nbsp;законодательством РФ.</li>
                        </ol>
                    </li>
                </ol>
                <p>
                    <b>
                        Реквизиты Исполнителя
                        <br>
                        Сайт принадлежит ООО «Фотостейдж»
                        <br>
                        Юридический адрес: г. Минск, ул. Волгоградская, дом 8, комн. 37
                        <br>
                        тел.: +375-(29)-55-55-485 <small>(МТС)</small>
                        <br>
                        УНП: 192471452
                        <br>
                        р\с 3012000089101 (код 974) в ОАО «Белгазпромбанк» (Код банка 742, УНП банка 100429079) 
                    </b>
                </p>
            </div>
        </div>
    </srction>
</div>