
<div class="uk-container uk-container-center">
    <div class="uk-grid">
        <div class="uk-width-1-5">

            <div class="uk-button-back uk-text-center">
                <a href="@Url.Action("Create", "Products")" class="uk-button-add uk-button uk-width-1-1 uk-flex uk-flex-middle">
                    <i class="uk-icon-plus button-add"></i>&nbsp;<span class="uk-text-bold">Товар</span>
                </a>
            </div>

            <div class="uk-panel uk-panel-box uk-panel-box-item">
                <span class="uk-text-bold"><span>Нужна помощь?</span></span>

                <p class="uk-text-muted">Проконсультируем по вопросам работы с сайтом.</p>
                <p>
                    <a href="#" class="uk-button uk-width-1-1">Заказать звонок</a>
                </p>
            </div>

            <h5 class="uk-text-bold">Справочник</h5>
            <ul class="uk-list uk-list-space uk-list-dotted">
                <li><a ng-href="#" target="_blank" class="uk-link-muted" href="#">Редактирование товара</a></li>
                <li><a ng-href="#" target="_blank" class="uk-link-muted" href="#">Добавление скидки</a></li>
                <li><a ng-href="#" target="_blank" class="uk-link-muted" href="#">Создание...</a></li>
                <li><a href="#" class="uk-text-small">ещё...</a></li>
            </ul>
        </div>

        <div class="uk-width-4-5">
            <div class="uk-panel uk-panel-content-box">

                <ul id="status-users" class="uk-subnav">
                    <li><a href="" data-uk-filter="filter-a" class="uk-button">Опубликованые</a></li>
                    <li><a href="" data-uk-filter="filter-b" class="uk-button">Не опубликованые</a></li>
                    <li><a href="" data-uk-filter="" class="uk-button">Все</a></li>
                </ul>

                <table class="uk-table uk-table-hover uk-table-middle" data-uk-grid="{controls: '#status-users'}">
                    <thead>
                        <tr>
                            <th>Название</th>
                            <th class="uk-text-center">Статус</th>
                            <th>Цена</th>
                            <th class="uk-text-center">Скидка</th>
                            <th class="uk-text-center">Управление</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < 10; i++)
                        {
                            <tr data-uk-filter="filter-a">
                                <td>
                                    <a href="#" class="uk-link-muted uk-link-dotted uk-link-reset uk-text-bold">Canon 5d Mark III</a>
                                    <p class="uk-text-small uk-margin-remove">
                                        <span class="uk-text-muted">(<a href="#" class="uk-link-muted">Canon 5d Mark III</a>&nbsp;<i class="uk-icon-external-link"></i>)</span>
                                    </p>
                                </td>
                                <td class="uk-text-center">
                                    <i class="icon-action icon-show uk-icon-check"></i>
                                </td>
                                <td>
                                    <strong>3 500 у.е.</strong>
                                    <p class="uk-text-small uk-margin-remove uk-text-muted">
                                        55 300 000 <small>бел.руб.</small>
                                    </p>
                                </td>
                                <td class="uk-text-center">
                                    <span>-</span>
                                </td>
                                <td class="uk-text-center">
                                    <a href="#" class="uk-text-muted uk-link-reset">
                                        <i class="uk-icon-pencil" data-uk-tooltip title="Редактировать товар"></i>
                                    </a>
                                    <a href="#" class="uk-text-muted uk-link-reset uk-margin-small-left">
                                        <i class="uk-icon-trash" data-uk-tooltip title="Удалить товар"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
