
<div class="uk-container uk-container-center">
    <div class="uk-grid">
        <div class="uk-width-1-5">

            <div class="uk-button-back">
                <ul class="uk-grid uk-grid-width-1-2 uk-grid-small uk-subnav">
                    <li>
                        <a href="@Url.Action("Create", "Page")" class="uk-button-add uk-button">
                            <i class="uk-icon-plus button-add button-big uk-margin-small-top"></i>&nbsp;<span class="uk-text-bold button-add button-big">Доход</span>
                        </a>
                    </li>
                    <li class="uk-margin-remove">
                        <a href="@Url.Action("Create", "Page")" class="uk-button-add uk-button">
                            <i class="uk-icon-minus button-minus button-big uk-margin-small-top"></i>&nbsp;<span class="uk-text-bold button-minus button-big">Расход</span>
                        </a>
                    </li>
                </ul>
            </div>

            <h5 class="uk-text-bold">Метки</h5>
            <ul class="uk-list uk-list-space" data-uk-button-checkbox>
                <li>
                    <button class="uk-button uk-width-1-1 uk-label-filter" style="background-color: #D9534F;"><i class="uk-icon-check"></i>&nbsp;Пробитые чеки</button>
                </li>
                <li>
                    <button class="uk-button uk-width-1-1 uk-label-filter" style="background-color: #428BCA;"><i class="uk-icon-check"></i>&nbsp;Не пробитые чеки</button>
                </li>
                <li>
                    <a href="#modal-add-label" class="uk-text-small uk-link-reset uk-link-muted uk-link-line uk-float-right" data-uk-modal>+ Добавить метку</a>
                </li>
            </ul>

            <h5 class="uk-text-bold">Справочник</h5>
            <ul class="uk-list uk-list-space uk-list-dotted">
                <li><a ng-href="#" target="_blank" class="uk-link-muted" href="#">Редактирование метки</a></li>
                <li><a ng-href="#" target="_blank" class="uk-link-muted" href="#">Добавление новой метки</a></li>
                <li><a ng-href="#" target="_blank" class="uk-link-muted" href="#">Создание...</a></li>
                <li><a href="#" class="uk-text-small">ещё...</a></li>
            </ul>
        </div>

        <div class="uk-width-4-5">
            <div class="uk-grid uk-grid-small">
                <div class="uk-width-1-1">
                    <div class="uk-panel uk-panel-content-box">
                        <div>
                            <span class="uk-text-bold">
                                Cчета за период с
                                <input type="text" data-uk-datepicker="{format:'DD.MM.YYYY'}" class="uk-form-large-text uk-text-center" value="20.10.2014">
                                по
                                <input type="text" data-uk-datepicker="{format:'DD.MM.YYYY'}" class="uk-form-large-text uk-text-center" value="20.01.2015">
                            </span>
                            <button class="uk-button uk-button-success uk-margin-left">сформировать</button>

                            <div class="uk-search uk-float-right">
                                <input class="uk-search-field" type="search" placeholder="поиск..." autocomplete="off">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="uk-grid uk-grid-small">
                <div class="uk-width-1-1">
                    <div class="uk-panel uk-panel-content-box">

                        <table class="uk-table uk-table-hover uk-table-middle" data-uk-grid="{controls: '#status-users'}">
                            <thead>
                                <tr>
                                    <th style="width: 1px;"></th>
                                    <th>Название</th>
                                    <th class="uk-text-center">Метки</th>
                                    <th>Цена</th>
                                    <th class="uk-text-center">Скидка</th>
                                    <th class="uk-text-center">Управление</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < 10; i++)
                                {
                                    <tr class="uk-show-hide">
                                        <td>
                                            <i class="uk-icon-arrow-right uk-status-badge-income"></i>
                                            <i class="uk-icon-arrow-left uk-status-badge-expense"></i>
                                        </td>
                                        <td>
                                            <a href="#" class="uk-link-muted uk-link-dotted uk-link-reset uk-text-bold">Canon 5d Mark III</a>
                                            <p class="uk-text-small uk-margin-remove">
                                                <span class="uk-text-muted">(В прокат)</span>
                                            </p>
                                        </td>
                                        <td class="uk-text-center">
                                            <i class="icon-action icon-show"></i>
                                        </td>
                                        <td>
                                            <strong>35 у.е.</strong>
                                            <p class="uk-text-small uk-margin-remove uk-text-muted">
                                                553 000 <small>бел.руб.</small>
                                            </p>
                                        </td>
                                        <td class="uk-text-center">
                                            <span>-</span>
                                            <p class="uk-margin-remove uk-text-small uk-text-muted">
                                                <small>(001-0002)</small>
                                            </p>
                                        </td>
                                        <td class="uk-text-center">
                                            <div class="uk-show-hide-element">
                                                <a href="#" class="uk-text-muted uk-link-reset">
                                                    <i class="uk-icon-pencil" data-uk-tooltip title="Редактировать товар"></i>
                                                </a>
                                                <a href="#" class="uk-text-muted uk-link-reset uk-margin-small-left">
                                                    <i class="uk-icon-trash" data-uk-tooltip title="Удалить товар"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                    <div class="uk-document-total">
                        <p class="uk-document-total-text uk-text-bold uk-h1">
                            <span class="uk-h2">Итого:&nbsp;</span>
                            1 234 567
                            <span class="uk-document-total-text uk-h3">бел. руб.</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>


<div id="modal-add-label" class="uk-modal">
    <div class="uk-modal-dialog">
        <button type="button" class="uk-modal-close uk-close"></button>
        <div class="uk-modal-header">
            <h2 class="uk-margin-remove">Добавить новую метку</h2>
        </div>
        <section class="uk-form uk-form-horizontal">
            <div class="uk-form-row">
                <label class="uk-form-label" for="form-h-it">Название</label>
                <div class="uk-form-controls">
                    <input type="text" id="form-h-it" class="uk-form-large uk-form-large-text uk-width-1-1" placeholder="Название">
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label" for="form-h-it">Цвет метки</label>
                <div class="uk-form-controls">
                    <input type="text" id="label-custom-color" class="uk-form-large uk-form-large-text uk-width-1-1" maxlength="7" placeholder="#AABBCC">
                    <small class="uk-text-muted">Введите # и 6 символов шестнадцатиричного значения.</small>
                </div>
            </div>
            <div class="uk-form-row">
                <div class="uk-float-right">
                    <ul class="uk-subnav" data-uk-button-radio>
                        <li><a href="#" class="uk-button uk-form-label-reports uk-link-reset" style="background-color: #D9534F" value="#D9534F"><i class="uk-icon-check"></i></a></li>
                        <li><a href="#" class="uk-button uk-form-label-reports uk-link-reset" style="background-color: #F0AD4E" value="#F0AD4E"><i class="uk-icon-check"></i></a></li>
                        <li><a href="#" class="uk-button uk-form-label-reports uk-link-reset" style="background-color: #428BCA"><i class="uk-icon-check"></i></a></li>
                        <li><a href="#" class="uk-button uk-form-label-reports uk-link-reset" style="background-color: #5CB85C"><i class="uk-icon-check"></i></a></li>
                        <li><a href="#" class="uk-button uk-form-label-reports uk-link-reset" style="background-color: #34495E"><i class="uk-icon-check"></i></a></li>
                        <li><a href="#" class="uk-button uk-form-label-reports uk-link-reset" style="background-color: #7F8C8D"><i class="uk-icon-check"></i></a></li>
                        <li><a href="#" class="uk-button uk-form-label-reports uk-link-reset" style="background-color: #8E44AD"><i class="uk-icon-check"></i></a></li>
                        <li><a href="#" class="uk-button uk-form-label-reports uk-link-reset" style="background-color: #FFECDB"><i class="uk-icon-check"></i></a></li>
                    </ul>
                </div>
            </div>
        </section>
        <div class="uk-modal-footer uk-text-right">
            <button type="button" class="uk-button">Отменить</button>
            <button type="button" class="uk-button uk-button-success">Добавить</button>
        </div>
    </div>
</div>


@*@section Scripts{
        <script>
            $(".uk-form-label-reports").click(function () {
                var text = $(this).text();
                $("#label-custom-color").val(text);
            });
        </script>
    }*@