<div class="uk-modal uk-open" style="display: block">
    <div class="uk-modal-dialog uk-modal-dialog-large uk-modal-dialog-phones">
        <a href="" class="uk-modal-close uk-close"></a>
        <section class="text--center">
            <h2 class="uk-margin-bottom-remove bold">Выберите залы для бронирования:</h2>
            <small class="text--muted">вы можете выбрать не один, а несколько залов сразу...</small>
        </section>
        <section class="panel panel--box uk-margin-top">
            <div class="uk-form-row">
                <ul id="primary-select" class="grid grid--small grid-col--1-6 uk-nav uk-nav-autocomplete uk-autocomplete-results"   data-button-checkbox></ul>
            </div>
        </section>
        <div class="margin">
            <p class="text--h3">Вы также можете взять на студии в аренду:</p>

            <ul id="secondary-select" class="grid grid-col--1-6"   data-button-checkbox></ul>

            <small class="text--muted float--right uk-margin-bottom">
                <a href="#" class="uk-link-999 uk-link-line">Посмотреть больше...</a>
            </small>
        </div>

        <div class="uk-margin">
            <button id="save" class="bold button button-reviews button-reviews-success button-reviews-success-border col--1-1 role-save-halls">Забронировать фотостудию</button>
        </div>

        <div class="text--center">
            <small class="text--muted">
                PhotoMSK — мы стараемся сделать лучший фотопортал.
            </small>
        </div>

    </div>
</div>
