<li>
    <div class="panel panel--box">
        <div class="uk-panel-teaser">
            <img src="@Html.Variable("TeaserImageUrl")" alt="@Html.Variable("Description")">
        </div>
        <h2 class="uk-panel-title uk-margin-bottom-remove">
            <a href="#" class="uk-link-muted">@Html.Variable("Name")</a>
        </h2>

        <ul class="uk-subnav uk-subnav-line uk-margin-remove">
            <li><a href="#" class="uk-navbar-nav-subtitle text--center"><i class="icon-eye"></i><div>просмотреть</div></a></li>
            <li><a href="#" class="uk-navbar-nav-subtitle text--center"><i class="icon-pencil"></i><div>изменить</div></a></li>
            <li><a href="#" class="uk-navbar-nav-subtitle text--center"><i class="icon-trash"></i><div>удалить</div></a></li>
        </ul>
    </div>
</li>
