@model PhotoMSK.Models.ViewModels.Route.PhotographerViewModel

<div class="uk-grid uk-margin-large">
    <div class="uk-width-1-1 uk-text-center">
        <p class="uk-margin-remove uk-text-muted">© @DateTime.Now.Year PhotoMSK.by</p>
        <p class="uk-margin-remove uk-text-muted">@Model.LastName @Model.FirstName</p>
    </div>
</div>