<div class="uk-grid uk-grid-small">
    <div class="uk-width-3-10">
        <p class="uk-margin-remove">
            Наш магазин:&nbsp;<a href="#" class="uk-link-dotted uk-link-reset uk-link-hover" data-uk-toggle="{target:'#ftt-maps'}">ул. Немига, 8 (ст. метро Немига)</a>
        </p>
        <small class="uk-text-muted"> время работы: 11:00 - 20:00 </small>
    </div>
    <div class="uk-width-2-10">
        <a href="#" class="uk-link-reset uk-link-hover" data-uk-toggle="{target:'#ftt-maps'}">
            <img src="@Url.Content("~/Themes/Photoshop/ftt.by/Content/images/map-pin.png")" class="uk-float-left" />
            <p class="uk-margin-small-bottom uk-margin-top-remove">
                <span class="uk-link-dotted">Наш магазин на карте</span>
            </p>
            <span class="uk-text-muted">Нажмите, чтобы открыть</span>
        </a>
    </div>
    <div class="uk-width-3-10 uk-margin-left">
        <p class="uk-margin-remove">Время работы: 11:00 - 20:00</p>
        <p class="uk-margin-remove">Прием заказов: 10:00 - 20:00</p>
        <p class="uk-margin-remove">Доставка по Минску сегодня <b class="color-orange uk-link-dotted" data-uk-tooltip title="При сумме заказа свыше <br>1 500 000 бел. руб.">бесплатно</b></p>
        <p class="uk-margin-remove">Доставка по РБ на завтра <span class="uk-link-dotted" data-uk-tooltip title="При сумме заказа свыше <br>5 000 000 бел. руб.">бесплатно</span></p>
    </div>
    <div class="uk-width-1-10">
        <ul class="uk-list">
            <li class="uk-margin-small-bottom">
                <img src="https://cdn3.iconfinder.com/data/icons/round-simple-social-icons/58/vkontakte.png" style="height: 18px" /> <a href="http://vk.com/ftt_by" class="uk-text-muted" target="_blank">vk.com/ftt.by</a>
            </li>
            <li class="uk-margin-small-bottom">
                <img src="https://cdn3.iconfinder.com/data/icons/round-simple-social-icons/58/skype.png" style="height: 18px" /> <a href="skype:ftt.by?call" class="uk-text-muted">ftt.by</a>
            </li>
            <li>
                <img src="https://cdn3.iconfinder.com/data/icons/social-circle/512/social_6-128.png" style="height: 18px" /> <a href="http://instagram.com/ftt_by/" target="_blank" class="uk-text-muted">ftt.by</a>
            </li>
        </ul>
    </div>
</div>
<div class="uk-grid uk-margin-small-top">
    <div class="uk-width-1-1">
        <div id="ftt-maps" class="uk-hidden">
            <script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=kfxMpLeuPfF4HPXDzitIzq-FL9KQ73AM&width=1130&height=325"></script>
        </div>
    </div>
</div>