@model PhotoMSK.Areas.Default.ViewData.WhiteLabelViewData
<div class="uk-container uk-container-center uk-margin-bottom uk-margin-small-top">
    <nav class="uk-navbar">
        <ul class="uk-navbar-nav uk-subnav uk-subnav-line">
            <li><a href="#">Главная</a></li>
            <li><a href="#">Оплата</a></li>
            <li><a href="#">Новости</a></li>
            <li><a href="#">Обратная связь</a></li>
            <li><a href="#">Контакты</a></li>
            @*<li><a href="@Html.MakeUrl(Model,"catalog")" class="color-orange"><i class="uk-icon-shopping-cart"></i> Каталог</a></li>
                <li><a href="@Html.MakeUrl(Model,"news")">Новости</a></li>
                <li><a href="@Html.MakeUrl(Model,"about")">О магазине</a></li>*@
        </ul>
        <div class="uk-navbar-content uk-navbar-flip  uk-hidden-small">
            <form class="uk-form uk-margin-remove uk-search uk-display-inline-block">
                <input class="uk-search" type="text" placeholder="Поиск товара..." data-role-search-input>
                <button class="uk-button uk-button-search"><i class="uk-icon-search"></i></button>
                <div class="uk-dropdown uk-dropdown-search uk-dropdown-search-450 uk-dropdown-flip ">
                    <ul class="uk-nav uk-nav-search uk-autocomplete-results">
                        <li class="uk-nav-header uk-text-center">Результат поиска</li>
                        <li class="uk-nav-divider uk-skip"></li>
                        <li>
                            <ul data-role-search-results-placeholder></ul>
                        </li>
                        <li class="uk-nav-divider uk-skip"></li>
                        <li data-moreresults="true"><a href="#" onclick="jQuery(this).closest('form').submit();">Показать все результаты поиска</a></li>
                    </ul>
                </div>
            </form>
        </div>
    </nav>
</div>
