<div class="white-label-left-menu">
    <ul class="uk-nav uk-nav-side uk-nav-parent-icon" data-uk-nav>
        <li><a href=""><i class="uk-icon-dashboard"></i> Дашборд</a></li>
        <li><a href=""><i class="uk-icon-navicon"></i> Меню</a></li>
        <li class="uk-parent">
            <a href="#"><i class="uk-icon-file-text-o"></i> Страницы</a>
            <ul class="uk-nav-sub">
                <li>
                    <a href="">Все страницы</a>
                </li>
                <li>
                    <a href="">Создать</a>
                </li>
            </ul>
        </li>
        <li class="uk-parent">
            <a href="#"><i class="uk-icon-paint-brush"></i> Дизайн</a>
            <ul class="uk-nav-sub">
                <li><a href="">Sub item</a></li>
                <li><a href="">Sub item</a></li>
            </ul>
        </li>
        <li class="uk-parent">
            <a href="#"><i class="uk-icon-gears"></i> Настройки</a>
            <ul class="uk-nav-sub">
                <li><a href="">Общие</a></li>
                <li><a href="">Комментарии</a></li>
                <li><a href="">Социальные сети</a></li>
                <li><a href="">Фотографии</a></li>
                <li><a href="">Верификация</a></li>
                <li><a href="">CSS стили</a></li>
            </ul>
        </li>
        <li class="uk-parent">
            <a href="#"><i class="uk-icon-area-chart"></i> Статистика</a>
            <ul class="uk-nav-sub">
                <li><a href="">Sub item</a></li>
                <li><a href="">Sub item</a></li>
            </ul>
        </li>
        <li class="uk-parent">
            <a href="#"><i class="uk-icon-shopping-cart"></i> Магазин</a>
            <ul class="uk-nav-sub">
                <li><a href="">Продукты</a></li>
                <li><a href="">Заказы</a></li>
                <li><a href="">Категории</a></li>
                <li><a href="">Настройки</a></li>
                <li><a href="">Дизайн</a></li>
                <li><a href="">Промо-коды</a></li>
            </ul>
        </li>
    </ul>
</div>