
<!-- <div class="best-20-ph text--center">
        <a href="@Url.Action("Go", "Ads", new {id = Model.ID})">
            <p>{{title}}</p>
            <h1>{{subtitle}}</h1>
            <img src="{{image}}" />
            <br>
            <p>{{description}}</p>
        </a>
    </div> -->


<!-- Сайдбар фотомск -->
<!-- 200 на 200 -->
<ins class="adsbygoogle col--1-1"
     style="display:inline-block;height:200px"
     data-ad-client="ca-pub-2413993251449720"
     data-ad-slot="2340604812"></ins>
