

<div class="uk-grid" data-uk-grid-margin>
    <div class="uk-width-6-10 uk-offset-2-10">
        <div class="uk-flex uk-flex-center uk-flex-middle">
            <div class="uk-width-1-2 uk-text-center">
                <img alt="Аватарка пользователя" src="@Url.Content("~/Content/images/admin/svg-no-avatar.svg")" height="120" width="120">
                <p class="uk-margin-small-top">
                    <small class="uk-text-muted">Аватар</small>
                </p>
            </div>
            <div class="uk-width-1-2 uk-text-center">
                <a class="uk-button-upload-border" href="#">Загрузить</a>
                <p>
                    <small class="uk-text-muted">Рекомендуемый размер изображения: 200×200</small>
                </p>
            </div>
        </div>
    </div>
    <div class="uk-width-6-10 uk-offset-2-10">
        Проверка
    </div>
    @Html.ActionLink("Редактировать", "Edit")
</div>