<div class="photo col--2-10">
    <div class="buttons">
        <div class="states">
            <a class="action">
                <span class="icon"></span>
                <span class="count">70.2</span>
            </a>
        </div>
    </div>
    <a href="<%- shortcut %>">
        <img class="grayscale" src="<%- photoUrl %>" />
    </a>
    <div class="details">
        <div class="inside">
            <div class="info"><a href="<%- shortcut %>"><%- firstName %> <%- lastName %> </a></div>
        </div>
    </div>
</div>