@model PhotoMSK.Areas.Default.ViewData.WhiteLabelViewData
    <div class="uk-width-1-4">
        <a href="/" title="На главную">
            <img src="@Url.Content("~/Themes/Photoshop/ftt.by/Content/images/logo.png")" />
        </a>
    </div>
