
<div class="uk-alert uk-alert-info uk-margin-remove uk-text-center" data-msg="no-updates">
    <h3 class="uk-margin-remove">Раздел находится в разработке</h3>
    <p class="uk-margin-remove">
        <small class="uk-text-muted">совсем скоро вы увидите его в действии.</small>
    </p>
</div>