<div class="location">

    <div class="location__search">
        <input class="input input--small input--rounded col--1-1 margin--reset" type="search" placeholder="От куда вы?">
    </div>

    <ul class="location__list">
        <li class="location__country">
            <span>Россия</span>
        </li>
        <li><a data-msk-href>Москва</a></li>
        <li><a data-msk-href>Питер</a></li>
        <li><a data-msk-href>Кузьминки</a></li>

        <li class="location__country">
            <span>Беларусь</span>
        </li>
        <li><a data-msk-href>Минск</a></li>
        <li><a data-msk-href>Гродно</a></li>
    </ul>
</div>
