<div class="uk-modal uk-open" style="display: block">
    <div class="uk-modal-dialog">
        <div class="uk-panel uk-wall-box">
            <div class="uk-width-1-1 wall-post-title">
                <a href="#">Календарь <small class="award">(аренды техники)</small></a>
                <i class="icon-flame uk-align-right wall-post-hot"></i>
                <a class="uk-modal-close uk-close"></a>
            </div>

            <article class="uk-comment">
                <header class="uk-comment-header">
                    <img class="uk-comment-avatar uk-border-circle" src="<%- image %>" width="50" height="50" alt="">
                    <h5 class="uk-comment-title"><a href="http://photomsk.by/<%- shortcut %>" class="bold uk-link-muted"><%- name %></a></h5>
                    <ul class="uk-comment-meta uk-subnav uk-subnav-line">
                        <li> пн-чт <b><%- price %></b> пт. сб. вс. <b><%- hollydayDaylyPrice %></b></li>
                    </ul>
                </header>
                <div class="uk-comment-body">
                    <div class="role-booking-calendar">
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>

