<div style="position: relative;min-height: 280px;">
    <div style="position: absolute;">
        <div class="short_product with_popover phototechnics-teaser-item role-show-calendar">
            <h3 class="uk-text-center phototechnics-teaser-title">
                <a class="uk-link-muted" href="<%- shortcut %>">
                    <%- name %>
                </a>
            </h3>
            <a href="<%- shortcut %>">
                <img src="<%- image %>">
            </a>
            <div class="uk-text-center pad-top-10 pad-bottom-10">
                <input type="checkbox" class="checkbox-ms" id="<%- shortcut %>" name="<%- shortcut %>">
                <label class="checkbox-label-ms phototechnics-teaser-compare" for="<%- shortcut %>">Сравнить</label>
            </div>
            <div class="phototechnics-teaser-price uk-text-center">
                <small>от&nbsp;</small>
                <a class="uk-link-muted" href="#">
                    <span><%- price %> </span>
                </a>
                <small>руб. /сутки</small>
            </div>

            <div class="specification uk-text-muted pad-top-10">
                <ul class="uk-list spec">
                    <li>Размер матрицы: <strong>123</strong></li>
                    <li>Мегапиксели: <strong>123</strong></li>
                    <li>Точек автофокуса: <strong>99</strong></li>
                    <li>Скорость съемки: <strong>123</strong> к/c</li>
                </ul>

                <div class="uk-text-right">
                    <small>
                        <i class="icon-heart"></i>
                    </small> <a href="#">
                        <small>Мне нравится</small>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
