
<div id="firstBlock">

    <div class="uk-container uk-container-center">
        <div class="uk-grid">
            <div class="uk-width-1-1 uk-text-center uk-margin-large-top">
                <h1 class="uk-block-title uk-heading-large">
                    Студийный интенсив #02
                </h1>
                <h2 class="uk-block-content">
                    Научим качественно снимать в студии за 2 недели и зарабатывать<br />
                    на фотографии от 100$
                </h2>

                <p class="uk-text-bold uk-block-content uk-h1 uk-color-yellow uk-margin-large-top">
                    Старт группы в Минске - 22 марта 2015
                </p>

                <p class="uk-block-content uk-h2">
                    5 занятий<br>
                    ПН, ВТ, СР - с 19:00 до 21:00
                </p>
                
                <p class="uk-block-content uk-h3">
                    1 занятие 22 марта с 15.00-18.00 в зале Прованс (теория+практика)<br>
                    2 занятие 23 марта с 19.00-21.00 в зале Барокко (теория+практика)<br>
                    3 занятие 25 марта с 19.00-21.00 в зале Барокко (теория+практика)<br>
                    4 занятие 31 марта с 19.00-21.00 (работа в Lightroom)<br>
                    5 занятие 2 апреля с 19.00-21.00 (работа в Photoshop)<br>
                </p>
                
                <button class="uk-button uk-button-large uk-button-transparent uk-margin-large-top" data-uk-modal="{target:'#modal-call-back'}">ЗАКАЗАТЬ ОБРАТНЫЙ ЗВОНОК</button>
            </div>
        </div>
    </div>

</div>
