
<div id="ninthBlock">
    <div class="uk-container uk-container-center">
        <div class="uk-grid">
            <div class="uk-width-1-1">
                <p class="uk-block-content uk-h1 uk-color-dark uk-text-bold uk-text-center uk-margin-large-bottom">
                    Для того что бы научиться фотографировать Вам подойдет абсолютно любая зеркальная камера даже с kit-объективом
                </p>

                <div class="uk-grid">
                    <div class="uk-width-1-2 uk-text-center">
                        <img src="@Url.Content("~/Themes/Page/photocollege.by/Content/images/shoot-d3100.jpg")" class="uk-border-rounded" />

                        <p class="uk-text-muted">
                            <i>
                                Снято на Nikon D3100
                            </i>
                        </p>
                    </div>

                    <div class="uk-width-1-2 uk-text-center">
                        <img src="@Url.Content("~/Themes/Page/photocollege.by/Content/images/shoot-d800.jpg")" class="uk-border-rounded" />
                        <p class="uk-text-muted">
                            <i>
                                Снято на Nikon D800
                            </i>
                        </p>
                    </div>
                </div>

                <p class="uk-margin-large-bottom uk-text-center uk-text-bold">
                    Дело не в камере. Дело в профессионализме.<br>
                    И именно этому мы будем Вас учить!
                </p>

                <div class="uk-text-center">
                    <button class="uk-button uk-button-large uk-button-success uk-width-1-4" data-uk-modal="{target:'#modal-call-back'}">Заказать звонок</button>
                </div>
            </div>
        </div>
    </div>
</div>
