
<div id="sixthBlock">
    <div class="uk-container uk-container-center">
        <div class="uk-grid">
            <div class="uk-width-1-1 uk-text-center">
                <p class="uk-h2 uk-block-content uk-text-bold uk-color-dark">Живое участие</p>
                <p>
                    Живое участие будет проходить в просторной студии фотографии «PhotoLAB STUDIO»<br />
                    <strong>Адрес: Куйбышева 22, 3 этаж, к. 311</strong><br>
                    На все вопросы Вы получите ответы. Общение с преподавателем и со всеми студентами
                    курса проходит в закрытой группе. У вас будет возможность показать свои работы, услышать объективную критику и поработать над ошибками, что бы Вы видели свой
                    рост. Ваши работы будут рассматриваться вместе со всей группой.
                </p>
            </div>
        </div>
    </div>
</div>