
<div id="tenthBlock">
    <div class="uk-container uk-container-center">
        <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-1-1 uk-margin-bottom">
                <p class="uk-block-content uk-h1 uk-color-dark uk-text-bold uk-text-center">
                    Эффективность нашего обучения доказана<br />
                    нашими выпускниками
                </p>
            </div>

            <div class="uk-width-1-1">
                <div class="uk-grid">
                    <div class="uk-width-1-4 uk-text-center">
                        <a href="https://vk.com/id92432587" target="_blank" class="uk-link-reset">
                            <img class="uk-border-rounded" src="https://pp.vk.me/c320924/v320924587/a211/3mn2vhhpqeA.jpg" alt="Курсы по фотографии. Ольга Савич">
                        </a>
                        <p class="uk-block-content uk-h2 uk-text-bold uk-color-dark uk-margin-bottom-remove">
                            <a href="https://vk.com/id92432587" target="_blank" class="uk-link-reset">
                                Ольга Савич
                            </a>
                        </p>
                        @*<p class="uk-text-muted uk-text-small uk-margin-remove"><i>Пришла учиться с нуля</i></p>*@
                    </div>

                    <div class="uk-width-2-4">
                        <p class="uk-margin-small">
                            Мне тоже понравился интенсив! Особенно понравилась творческая атмосфера в процессе съёмки. Было сделано много кадров за время занятий!
                        </p>
                        <p>
                            А главное, я заполнила пробелы по студийному оборудованию, оказалось, что всё не так сложно и страшно!!!
                        </p>
                        <p>
                            Спасибо <a href="http://vk.com/solovyova_kristina" target="_blank" class="uk-link-reset uk-link-line">Кристине</a> за терпение и дельные советы, всё было классно!
                        </p>
                    </div>

                    <div class="uk-width-1-4">
                        <a href="https://pp.vk.me/c624127/v624127587/2293c/5G6sjPsNGSo.jpg" data-uk-lightbox title="Фотографию сделала Ольга Савич">
                            <img src="https://pp.vk.me/c624127/v624127587/2293c/5G6sjPsNGSo.jpg" class="uk-border-rounded" alt="">
                        </a>
                    </div>
                </div>
            </div>

            <div class="uk-width-1-1">
                <div class="uk-grid">
                    <div class="uk-width-1-4 uk-text-center">
                        <a href="https://vk.com/apetkina" target="_blank" class="uk-link-reset">
                            <img class="uk-border-rounded" src="https://pp.vk.me/c606121/v606121530/89dc/-_ZVY6m4lfU.jpg" alt="Курсы по фотографии. Анна Смоляк">
                        </a>
                        <p class="uk-block-content uk-h2 uk-text-bold uk-color-dark uk-margin-bottom-remove">
                            <a href="https://vk.com/apetkina" target="_blank" class="uk-link-reset">
                                Анна Смоляк
                            </a>
                        </p>
                        @*<p class="uk-text-muted uk-text-small uk-margin-remove"><i>Пришла учиться с нуля</i></p>*@
                    </div>

                    <div class="uk-width-2-4">
                        <p class="uk-margin-small">
                            Прошла интенсив у отличного преподавателя, все очень понравилось. Узнала много полезного материала, а, главное, что все было изложено просто и доступно.
                        </p>
                        <p>
                            Теперь понемногу применяю все на практике. Время занятий пролетело очень быстро, но мне удалось узнать и понять многие вещи.
                        </p>
                        <p>
                            Спасибо <a href="http://vk.com/solovyova_kristina" target="_blank" class="uk-link-reset uk-link-line">Кристине</a> за познавательное впечатление!
                        </p>
                    </div>

                    <div class="uk-width-1-4">
                        <a href="https://pp.vk.me/c624127/v624127530/1ff3d/tZx_YBvGgfk.jpg" data-uk-lightbox title="Фотографию сделала Анна Смоляк">
                            <img src="https://pp.vk.me/c624127/v624127530/1ff3d/tZx_YBvGgfk.jpg" class="uk-border-rounded" alt="">
                        </a>
                    </div>
                </div>
            </div>

            <div class="uk-width-1-1">
                <div class="uk-grid">
                    <div class="uk-width-1-4 uk-text-center">
                        <a href="https://vk.com/komarova_evgenia" target="_blank" class="uk-link-reset">
                            <img class="uk-border-rounded" src="https://pp.vk.me/c616731/v616731461/1ae1b/ITJWXDWBx6w.jpg" alt="Курсы по фотографии. Евгения Комарова">
                        </a>
                        <p class="uk-block-content uk-h2 uk-text-bold uk-color-dark uk-margin-bottom-remove">
                            <a href="https://vk.com/komarova_evgenia" target="_blank" class="uk-link-reset">
                                Евгения Комарова
                            </a>
                        </p>
                        @*<p class="uk-text-muted uk-text-small uk-margin-remove"><i>Пришла учиться с нуля</i></p>*@
                    </div>

                    <div class="uk-width-2-4">
                        <p class="uk-margin-small">
                            Кристина и Сергей! Огромное спасибо вам и вашей команде!
                        </p>
                        <p>
                            Все очень понравилось! С нетерпением ждем следующих воркшопов!
                        </p>
                    </div>

                    <div class="uk-width-1-4">
                        <a href="https://pp.vk.me/c625230/v625230071/197d5/fV6pq0d9X1I.jpg" data-uk-lightbox title="Фотографию сделала Евгения Комарова">
                            <img src="https://pp.vk.me/c625230/v625230071/197d5/fV6pq0d9X1I.jpg" class="uk-border-rounded" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="uk-grid uk-margin-large-top">
            <div class="uk-width-1-1 uk-text-center">
                <p>
                    В то время как все остальные разбираются со своим фотоаппаратом наши студенты <br />профессионально фотографируют
                    и зарабатывают на этом деньги.
                </p>

                <p class="uk-text-muted">
                    <i>Все потому, что мы не читаем нудных лекций, мы учим людей фотографировать.</i>
                </p>

                <div class="uk-text-center uk-margin-large-top">
                    <button class="uk-button uk-button-large uk-button-success uk-width-1-4" data-uk-modal="{target:'#modal-call-back'}">
                        Записаться
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
