<hr/>

<div class="uk-grid">
    <div class="uk-width-1-1">
        <img class="uk-align-medium-left uk-width-1-2" src="http://content.onliner.by/news/tech/2012/06/nikon-d800-wallpaper-for-1920x1200-widescreen-505-111.jpg" alt="">

        <a href="#" class="uk-h2 uk-text-bold">
            Гроза жестких дисков: обзор 36-Мп профессиональной камеры Nikon D800
        </a>
        <ul class="uk-subnav uk-subnav-line uk-margin-small uk-text-muted">
            <li><strong>2013</strong> года</li>
            <li><i class="uk-icon-eye"></i> 234 просмотра</li>
        </ul>
        <p>
            Даже при самых смелых предположениях в это трудно было поверить. Компания, долгое время тормозившая мегапиксельные гонки (при одобряющем ропоте пользователей на тематических форумах), внезапно ее возглавит. Интересно, что до выхода Nikon D800 такое разрешение можно было встретить только в среднеформатных камерах по пятизначной цене в долларах США. Здесь же — компактный корпус, видеозапись, очень классная система фокусировки и множество поддерживаемых объективов.
        </p>
    </div>
</div>