<div class="content--admin">
    <div><data-bread-crumbs /></div>
    <div id="online-booking-calendar" class="container--fluid">
        <div class="grid grid--small">
            <div class="col--2-10">
                <p class="text--h2">Техника</p>
                <hr />
                <data-admin-rent-search shortcut="shortcut"/>
            </div>
            <div class="col--6-10">
                <p class="text--h2">Календарь бронирования</p>
                <hr/>
                <div class="">
                    <data-admin-booking-calendar dataurl="dataUrl" shortcut="shortcut" calendars="calendars" adminside="true"/>
                </div>
            </div>
            <div class="col--2-10">
                <p class="text--h2">Пользователь</p>
                <hr/>
                <div><data-admin-booking-user-info/>
                </div>
                <div><data-admin-shopping-cart/></div>
            </div>
        </div>
    </div>
﻿</div>
