<div class="content--admin">

    <div><data-bread-crumbs/></div>


    <div class="container--fluid">

        <div class="activity__sort margin--bottom-small">
            <div class="grid grid--small">
                <div class="col--large-7-10 col--medium-7-10">
                    <p class="margin--top-small">
                        Персонал
                        <a data-msk-href class="link text--green">активный
                            <i class="text--small icon-chevron-down"></i>
                        </a>
                    </p>
                </div>
                <div class="col--large-1-10 col--medium-1-10">
                    <a data-msk-href class="button button--small button--success border--rounded" data-ng-click="showModal()">Добавить</a>
                </div>
                <div class="col--large-2-10 col--medium-2-10">
                    <div class="input__group">
                        <input type="search" class="input input--search input--small border--rounded margin--reset col--1-1">
                        <i class="icon-magnifier text--muted"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel--space panel--white panel--shadow">
            <div class="grid">
                <div class="col--1-1">

                    <div>
                        <div class="container--fluid">

                            <div class="grid grid--small grid--divider">
                                <div class="col--2-10">
                                    <!-- <a class="button button--success" href="#create-participants" data-uk-modal>Добавить</a> -->
                                    <div class="panel panel--divider">
                                        <ul class="uk-nav uk-nav-menu uk-nav-side uk-nav-parent-icon">
                                            <li aria-expanded="true" class="active">
                                                <a data-msk-href>Все участники</a>
                                            </li>
                                            <li class="uk-nav-divider"></li>
                                            <li aria-expanded="false">
                                                <a data-msk-href>Приглашения</a>
                                            </li>
                                            <li aria-expanded="false">
                                                <a data-msk-href>Руководители</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col--8-10">
                                    <div class="panel panel--white">
                                        <ul id="tab-participants">
                                            <li class="active" aria-hidden="false">
                                                <table class="table table--hover table--middle">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th>Пользователь</th>
                                                            <th>Статус</th>
                                                            <th class="text--right">Действие</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr class="uk-show-hide" ng-repeat="participant in friends">
                                                            <td class="text--center">
                                                                <i class="uk-icon-circle text--success"></i>
                                                            </td>
                                                            <td class="text--truncate">

                                                                <img class="border--rounded avatar float--left margin--right-small" data-ng-src="{{participant.photo}}" data-ng-if="participant.userPhoto != null" data-ng-cloak>
                                                                <div class="avatar avatar--empty float--left margin--right-small" data-ng-if="participant.userPhoto == null"></div>

                                                                <p class="margin--top-small">
                                                                    <a href="/admin/userinformation/{{participant.id}}" class="link--reset link--line" data-ng-bind-template="{{participant.name}}" data-ng-cloak></a><br />
                                                                    <small class="text--muted text--small">
                                                                        <i class="icon-room"></i>
                                                                        Минск
                                                                    </small>
                                                                </p>
                                                            </td>
                                                            <td>
                                                                <div data-ng-if="participant.accessStatus != null">
                                                                    <span class="text--muted" data-ng-if="participant.accessStatus == 1">Создатель</span>
                                                                    <span class="text--muted" data-ng-if="participant.accessStatus == 2">Администратор</span>
                                                                    <span class="text--muted" data-ng-if="participant.accessStatus == 3">Преподаватель</span>
                                                                    <span class="text--muted" data-ng-if="participant.accessStatus == 4">Ученик</span>
                                                                    <span class="text--muted" data-ng-if="participant.accessStatus == 5">Модель</span>
                                                                    <span class="text--muted" data-ng-if="participant.accessStatus == 6">Пользователь</span>
                                                                    <span class="text--muted" data-ng-if="participant.accessStatus == 7">Подписчик</span>
                                                                </div>
                                                            </td>
                                                            <td class="text--right">
                                                                <!-- <a class="button button--small" data-msk-href>Изменить</a> -->
                                                                <a class="button button--small button-danger" data-msk-href ng-click="removeAdmin(participant.id)">Выгнать</a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

<div class="modal" data-ng-class="{'open' : isModalShow}">
    <div class="modal__dialog">
        <a data-msk-href class="modal__close icon-cross-circle" data-ng-click="showModal()"></a>
        <section class="modal__header text--center">
            <p class="text--h2 margin--bottom-small">Соберите вашу команду</p>
            <p class="text--small text--muted margin--bottom">найдите того, кто будет в вашей команде</p>
            <i class="modal__header__icon icon-magnifier"></i>
        </section>
        <section class="margin--top">
            <!-- <div class="validation-summary-valid" data-valmsg-summary="true">
                <ul>
                    <li style="display:none"></li>
                </ul>
            </div> -->
            <div class="col--large-1-2 margin--auto">
                <label class="label">Номер телефона</label>
                <input class="input col--1-1"  data-ng-model="childId">
                <span class="field-validation-valid" data-valmsg-for="UserName" data-valmsg-replace="true"></span>
            </div>
        </section>

        <ul class="participants__list participants__list--horizontal margin--top-small">
            <li><img src="https://yt3.ggpht.com/-_BbWqmoBET8/AAAAAAAAAAI/AAAAAAAAAAA/SkZ3LWtBrno/s100-c-k-no/photo.jpg" class="border--rounded avatar avatar--large"><span class="badge icon-check"></span></li>
            <li><img src="http://lamcdn.net/lookatme.ru/post-image/ys2j7Vy6-FELXNY5ObPWpw-thumbnail.jpg" class="border--rounded avatar avatar--large"><span class="badge icon-check"></span></li>
            <li><img src="http://lamcdn.net/lookatme.ru/post-image/brScdUTAdML6y4QiHu7OoQ-thumbnail.jpg" class="border--rounded avatar avatar--large"><span class="badge icon-check"></span></li>
            <li><img src="http://avatar2.ru/data/thumbnails/3/girl10.jpg" class="border--rounded avatar avatar--large"><span class="badge icon-check"></span></li>
            <li><span class="avatar avatar--large avatar--dashed">5</span></li>
            <li><span class="avatar avatar--large avatar--dashed">6</span></li>
        </ul>

        <section class="panel panel--box panel--white panel--dashed margin--top">
            <ul class="list list--line list--vertical">
                <li class="list__item cursor--pointer" data-ng-repeat="participant in newParticipants" data-ng-click="selectNewAdmin(participant)">
                    <div data-ng-class="{'list__item--selected-full' : participant.isActive}"></div>
                    <img class="border--rounded avatar float--left margin--right-small" data-ng-src="{{participant.userPhoto}}" data-ng-if="participant.userPhoto != null" data-ng-cloak>
                    <span class="avatar avatar--empty float--left margin--right-small" data-ng-if="participant.userPhoto == null"></span>

                    <div class="text--truncate">
                        <p class="link--reset" data-ng-bind-template="{{participant.lastName}} {{participant.firstName}}" data-ng-cloak></p>
                        <p class="margin--reset">
                            <small class="text--small text--muted">{{participant.userPhone}}</small>
                        </p>
                    </div>
                </li>
            </ul>
        </section>

        <section class="modal__footer text--center">
            <button class="button button--footer button--success col--1-1" data-ng-click="addFriendship()">Добавить администратора</button>
        </section>
    </div>
</div>
