@{
    ViewBag.Title = "Фотобитвы";
}

<div class="uk-container uk-container-center pad-top">
    <div class="uk-grid" data-uk-grid-match>
        <div class="uk-width-1-1 uk-text-center">
            <h1 class="hall-title bold">PhotoBattle</h1>
            <p class="uk-text-muted">Мы хотим чтобы именно Вы оценили работы, сделанные фотографами, которые размещаются на сервисе PhotoMSK.<br/>Если вы хотите разместить свои работы в фотобитве - это можно сделать в своем персональном кабинете.</p>
        </div>

        <div class="uk-width-1-1 pad-top-40">
            <div class="photobattle">
                <div class="left-bg" style="background-image: url(https://gp1.wac.edgecastcdn.net/806614/photos/photos.500px.net/80651773/b3b4489cc85fecffdb8e6dcb4d18cb72eb83a3f4/2048.jpg);">
                </div>
                <div class="right-bg" style="background-image: url(https://gp1.wac.edgecastcdn.net/806614/photos/photos.500px.net/82060799/1994b0f0320e07b0f692ba096741c8ca6fb55342/2048.jpg);">
                </div>
            </div>
        </div>
    </div>
</div>