<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="FileServer" value="http://localhost:3547/" />
    <!--<add key="FileServer" value="http://ph1.photomsk.by/" />-->
    <add key="ServerUrl" value="http://localhost:11551/" />
    <add key="AssistentUser" value="EnDjiVeb" />
    <add key="AssistentPassword" value="FnefK1nz" />
  </appSettings>
  <system.web>

  </system.web>
</configuration>
