<!-- Месторасположение -->
<section class="col--1-1">
        <div class="uk-section">
            <span class="uk-section__counter">4</span>
            <span class="uk-section__title">Месторасположение</span>
        </div>
        <div class="grid">
            <div class="col--1-2">
                <label class="label">Город</label>
                <input class="input col--large-1-1 col--small-1-1" id="City" name="City" type="text" placeholder="Город расположения">
                <span class="field-validation-valid" data-valmsg-for="City" data-valmsg-replace="true"></span>
            </div>
            <div class="col--1-2">
                <label class="label">Адрес</label>
                <input class="input col--large-1-1 col--small-1-1" id="Adress" name="Adress" type="text" placeholder="Адрес">
                <span class="field-validation-valid" data-valmsg-for="Adress" data-valmsg-replace="true"></span>
            </div>
        </div>
</section>