<!-- Условия размещения -->
<div class="col--1-1">
    <div class="uk-section">
        <span class="uk-section__counter">6</span>
        <span class="uk-section__title">Условия размещения</span>
    </div>

    <p class="text--center text--muted">
        Регистрируясь на сайте вы подтверждаете согласие с <a href="#" class="uk-link-reset uk-link--dotted">условиями использования сайта</a>.
    </p>
</div>
<div class="col--1-1">
    <table class="table table--middle table--hover uk-table-price text--center">
        <thead class="text--center">
            <tr>
                <th>
                </th>
                <th><strong>Free</strong></th>
                <th><strong>Online</strong></th>
                <th><strong>«White Label»</strong></th>
            </tr>
        </thead>
        <tbody>
            <tr class="uk-table-price-item">
                <td class="uk-table-price-row-heading">Цена</td>
                <td><strong>Бесплатно</strong></td>
                <td><strong>990 000 <small>руб./мес.</small></strong></td>
                <td><strong>1 990 000 <small>руб./мес.</small></strong></td>
            </tr>
            <tr>
                <td>Размещение в каталоге</td>
                <td><i class="uk-price-label uk-price-label-success uk-icon-check"></i></td>
                <td><i class="uk-price-label uk-price-label-success uk-icon-check"></i></td>
                <td><i class="uk-price-label uk-price-label-success uk-icon-check"></i></td>
            </tr>
            <tr>
                <td>Обязательное онлайн бронирование</td>
                <td><i class="uk-price-label uk-price-label-success uk-icon-check"></i> <small class="uk-link-dotted" data-uk-tooltip title="Это обязательное условие для размещения в каталоге">(Обязательно)</small></td>
                <td><i class="uk-price-label uk-price-label-success uk-icon-check"></i></td>
                <td><i class="uk-price-label uk-price-label-success uk-icon-check"></i></td>
            </tr>
            <tr>
                <td>Чёрный список</td>
                <td><i class="uk-price-label uk-price-label-success uk-icon-check"></i></td>
                <td><i class="uk-price-label uk-price-label-success uk-icon-check"></i></td>
                <td><i class="uk-price-label uk-price-label-success uk-icon-check"></i></td>
            </tr>
            <tr>
                <td>Домен</td>
                <td><i class="uk-price-label">-</i></td>
                <td><span>3 уровня</span></td>
                <td><span><strong>1 и 3</strong> уровня</span></td>
            </tr>
            <tr>
                <td>Определитель звонков</td>
                <td><i class="uk-price-label">-</i></td>
                <td><i class="uk-price-label uk-price-label-success uk-icon-check"></i></td>
                <td><i class="uk-price-label uk-price-label-success uk-icon-check"></i></td>
            </tr>
            <tr>
                <td>Статистиика звонков</td>
                <td><i class="uk-price-label">-</i></td>
                <td><i class="uk-price-label uk-price-label-success uk-icon-check"></i></td>
                <td><i class="uk-price-label uk-price-label-success uk-icon-check"></i></td>
            </tr>
            <tr>
                <td>Личный сайт</td>
                <td><i class="uk-price-label">-</i></td>
                <td><i class="uk-price-label">-</i></td>
                <td><i class="uk-price-label uk-price-label-success uk-icon-check"></i></td>
            </tr>
            <tr>
                <td>Запись звонков</td>
                <td><i class="uk-price-label">-</i></td>
                <td><i class="uk-price-label">-</i></td>
                <td><i class="uk-price-label uk-price-label-success uk-icon-check"></i></td>
            </tr>
            <tr>
                <td>Онлайн учёт</td>
                <td><i class="uk-price-label">-</i></td>
                <td><i class="uk-price-label">-</i></td>
                <td><i class="uk-price-label uk-price-label-success uk-icon-check"></i></td>
            </tr>
            <tr>
                <td>Редактор сайта</td>
                <td><i class="uk-price-label">-</i></td>
                <td><i class="uk-price-label">-</i></td>
                <td><i class="uk-price-label uk-price-label-success uk-icon-check"></i></td>
            </tr>
            <tr>
                <td>Пакет СМС</td>
                <td><i class="uk-price-label">-</i></td>
                <td><span>1 000 <small class="uk-text-small">шт. / месяц</small></span></td>
                <td><strong>3 000 <small class="uk-text-small">шт. / месяц</small></strong></td>
            </tr>
            <tr>
                <td>Показы рекламы</td>
                <td><i class="uk-price-label">-</i></td>
                <td><span>1 000 <small class="uk-text-small">шт. / месяц</small></span></td>
                <td><strong>3 000 <small class="uk-text-small">шт. / месяц</small></strong></td>
            </tr>
            <tr>
                <td>Аналитика</td>
                <td><i class="uk-price-label">-</i></td>
                <td><i class="uk-price-label">-</i></td>
                <td><i class="uk-price-label uk-price-label-success uk-icon-check"></i></td>
            </tr>
            <tr>
                <td></td>
                <td><button class="button button--radius button--pay button-primary col--1-1">Бесплатно</button></td>
                <td><button class="button button--radius button--pay button-success col--1-1">Купить</button></td>
                <td><button class="button button--radius button--pay button-success col--1-1">Купить</button></td>
            </tr>
        </tbody>
    </table>
</div>