<p>Вы зашли как <strong>{{user.identity.getUserName()}}</strong>.</p>
<h1 class="text--center light">Изменить пароль</h1>

<div class="form-group">
    <label>Старый пароль</label>
    <div class="col-md-10">
        <input type="password" />
    </div>
</div>
<div class="form-group">

    <label>Новый пароль</label>
    <div class="col-md-10">
        <input type="password" />
    </div>
</div>
<div class="form-group">
    <label>Повторите пароль</label>
    <div class="col-md-10">
        <input type="password" />
    </div>
</div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Заменить" class="btn btn-default" />
    </div>
</div>
