<div class="modal" id="signin-modal">
    <div class="modal__dialog">
        <a class="modal__close" data-msk-href></a>
        <section class="text--center">
            <h2 class="margin--bottom-remove text--bold">Добро пожаловать на сервис «PhotoMSK™»</h2>
            <small class="text--muted">Мы стараемся сделать лучший портал для фото-бизнеса...</small>
            </section>
        <section class="margin">
            <p class="text--center">
                <a class="btn uk-border-rounded" href="/register" style="width: auto">Зарегистрируйтесь</a>
                </p>
            </section>

            <div>
                <div class="orbullet">ИЛИ</div>
                <div class="orbullet-divider"></div>
            </div>

            <section class="panel panel--box uk-margin-top">

            <div class="col--large-1-1 col--small-1-1">
                    <label class="label">Логин</label>
                <input class="input col--large-1-1 col--small-1-1" data-ng-bind="item.userName" type="text"/>
                </div>
            <div class="col--large-1-1 col--small-1-1">
                    <label class="label">Пароль</label>
                <input class="input col--large-1-1 col--small-1-1" type="password"/>
                </div>
            </section>

        <div class="margin">
            <button class="text--bold button button-reviews button-reviews-success button-reviews-success-border col--1-1">Войти на сервис</button>
            </div>

            <div class="text--center">
                <small class="text--muted">
                    Ознакомьтесь с <a href="#/terms" class="uk-link-line green-color">правилами</a> сервиса «PhotoMSK™» @DateTime.Now.Year
                </small>
            </div>
    </div>
</div>