<div class="uk-grid uk-margin-large-top">
    <div class="uk-width-1-1 uk-population-products-title">
        <div class="uk-h2 uk-slash">
            <strong>Сегодня на скидке</strong>
        </div>
    </div>
</div>
<ul class="uk-list uk-grid-small uk-grid-width-1-5 uk-flex uk-flex-wrap role-vitrine" data-uk-grid-margin></ul>

@*<div class="uk-grid">
    <div class="uk-width-1-1">
        <div class="position-relative">
            <div class="uk-maps-m">
                <div class="uk-grid uk-grid-small" data-uk-grid-margin>
                    <div class="uk-width-1-1">
                        <p class="uk-text-bold uk-h2">Нас легко найти:</p>
                    </div>

                    <div class="uk-width-2-10">
                        <strong>Адрес: </strong>
                    </div>
                    <div class="uk-width-8-10">
                        <div class="uk-grid uk-grid-small" data-uk-grid-margin>
                            <div class="uk-width-1-1">
                                <strong>г. Минск ул. Немига, 8 (ст. метро Немига). Магазин FTT.BY</strong>
                            </div>
                            <ul class="uk-width-1-2 uk-list">
                                <li>
                                    <a href="tel:+375296349052" class="uk-link-reset">
                                        <i class="uk-operator uk-operator-velcom"></i>
                                        <strong>+375 <b>(29)</b> 634-90-52</strong>
                                    </a>
                                </li>
                                <li>
                                    <a href="tel:+375298523251" class="uk-link-reset">
                                        <i class="uk-operator uk-operator-mts"></i>
                                        <strong>+375 <b>(29)</b> 852-32-51</strong>
                                    </a>
                                </li>
                                <li>
                                    <a href="tel:+375257365395" class="uk-link-reset">
                                        <i class="uk-operator uk-operator-life"></i>
                                        <strong>+375 <b>(25)</b> 736-53-95</strong>
                                    </a>
                                </li>
                            </ul>
                            <ul class="uk-width-1-2 uk-list">
                                <li>
                                    <img src="https://cdn3.iconfinder.com/data/icons/round-simple-social-icons/58/vkontakte.png" style="height: 18px" />
                                    <a href="http://vk.com/ftt_by" class="uk-link-muted uk-text-bold" target="_blank">vk.com/ftt.by</a>
                                </li>
                                <li>
                                    <img src="https://cdn3.iconfinder.com/data/icons/round-simple-social-icons/58/skype.png" style="height: 18px" />
                                    <a href="skype:ftt.by?call" class="uk-link-muted uk-text-bold">ftt.by</a>
                                </li>
                                <li>
                                    <img src="https://cdn3.iconfinder.com/data/icons/social-circle/512/social_6-128.png" style="height: 18px" />
                                    <a href="http://instagram.com/ftt_by/" target="_blank" class="uk-link-muted uk-text-bold">ftt.by</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-clearfix"></div>
            <script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=kfxMpLeuPfF4HPXDzitIzq-FL9KQ73AM&width=1130&height=325"></script>
        </div>
    </div>
</div>*@

@*<div class="uk-grid">
    <div class="uk-width-6-10 uk-push-2-10">
        <form class="subscribe-form" action="/subscribe/SubscribeEmail" method="post">

            <div class="uk-subscribe-form uk-text-center uk-flex uk-flex-middle">
                <span class="title">Подпишись на рассылку и плати меньше!</span>
                <input type="text" placeholder="Введите свой e-mail" class="uk-margin-small-top">
                <input type="submit" class="uk-button" value="Подписаться">
            </div>
            
        </form>
    </div>
</div>*@