<ul class="uk-nav uk-nav-side uk-nav-parent-icon filter" data-uk-nav="{multiple:true}">
    <li class="uk-parent">
        <a href="#">Пульс жизни</a>
        <ul class="uk-nav-sub">
            <li><input type="text" id="slider-range-rating" value="" /></li>
        </ul>
    </li>

    <li class="uk-nav-divider"></li>

    <!-- ПРОВЕРКА -->
    <li class="uk-parent">
        <a href="#">Пол</a>
        <ul class="uk-nav-sub uk-subnav text--center sex">
            <li>
                <div data-button-checkbox>
                    <button class="button text--center">
                        <i class="icon-profile-male"></i>
                        <p><small>муж</small></p>
                    </button>

                    <button class="button text--center">
                        <i class="icon-profile-female"></i>
                        <p><small>жен</small></p>
                    </button>
                </div>
            </li>
        </ul>
    </li>

    <li class="uk-nav-divider"></li>

    <!-- Цвет кожи -->
    <li class="uk-parent">
        <a href="#">Цвет кожи:</a>
        <ul class="uk-nav-sub">
            <li>
                <div class="meta-act-link meta-colors">
                    <ul class="color-chips group">
                        <li class="color">
                            <a href="#" style="background-color: #CCB196;" title="#CCB196">#CCB196</a>
                        </li>
                        <li class="color">
                            <a href="#" style="background-color: #CCA087" title="#CCA087">#CCA087</a>
                        </li>
                        <li class="color">
                            <a href="#" style="background-color: #A87B5A" title="#A87B5A">#A87B5A</a>
                        </li>
                        <li class="color">
                            <a class="active" href="#" style="background-color: #8B664B" title="#8B664B">#8B664B</a>
                        </li>
                        <li class="color">
                            <a href="#" style="background-color: #6E4B35" title="#6E4B35">#6E4B35</a>
                        </li>
                        <li class="color">
                            <a href="#" style="background-color: #674134" title="#674134">#674134</a>
                        </li>
                        <li class="color">
                            <a href="#" style="background-color: #4C2E24" title="#4C2E24">#4C2E24</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>

    <li class="uk-nav-divider"></li>

    <!-- Категории съемок -->
    <li class="uk-parent">
        <a href="#">Категории съемки</a>
        <ul class="uk-nav-sub">
            <li>
                <input type="checkbox" class="tiny" value="All" id="all_genre">
                <label>Все категории</label>
            </li>
            <li>
                <input type="checkbox" class="tiny" value="Crime">
                <label>Реклама одежды</label>
            </li>
            <li>
                <input type="checkbox" class="tiny" value="Drama">
                <label>Контракт с фирмой</label>
            </li>
            <li>
                <input type="checkbox" class="tiny" value="Thriller">
                <label>НЮ</label>
            </li>
            <li>
                <input type="checkbox" class="tiny" value="Adventure">
                <label>Арт-НЮ</label>
            </li>
            <li>
                <input type="checkbox" class="tiny" value="Western">
                <label>Эротика</label>
            </li>
            <li>
                <input type="checkbox" class="tiny" value="Action">
                <label>Fashon</label>
            </li>
            <li>
                <input type="checkbox" class="tiny" value="Biography">
                <label>МетАрт</label>
            </li>
            <li>
                <input type="checkbox" class="tiny" value="History">
                <label>Гламур</label>
            </li>
            <li>
                <input type="checkbox" class="tiny" value="Fantasy">
                <label>Арт-бьюти</label>
            </li>
        </ul>
    </li>
</ul>