<div class="col--1-1 grid-margin">
    <div class="uk-section">
        <span class="uk-section__counter">3</span>
        <span class="uk-section__title">Юридические данные</span>
    </div>

    <div class="grid">
        <div class="col--1-3">
            <label class="label">Юридический адрес <i class="uk-icon-question-circle" data-uk-tooltip="" title="" data-cached-title="Введите юр. адрес вашей компании"></i></label>
            <input class="form-control input col--large-1-1 col--small-1-1" id="Shortcut" name="Shortcut" type="text" value="" ng-model="item.legaladdress">

        </div>
        <div class="col--1-3">
            <label class="label">УНП <i class="icon-help2" data-uk-tooltip="" title="***"></i></label>
            <input class="form-control input col--large-1-1 col--small-1-1" type="number" value="" ng-model="item.accountNumber">

        </div>
        <div class="col--1-3">
            <label class="label">Зарегистрирован в торговом реестре <i class="icon-help2" data-uk-tooltip="" title="Введите максимальное количество человек мастер-класса"></i></label>
            <input class="form-control input col--large-1-1 col--small-1-1" type="text" value="" ng-model="item.registerTrade">

        </div>
        <div class="col--1-3 grid-margin">
            <label class="label">Номер свидетельства о регистрации <i class="icon-help2" data-uk-tooltip="" title="***"></i></label>
            <input class="form-control input col--large-1-1 col--small-1-1" type="number" value="" ng-model="item.certificateNumber">

        </div>
        <div class="col--1-3 grid-margin">
            <label class="label">Выдано Свидетельство о регистрации <i class="icon-help2" data-uk-tooltip="" title="Это ссылка позволит мгновенно перейти к вашей странице"></i></label>
            <div class="input__group">
                <span class="input__group-addon">от</span>
                <input class="form-control input col--1-1" type="date" value="" ng-model="item.registerDate">

            </div>
        </div>
        <div class="col--1-3 grid-margin">
            <label class="label">Регистрирующий орган <i class="icon-help2" data-uk-tooltip="" title="Введите время окончания мастер-класса"></i></label>
            <input class="form-control input col--large-1-1 col--small-1-1" type="text" value="" placeholder="Минский городской исполнительный комитет" ng-model="item.registeringAgency">

        </div>
    </div>
</div>