@using PhotoMSK.Extensiolns
@model PhotoMSK.Areas.Default.ViewData.Catalog.VitrineViewData

<div class="uk-grid">
    <div class="uk-width-1-1">
        <div class="uk-flex uk-flex-wrap uk-grid-width-1-6 uk-text-center uk-main-page-menu-category">
            @*@foreach (var item in Model.Categorieses)
                {
                    <div class="uk-panel uk-main-page-menu-category-item">
                        <a href="@Html.MakeUrl(Model,"catalog/"+item.Slug)" class="uk-link-reset ">
                            <p class="uk-margin-small">
                                <img alt="@item.Name" src="@Url.Content("/Themes/ftt.by/Content/images/category/category-nikon.jpg")" width="120">
                            </p>
                            <strong class="uk-h6">@item.Name</strong>
                        </a>
                    </div>
                }*@
            <div class="uk-panel uk-main-page-menu-category-item">
                <a href="http://ftt.by/catalog/%D1%88%D1%82%D0%B0%D1%82%D0%B8%D0%B2%D1%8B" class="uk-link-reset ">
                    <p class="uk-margin-small">
                        <img alt="Штативы" src="/Themes/Photoshop/ftt.by/Content/images/category/category-tripod.jpg" width="120">
                    </p>
                    <strong class="uk-h6">Штативы</strong>
                </a>
            </div>
            <div class="uk-panel uk-main-page-menu-category-item">
                <a href="http://ftt.by/catalog/%D1%81%D1%83%D0%BC%D0%BA%D0%B8-%D0%B4%D0%BB%D1%8F-%D1%84%D0%BE%D1%82%D0%BE" class="uk-link-reset ">
                    <p class="uk-margin-small">
                        <img alt="Сумки для фото/видеотехники" src="/Themes/Photoshop/ftt.by/Content/images/category/category-bag.jpg" width="120">
                    </p>
                    <strong class="uk-h6">Сумки для фото/видеотехники</strong>
                </a>
            </div>
            <div class="uk-panel uk-main-page-menu-category-item">
                <a href="http://ftt.by/catalog/%D0%B2%D1%81%D0%BF%D1%8B%D1%88%D0%BA%D0%B8-%D0%B8-%D0%BB%D0%B0%D0%BC%D0%BF%D1%8B" class="uk-link-reset ">
                    <p class="uk-margin-small">
                        <img alt="Вспышки и лампы" src="/Themes/Photoshop/ftt.by/Content/images/category/category-led.jpg" width="120">
                    </p>
                    <strong class="uk-h6">Вспышки и лампы</strong>
                </a>
            </div>
            <div class="uk-panel uk-main-page-menu-category-item">
                <a href="http://ftt.by/catalog/%D1%81%D0%B2%D0%B5%D1%82%D0%BE%D1%84%D0%B8%D0%BB%D1%8C%D1%82%D1%80%D1%8B" class="uk-link-reset ">
                    <p class="uk-margin-small">
                        <img alt="Светофильтры и конвертеры" src="/Themes/Photoshop/ftt.by/Content/images/category/category-filter.jpg" width="120">
                    </p>
                    <strong class="uk-h6">Светофильтры и конвертеры</strong>
                </a>
            </div>
            <div class="uk-panel uk-main-page-menu-category-item">
                <a href="http://ftt.by/catalog/%D0%BE%D0%B1%D1%8A%D0%B5%D0%BA%D1%82%D0%B8%D0%B2%D1%8B" class="uk-link-reset ">
                    <p class="uk-margin-small">
                        <img alt="Объективы" src="/Themes/Photoshop/ftt.by/Content/images/category/category-lens.jpg" width="120">
                    </p>
                    <strong class="uk-h6">Объективы</strong>
                </a>
            </div>
            <div class="uk-panel uk-main-page-menu-category-item">
                <a href="http://ftt.by/catalog/%D1%84%D0%BE%D1%82%D0%BE%D0%B0%D0%BF%D0%BF%D0%B0%D1%80%D0%B0%D1%82%D1%8B" class="uk-link-reset ">
                    <p class="uk-margin-small">
                        <img alt="Фотоаппараты" src="/Themes/Photoshop/ftt.by/Content/images/category/category-camera.jpg" width="120">
                    </p>
                    <strong class="uk-h6">Фотоаппараты</strong>
                </a>
            </div>
            <div class="uk-panel uk-main-page-menu-category-item">
                <a href="http://ftt.by/catalog/%D0%AD%D0%BA%D1%88%D0%B5%D0%BD-%D0%BA%D0%B0%D0%BC%D0%B5%D1%80%D1%8B" class="uk-link-reset ">
                    <p class="uk-margin-small">
                        <img alt="Экшен-камеры" src="/Themes/Photoshop/ftt.by/Content/images/category/category-action-camera.jpg" width="120">
                    </p>
                    <strong class="uk-h6">Экшен-камеры</strong>
                </a>
            </div>
        </div>
    </div>
</div>