<div class="container container--center">
    <srction class="grid">
        <div class="col--2-3 container--center uk-margin-large">
            <h1 class="uk-text-bold">Правила использования ресурсов сайта</h1>
            <div>
                <p>В&nbsp;настоящих Правилах установлены условия комфортной и&nbsp;продуктивной работы Администрации сайта, Фотографа и&nbsp;Заказчика. Правила данного раздела относятся ко&nbsp;всем разделам сайта. Администрация оставляет за&nbsp;собой право менять условия данных Правил с&nbsp;обязательным уведомлением Пользователя.</p>
                <h6>При нарушении какого-либо пункта настоящих Правил возможна блокировка аккаунта.</h6>
                <h3 class="uk-text-bold">Основные положения</h3>
                <ol>
                    <li>Регистрируясь и&nbsp;используя сайт «Фотомск.бай», Пользователь выражает свое согласие с&nbsp;условиями действующих Правил.</li>
                    <li>На&nbsp;сайте не&nbsp;допускается множественная регистрация&nbsp;— и&nbsp;Фотограф и&nbsp;Заказчик может создавать только один аккаунт.</li>
                    <li>Взлом чужих аккаунтов, либо завладение мошенническим путем логином и&nbsp;паролем другого пользователя приведет к&nbsp;блокировке Вашего аккаунта.</li>
                    <li>В&nbsp;свою очередь, Администрация сайта не&nbsp;несет ответственность за&nbsp;передачу пользователем своего логина и&nbsp;пароля третьим лицам.</li>
                    <li>Не&nbsp;допускается нарушение авторских прав. Использование чужих работ приведет к&nbsp;блокировке аккаунта.</li>
                    <li>На&nbsp;Сайте запрещена рассылка спама, размещение рекламы в&nbsp;блогах. За&nbsp;попытку сбора информации (контактов, e-mail адресов) с&nbsp;целью дальнейшей рассылки спама производится блокировка аккаунта.</li>
                    <li>
                        Не&nbsp;допускается публикация материалов в&nbsp;портфолио, контактах и&nbsp;блогах, нарушающих существующие законы&nbsp;РБ.
                        <ol>
                            <li>Запрещена публикация материалов пропагандирующих насилие, дискриминацию по&nbsp;расовому, национальному, половому, социальному и&nbsp;иным признакам, пропагандирующих нетрадиционные сексуальные отношения, призывающие к&nbsp;употреблению табачной продукции, алкоголя и&nbsp;наркотических веществ.</li>
                            <li>На&nbsp;сайте запрещено размещение материалов порнографического содержания.</li>
                            <li>При публичных обсуждениях (в&nbsp;сообщениях, блогах, комментариях) запрещено использование ненормативной лексики, не&nbsp;допускаются шантаж, угрозы, клевета.</li>
                        </ol>
                    </li>
                </ol>
                <h3 class="uk-text-bold">Правила работы для Фотографов</h3>
                <ol>
                    <li>При регистрации желательно указывать понятный Ник (либо Ваше настоящее имя, либо псевдоним, под которым&nbsp;Вы работаете) — так потенциальным Заказчикам будет проще найти именно Ваши работы.</li>
                    <li>Пожалуйста, не&nbsp;передавайте регистрационные данные&nbsp;— логин и&nbsp;пароль, третьим лицам. Действия, совершенные с&nbsp;Вашего аккаунта, должны соответствовать действующим Правилам.</li>
                    <li>Не&nbsp;размещайте материалы рекламного характера на&nbsp;страницах сайта, не&nbsp;предназначенных для этого. При выявлении скрытой рекламы, материалы будут удаляться, а&nbsp;Ваш аккаунт может быть заблокирован.</li>
                    <li>Будьте вежливы в&nbsp;общении с&nbsp;Заказчиками и&nbsp;другими участниками проекта&nbsp;— угрозы, нецензурная лексика и&nbsp;оскорбления на&nbsp;нашем Сайте недопустимы.</li>
                    <li>Фотограф самостоятельно загружает работы на&nbsp;сайт из&nbsp;своего личного кабинета. Рекомендуется подготовить фотографию для WEB с&nbsp;размером не&nbsp;менее 1200 пикселов по&nbsp;большей стороне. Работы загружаются исключительно в&nbsp;свое портфолио.</li>
                    <li>Не&nbsp;используйте чужие работы в&nbsp;своем портфолио. Нарушение авторских прав влечет за&nbsp;собой ответственность, регламентированную законом РБ.</li>
                    <li>Выкладывая свое портфолио на&nbsp;нашем ресурсе, Вы&nbsp;предоставляете право Администрации представлять Ваши работы на&nbsp;сайте http://photomsk.by, а&nbsp;также распространять информацию о&nbsp;Сайте и&nbsp;контенте на&nbsp;других сайтах, в&nbsp;социальных сетях и&nbsp;на&nbsp;иных информационных ресурсах в&nbsp;рекламных целях.</li>
                    <li>Будьте внимательны к&nbsp;требованиям Заказчика. Грамотно выполненная работа позволит Вам повысить свой рейтинг среди других участников проекта.</li>
                    <li>Фотограф обязательно должен делать соответствующие отметки о&nbsp;выполнении заказа, а&nbsp;также о&nbsp;передаче результатов работы. В&nbsp;случае трехкратного нарушения одного из&nbsp;этих условий, аккаунт участника проекта блокируется.</li>
                    <li>В&nbsp;случае невыполнения принятого заказа, фотограф теряет профессиональный рейтинг и&nbsp;рейтинг популярности. Многократное невыполнение принятых обязанностей приведет к&nbsp;блокировке аккаунта.</li>
                    <li>Если Исполнитель не&nbsp;отвечает на&nbsp;заказы в&nbsp;течение месяца, он&nbsp;исключается из&nbsp;каталога.</li>
                    <li>
                        <b>Перед регистрацией внимательно ознакомьтесь со&nbsp;всеми пунктами данных правил.</b>
                    </li>
                </ol>
                <p>Желаем Вам вспышек вдохновения и&nbsp;правильной выдержки!</p>
                <h3 class="uk-text-bold">Правила работы для Заказчиков</h3>
                <ol>
                    <li>При составлении технического задания постарайтесь наиболее подробно определить свои требования. Чем точнее будет описана Ваша идея, тем проще Вам будет найти специализирующегося на&nbsp;выбранной тематике Фотографа. На&nbsp;нашем сайте уже представлены основные общие направления.</li>
                    <li>Размещенные на&nbsp;сайте работы являются собственностью Фотографа. Использование материалов автора без его ведома не&nbsp;допускается.</li>
                    <li>Относитесь с&nbsp;уважением к&nbsp;представляемым работам Фотографов. Оскорбления, критика в&nbsp;резкой форме, высказывания по&nbsp;поводу компетентности авторов могут привести с&nbsp;сокращению желающих выполнять Ваш заказ.</li>
                    <li>Помните, что от&nbsp;установленного Вами бюджета будет зависеть количество возможных исполнителей.</li>
                    <li>Не&nbsp;забывайте делать отметки о&nbsp;факте выполнения заказа и&nbsp;последующей передаче материалов работы.</li>
                    <li>Оставляйте отзывы об&nbsp;исполнителе, так&nbsp;Вы сможете порекомендовать другим участникам проекта профессиональных Фотографов и&nbsp;помочь нам сформировать корректный рейтинг.</li>
                    <li>
                        <b>Перед регистрацией внимательно ознакомьтесь со&nbsp;всеми пунктами данных правил.</b>
                    </li>
                </ol>
                <p>Желаем вам реализации самых креативных идей и&nbsp;талантливых фотографов!</p>
            </div>
        </div>
    </srction>
</div>