<div class="uk-grid">
    <div class="uk-grid-width-1-2">
        <div class="uk-onliner-review">
            <img src="http://fotomix.by/upload/iblock/130/onliner.jpg">
            <a href="http://387.shop.onliner.by/#reviews" class="uk-link-reset">
                <p class="uk-h4 uk-margin-remove"><strong>81 отзывов наших клиентов</strong></p>
                <span class="txt-small uk-text-muted">Клиенты довольны нашей работой →</span>
            </a>
        </div>
    </div>
</div>