@using PhotoMSK.Extensiolns
@model PhotoMSK.Areas.Default.ViewData.Model.IndexViewData

@{
    ViewBag.Title = "Index";
}

@section scripts
{
    <script>
        $(function () {
            App.ModelsView = new App.Views.ModelsView();
            App.ModelsView.topModelsCollection.reset(@Model.Page.Elements.Select(x => new
                                                     {
                                                         shortcut = x.Url,
                                                         x.FirstName,
                                                         x.LastName,
                                                         photoUrl = x.ImageUrl
                                                     }).ToJson());

            App.ModelsView.modelsCollection.reset(@Model.Page.Elements.Select(x => new
                                                  {
                                                      shortcut = x.Url,
                                                      x.FirstName,
                                                      x.LastName,
                                                      photoUrl = x.ImageUrl
                                                  }).ToJson());
        });

    </script>

}

<div class="uk-main-page-body">
    <div class="uk-page-bar-panel">
        <div class="uk-container uk-container-center">
            <ul class="uk-margin-remove uk-subnav uk-subnav-line uk-subnav-breadcrumb">
                <li><a href="~/">Главная</a></li>
                <li class="uk-active"><a href="#">Модели</a></li>
                <li>
                    <span>найдено <strong>@String.Format("{0:### ### ### ###}", Model.Page.Elements.Count())</strong> шт.</span>
                </li>
            </ul>
        </div>
    </div>

    <div class="uk-container uk-container-center">
        <div class="uk-grid">
            <div class="uk-width-8-10">
                @* TOP Models*@
                <h1><strong class="yellow-color">Популярные</strong> модели недели</h1>
                <hr class="yellow-color" />

                <div id="top-models" class="uk-grid">
                    @*Тут добавляются модели*@
                </div>
            </div>

            <div class="uk-width-2-10">
                <h1>Рейтинг</h1>
                <hr />

                <ul class="rating-list">
                    <li>
                        <article class="uk-comment">
                            <header class="uk-comment-header">
                                <img class="uk-comment-avatar uk-border-rounded" src="https://pp.vk.me/c322420/v322420002/59ac/K9Wk902WYAo.jpg" width="50" height="50" alt="">
                                <h4 class="uk-comment-title">Роман Лунцевич</h4>
                                <div class="uk-comment-meta"> Фотограф</div>
                            </header>
                        </article>
                    </li>
                    <li>
                        <article class="uk-comment">
                            <header class="uk-comment-header">
                                <img class="uk-comment-avatar uk-border-rounded" src="https://pp.vk.me/c322420/v322420002/59ac/K9Wk902WYAo.jpg" width="50" height="50" alt="">
                                <h4 class="uk-comment-title">Роман Лунцевич</h4>
                                <div class="uk-comment-meta"><div class="uk-badge uk-badge-success">PRO</div> Фотограф</div>
                            </header>
                        </article>
                    </li>
                </ul>
            </div>
            @*<div id="models" class="uk-grid">
                    Тут подгружаются модели
                </div>*@
        </div>
    </div>
</div>
