@{
    ViewBag.Title = "Detalis";
}

<div class="uk-container uk-container-center pad-top-20">
    <div class="uk-grid">
        <div id="ads_page" class="">
            <div id="ads_adblock_notice" class="error ads_adblock_notice" style="display: none;">
                Возможно, Вы используете расширение, блокирующее рекламу, например, AdBlock или подобное. Это может вызвать некорректную работу рекламного кабинета. Рекомендуем отключить расширение или добавить сайт vk.com в исключения.
                <a onclick="cur.hideAdBlockNotice();">Скрыть это уведомление</a>
            </div>
            <div id="ads_unions_content">
                <div id="ads_union_general_info" class="clear_fix">
                    <h2><span id="general_info_header_name_1002298831">Фотостудия</span> <a href="#" onclick="Ads.openUnionsGeneralInfoBox(1002298831, {&quot;union_id&quot;:1002298831,&quot;filter&quot;:&quot;name&quot;,&quot;from_header&quot;:true,&quot;hash&quot;:&quot;21954b40e584113bce&quot;}); return false;" style="color: #A3B0BC; font-size: 11px; font-weight: normal; padding-left: 5px;" wotsearchprocessed="true">редактировать</a></h2>
                    <div>
                        <table class="ads_general_info ads_unions_content_label" style="float: left;">
                            <tbody>
                                <tr class="" id="general_info_row_day_limit" style="">
                                    <td class="table_label " style="">Дневной лимит:</td>
                                    <td class="table_value "><img id="inline_edit_progress2051910031" src="/images/upload.gif" style="display: none;"><a id="inline_edit_value2051910031" href="#" onmouseover="this.removeAttribute('onmouseover');Ads.createInlineEdit(ge('inline_edit_value2051910031'), ge('inline_edit_progress2051910031'), 1, 1002298831, 'day_limit', &quot;0&quot;, 'bdc6f65fbefe748119', {&quot;filter&quot;:&quot;day_limit&quot;,&quot;day_limit_max_precision&quot;:0});" wotsearchprocessed="true"><span style="white-space:nowrap;">Не задан</span></a></td>
                                </tr>
                                <tr class="" id="general_info_row_all_limit" style="">
                                    <td class="table_label " style="">Общий лимит:</td>
                                    <td class="table_value "><img id="inline_edit_progress1952791884" src="/images/upload.gif" style="display: none;"><a id="inline_edit_value1952791884" href="#" onmouseover="this.removeAttribute('onmouseover');Ads.createInlineEdit(ge('inline_edit_value1952791884'), ge('inline_edit_progress1952791884'), 1, 1002298831, 'all_limit', &quot;0&quot;, '4da5686f9eac16e131', {&quot;filter&quot;:&quot;all_limit&quot;,&quot;all_limit_max_precision&quot;:0});" wotsearchprocessed="true"><span style="white-space:nowrap;">Не задан</span></a></td>
                                </tr>
                                <tr class="" id="general_info_row_status" style="">
                                    <td class="table_label " style="">Статус:</td>
                                    <td class="table_value "><img id="general_info_status_progress" src="/images/upload.gif" style="display: none;"><span id="general_info_status_selector_box" style="white-space: nowrap;"><a id="ads_general_info_status_selector" class="dd_link ads_status_link dd_menu_target">Остановлено</a></span>&nbsp;<a href="#" onclick="Ads.openHelpBox('statuses', 1002298831); return false;" style="white-space: nowrap;" wotsearchprocessed="true">(?)</a></td>
                                </tr>
                                <tr class="" id="general_info_row_start_time" style="">
                                    <td class="table_label " style="">Дата запуска:</td>
                                    <td class="table_value "><img id="inline_edit_progress1363092797" src="/images/upload.gif" style="display: none;"><a id="inline_edit_value1363092797" href="#" onmouseover="this.removeAttribute('onmouseover');Ads.createInlineEdit(ge('inline_edit_value1363092797'), ge('inline_edit_progress1363092797'), 1, 1002298831, 'start_time', {&quot;month&quot;:10,&quot;day&quot;:3,&quot;hour&quot;:20}, 'ab3364f3aa80a33ee7', {&quot;filter&quot;:&quot;start_time&quot;});" wotsearchprocessed="true">Не задана</a></td>
                                </tr>
                                <tr class="" id="general_info_row_stop_time" style="">
                                    <td class="table_label " style="">Дата остановки:</td>
                                    <td class="table_value "><img id="inline_edit_progress942837281" src="/images/upload.gif" style="display: none;"><a id="inline_edit_value942837281" href="#" onmouseover="this.removeAttribute('onmouseover');Ads.createInlineEdit(ge('inline_edit_value942837281'), ge('inline_edit_progress942837281'), 1, 1002298831, 'stop_time', {&quot;month&quot;:10,&quot;day&quot;:4,&quot;hour&quot;:20}, 'c8eca88e8c4064e3c9', {&quot;filter&quot;:&quot;stop_time&quot;});" wotsearchprocessed="true">Не задана</a></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="ads_create_button_office"><div class="edit_button_wrap"><a href="/adscreate?parent_id=1002298831" class="button_link" wotsearchprocessed="true"><div class="button_blue "><button>Создать объявление</button></div></a></div></div>
                    </div>
                </div>
                <div id="ads_union_children">
                    <h2><a href="/ads?act=office&amp;union_id=1002298831&amp;view=periods" class="fl_r ads_h2_add" wotsearchprocessed="true">К статистике по дням</a>Рекламные объявления</h2>
                    <div>
                        <div class="row_div control_label" style="width: 143px;">Период статистики:</div>
                        <div class="row_div" style="margin-left: -3px;"><a id="table_selector" class="dd_link dd_menu_target">За&nbsp;всё&nbsp;время</a><img id="union_children_table_progress" src="/images/upload.gif" style="display: none;"></div>
                    </div>

                    <div id="union_children_table">
                        <div id="paginated_table" class="ads_unions_list_p">
                            <div id="paginated_table_control10" class="paginated_table_control top_control">
                                <div id="show_size_chooser5" class="show_size_chooser" style="display: none;">
                                    <div class="row_div control_label" style="width: 143px;">Показывать на странице:</div><div class="row_div"><a id="show_size_dd5" class="size_chooser_link dd_link dd_menu_target">20&nbsp;записей</a></div>
                                </div>
                                <div>
                                    <div class="row_div control_label" style="width: 143px;">Показаны:</div><div class="row_div"><nobr><a id="table_filter_dd10" class="table_filter_dd dd_link dd_menu_target">Все&nbsp;активные&nbsp;объявления</a></nobr></div>
                                </div>
                                <div style="height: 20px;"></div>
                                <h4 style="font-size: 11px; margin: 0px 0px 6px; "><span id="label_no_entries10" class="label_no_entries" style="display: none;"></span><span id="label_total10" class="label_total">В кампании 1 активное объявление</span></h4>
                                <table class="paginate_layout_table"><tbody><tr><td><div class="ads_selecting_subclasses"><span class="control_label">Выделить:&nbsp;<a id="select_all_link">все</a>, <a id="select_running_link">запущенные</a>, <a id="select_stopped_link">остановленные</a></span></div></td><td><div id="pt_5_mass_act_default_container" class="ads_mass_act_container"><div class="button_blue" style="display: none;"><button>Запустить</button></div><div class="button_blue" style="display: none;"><button>Остановить</button></div><div class="button_blue" style="display: none;"><button>Архивировать</button></div></div></td><td class="ads_search_cell"><div class="fl_r"><div id="pt_5_search_default_container" style="display: block;" class="pt_search_container"><div class="input_back_wrap no_select"><div class="input_back" style="margin: 1px; padding: 3px 3px 3px 19px;"><div class="input_back_content" style="width: 127px;">Поиск объявлений</div></div></div><input type="text" class="text" autocomplete="off"></div></div></td></tr></tbody></table>
                            </div><div class="paginated_table"><table class="ads_unions_table"><tbody><tr class="paginated_table_header"><th class="paginated_table_cell first_column cb_cell"><a id="total_cb_5" class="ads_lite_cb" onmouseover="addClass(this, 'checkbox_over');" onmouseout="removeClass(this, 'checkbox_over'); removeClass(this, 'checkbox_pressed')" onmousedown="addClass(this, 'checkbox_pressed');" onmouseup="addClass(this, 'checkbox_pressed');">‎</a></th><th class="paginated_table_cell column_name_view" style="white-space: nowrap;"><div><span class="table_header_upper_span">Название</span></div></th><th class="paginated_table_cell column_status_view pt_align_center" style="white-space: nowrap;"><div><span class="table_header_upper_span">Статус</span></div></th><th class="paginated_table_cell column_cost_per_click_view" style="white-space: nowrap;"><div><span class="table_header_upper_span">CPC&nbsp;<span onclick="Ads.openHelpBox('cpc', 1002298831); return cancelEvent(event);" onmouseout="this.style.textDecoration='none'" onmouseover="this.style.textDecoration='underline'" style="text-decoration: none; white-space: nowrap; cursor: pointer;">(?)</span></span></div></th><th class="paginated_table_cell column_all_limit_view" style="white-space: nowrap;"><div><span class="table_header_upper_span">Лимит&nbsp;<span onclick="Ads.openHelpBox('limits', 1002298831); return cancelEvent(event);" onmouseout="this.style.textDecoration='none'" onmouseover="this.style.textDecoration='underline'" style="text-decoration: none; white-space: nowrap; cursor: pointer;">(?)</span></span></div></th><th class="paginated_table_cell column_money_amount_view" style="white-space: nowrap;"><div><span class="table_header_upper_span">Потрачено</span></div></th><th class="paginated_table_cell column_ctr_view" style="white-space: nowrap;"><div><span class="table_header_upper_span">CTR&nbsp;<span onclick="Ads.openHelpBox('cpc', 1002298831); return cancelEvent(event);" onmouseout="this.style.textDecoration='none'" onmouseover="this.style.textDecoration='underline'" style="text-decoration: none; white-space: nowrap; cursor: pointer;">(?)</span></span></div></th><th class="paginated_table_cell column_clicks_count_view" style="white-space: nowrap;"><div><span class="table_header_upper_span">Переходы</span></div></th><th class="paginated_table_cell last_column column_views_count_view" style="white-space: nowrap;"><div><span class="table_header_upper_span">Показы</span></div></th></tr><tr class="paginated_table_row"><td class="paginated_table_cell first_column cb_cell"><a id="cb_row_0_5" class="ads_lite_cb" onclick="var v = this; while (v.tableObj === undefined) v = v.parentNode; return v.tableObj.toggleCheckbox(this, 0);" onmouseover="addClass(this, 'checkbox_over');" onmouseout="removeClass(this, 'checkbox_over'); removeClass(this, 'checkbox_pressed')" onmousedown="addClass(this, 'checkbox_pressed');" onmouseup="addClass(this, 'checkbox_pressed');">‎</a></td><td id="cell_0_0" class="paginated_table_cell column_name_view" style="white-space: nowrap;"><div class="ads_paginated_table_name"><a href="/ads?act=office&amp;union_id=12862387" wotsearchprocessed="true">Фотостудия "Photolab". Ст</a></div></td><td id="cell_0_1" class="paginated_table_cell column_status_view pt_align_center" style="white-space: nowrap;"><img id="union_12862387_status_progress" src="/images/upload.gif" style="display: none;"><span id="union_12862387_status_selector_box" class="ads_status_selector_box  pnt" style="white-space: nowrap;" onclick="invokeGlobalPTFunction(this,5,0,1,0);"><span class="ads_status_image_span status_off_red"></span></span></td><td id="cell_0_2" class="paginated_table_cell column_cost_per_click_view" style="white-space: nowrap;"><img id="inline_edit_progress776347709" src="/images/upload.gif" style="display: none;"><a id="inline_edit_value776347709" onclick="invokeGlobalPTFunction(this,5,0,2,0);">5.00 руб.</a></td><td id="cell_0_3" class="paginated_table_cell column_all_limit_view" style="white-space: nowrap;"><img id="inline_edit_progress183053480" src="/images/upload.gif" style="display: none;"><a id="inline_edit_value183053480" onclick="invokeGlobalPTFunction(this,5,0,3,0);">Не задан</a></td><td id="cell_0_4" class="paginated_table_cell column_money_amount_view" style="white-space: nowrap;">297 руб.</td><td id="cell_0_5" class="paginated_table_cell column_ctr_view" style="white-space: nowrap;">0.040&nbsp;%</td><td id="cell_0_6" class="paginated_table_cell column_clicks_count_view" style="white-space: nowrap;">60</td><td id="cell_0_7" class="paginated_table_cell last_column column_views_count_view" style="white-space: nowrap;">151 738</td></tr><tr class="paginated_table_footer"><td class="paginated_table_cell column_name_view" colspan="2" style="white-space: nowrap;">Всего</td><td class="paginated_table_cell column_status_view pt_align_center" style="white-space: nowrap;"></td><td class="paginated_table_cell column_cost_per_click_view" style="white-space: nowrap;"></td><td class="paginated_table_cell column_all_limit_view" style="white-space: nowrap;"></td><td class="paginated_table_cell column_money_amount_view" style="white-space: nowrap;">297 руб.</td><td class="paginated_table_cell column_ctr_view" style="white-space: nowrap;">0.040&nbsp;%</td><td class="paginated_table_cell column_clicks_count_view" style="white-space: nowrap;">60</td><td class="paginated_table_cell last_column column_views_count_view" style="white-space: nowrap;">151 738</td></tr></tbody></table></div><div id="paginated_table_control11" class="paginated_table_control bottom_control"><table id="paginate_layout_table11" class="paginate_layout_table"><tbody><tr><td><table id="page_list_table11" class="page_list_table"><tbody></tbody></table></td></tr></tbody></table></div>
                        </div>
                    </div>
                </div>
                <div id="ads_union_children_graph">
                    <h2 style="margin-bottom: 15px; ">Статистика</h2>

                    <table style="border-collapse: collapse; width: 100%;">
                        <tbody>
                            <tr>
                                <td style="width: 1px; padding: 0px;">

                                    <div style="">
                                        <div id="wrapper_ads_graph_unions" style="width: 600px; height: auto; font-family: tahoma, arial, verdana, sans-serif, 'Lucida Sans'; font-size: 11px; color: rgb(54, 99, 142); clear: both; line-height: 130%; text-align: left;" class="stats_flash_wrap"><div style="float: left; display: block; width: 46px; height: 385px;"><canvas style="padding-top: 20px; width: 46px; height: 385px;" width="46" height="385"></canvas></div>    <div style="float: left; width: 554px;">      <div style="height: 20px; float: right;"></div>      <div style="height: 20px; padding-left: 10px; display: block;">14 Ноября 2013 – 15 Ноября 2013</div>      <div style="position: relative; height: 345px;">        <canvas height="345" style="height: 345px; width: 554px;" width="554"></canvas>        <canvas height="328" style="position: absolute; top: 0px; left: 0px; height: 328px; width: 554px;" width="554"></canvas>        <div style="position: absolute; border: 1px solid rgb(95, 125, 157); color: rgb(95, 125, 157); padding: 2px 3px 2px 4px; white-space: nowrap; display: none; left: 266px; top: 163px; background-color: rgb(238, 238, 238);">Нет данных</div>      <div style="position: absolute; display: none;"><div style="color: white;            -webkit-border-radius: 2px; -khtml-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px;            background-color: #597da3; position: absolute; padding: 2px 3px 3px 3px; white-space: nowrap; cursor: default;"></div></div></div>      <div style="position: relative; height: 40px; display: none;">        <canvas height="40" style="height: 40px; width: 554px;" width="554"></canvas>        <div style="position: absolute; top: 0px; height: 38px; border-style: solid; border-color: rgb(211, 222, 232) rgb(184, 197, 212) rgb(184, 197, 212); border-width: 1px 0px 1px 1px; width: 0px; display: none;"><div style="background: white; opacity: 0.5; filter: alpha(Opacity=50); width: 100%; height: 100%;"></div></div>        <div style="position: absolute; top: 0px; height: 38px; border: 1px solid rgb(184, 197, 212); cursor: pointer; left: 0px; width: 552px;"></div>        <div style="position: absolute; top: 0px; height: 38px; border-style: solid; border-color: rgb(211, 222, 232) rgb(184, 197, 212) rgb(184, 197, 212); border-width: 1px 1px 1px 0px; left: 554px; display: none;"><div style="background: white; opacity: 0.5; filter: alpha(Opacity=50); width: 100%; height: 100%;"></div></div>        <div style="position: absolute; top: 0; height: 38px; border: 1px solid #b8c5d4; background: #ced9de; opacity: 0.5; filter: alpha(Opacity=50); display: none;"></div>          <div style="position: absolute; top: 0px; width: 8px; height: 40px; cursor: w-resize; left: 0px;"></div>          <div style="position: absolute; top: 0px; width: 8px; height: 40px; cursor: e-resize; left: 546px;"></div>      </div>      <div style="float: left; width: 277px; padding-top: 8px;"><div style="color: rgb(89, 125, 163); position: relative; cursor: pointer;"><canvas width="20" height="20" style="vertical-align: middle; padding-right: 2px; width: 20px; height: 20px;"></canvas><span title="Фотостудия &amp;quot;Photolab...">Фотостудия "Photolab...</span><div style="position: absolute; top: 0px; left: 160px; padding: 2px 3px; white-space: nowrap; display: none; color: white; border-top-left-radius: 2px; border-top-right-radius: 2px; border-bottom-right-radius: 2px; border-bottom-left-radius: 2px; background: rgb(89, 125, 163);"></div></div></div><div style="float: left; width: 277px; padding-top: 8px;"></div>    </div><div style="clear: left;"></div></div>
                                    </div>
                                </td>
                                <td id="ads_graph_navigation" style="vertical-align: top; padding: 29px 0 0 20px;">
                                    <a href="#" onclick="this.blur(); cur.changeGraph(0); return false;" class="nav nav_selected" id="graph_navigation_0" wotsearchprocessed="true">Переходы</a>
                                    <a href="#" onclick="this.blur(); cur.changeGraph(1); return false;" class="nav" id="graph_navigation_1" wotsearchprocessed="true">Показы</a>
                                    <a href="#" onclick="this.blur(); cur.changeGraph(2); return false;" class="nav" id="graph_navigation_2" wotsearchprocessed="true">CTR</a>
                                    <a href="#" onclick="this.blur(); cur.changeGraph(3); return false;" class="nav" id="graph_navigation_3" wotsearchprocessed="true">Потрачено (руб.)</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div><div id="ads_demography_wrap" style="padding-bottom: 10px;">
                    <h2 style="margin-bottom: 0; padding-bottom: 8px; border-color: #DAE1E8;">Демография</h2><div style="padding-bottom: 20px;">
                        <div class="summary_tabs clear_fix">
                            <div class="fl_l summary_tab_sel">
                                <a class="summary_tab2" href="#" id="ads_demography_navigation_tab_bars_all" onclick="Ads.changeDemographyView('bars_all', '1002298831'); return false;" wotsearchprocessed="true">
                                    <div class="summary_tab3">
                                        <nobr>В виде диаграмм</nobr>
                                    </div>
                                </a>
                            </div><div class="fl_l summary_tab">
                                <a class="summary_tab2" href="#" id="ads_demography_navigation_tab_graphs" onclick="Ads.changeDemographyView('graphs', '1002298831'); return false;" wotsearchprocessed="true">
                                    <div class="summary_tab3">
                                        <nobr>В виде графиков</nobr>
                                    </div>
                                </a>
                            </div><div class="fl_r summary_tab">
                                <a class="summary_tab2" href="#" id="ads_demography_navigation_tab_views" onclick="Ads.changeDemographySource('views'); return false;" wotsearchprocessed="true">
                                    <div class="summary_tab3">
                                        <nobr>Показы</nobr>
                                    </div>
                                </a>
                            </div><div class="fl_r summary_tab_sel">
                                <a class="summary_tab2" href="#" id="ads_demography_navigation_tab_clicks" onclick="Ads.changeDemographySource('clicks'); return false;" wotsearchprocessed="true">
                                    <div class="summary_tab3">
                                        <nobr>Переходы</nobr>
                                    </div>
                                </a>
                            </div><div id="ads_demography_navigation_tab_progress" class="fl_l summary_right" style="visibility: hidden;"><span class="summary_tab2"><img src="/images/upload.gif"></span></div>
                        </div>
                    </div><div style="position: relative;">
                        <div id="ads_demography_bars_all_wrap1" style="visibility: visible; height: auto;">
                            <div id="ads_demography_bars_all_wrap2" class="clear_fix">
                                <div class="fl_l" style="position: relative;">
                                    <div class="fl_l" style="position: relative;">
                                        <div class="ads_demography_bars_clicks" style="position: relative; top: 0;">
                                            <div style="padding: 32px 0px 16px 50px; width: 300px; color: #45688e; font-size: 13px; font-weight: bold;">Распределение по полу</div><div id="wrapper_clicks_sex" class="clear_fix" style="width:350px;">
                                                <div id="rows_clicks_sex" class="piechart_rows_root fl_l">
                                                    <table class="piechart_table" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                            <tr id="piechart_row_clicks_sex_0" onmouseover="if (cur.svgData['clicks_sex']) cur.invokeSvgFunction('clicks_sex', 'highlightSlice', [0, 1]); return false;" onmouseout="if (cur.svgData['clicks_sex']) cur.invokeSvgFunction('clicks_sex', 'highlightSlice', [0, 0]); return false;">
                                                                <td class="piechart_stat_name"><div class="piechart_stat_color" style="background-color: #597BA8"></div>Мужчины</td>
                                                                <td class="piechart_stat_info">44.1%</td>
                                                            </tr>
                                                            <tr id="piechart_row_clicks_sex_1" onmouseover="if (cur.svgData['clicks_sex']) cur.invokeSvgFunction('clicks_sex', 'highlightSlice', [1, 1]); return false;" onmouseout="if (cur.svgData['clicks_sex']) cur.invokeSvgFunction('clicks_sex', 'highlightSlice', [1, 0]); return false;">
                                                                <td class="piechart_stat_name"><div class="piechart_stat_color" style="background-color: #82A2CD"></div>Женщины</td>
                                                                <td class="piechart_stat_info">55.9%</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div id="wrapper_svg_clicks_sex" class="fl_l" style="width: 150px; height: 150px; overflow: hidden;">
                                                    <embed id="svg_embed_clicks_sex" src="js/piechart.svg?ver=15&amp;svgid=clicks_sex&amp;dmn=vk.com" style="width: 100%; height: 100%;" preventhide="1">
                                                </div>
                                            </div>
                                        </div><div class="ads_demography_bars_views" style="position: absolute; top: 0;visibility: hidden;">
                                            <div style="padding: 32px 0px 16px 50px; width: 300px; color: #45688e; font-size: 13px; font-weight: bold;">Распределение по полу</div><div id="wrapper_views_sex" class="clear_fix" style="width:350px;">
                                                <div id="rows_views_sex" class="piechart_rows_root fl_l">
                                                    <table class="piechart_table" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                            <tr id="piechart_row_views_sex_0" onmouseover="if (cur.svgData['views_sex']) cur.invokeSvgFunction('views_sex', 'highlightSlice', [0, 1]); return false;" onmouseout="if (cur.svgData['views_sex']) cur.invokeSvgFunction('views_sex', 'highlightSlice', [0, 0]); return false;">
                                                                <td class="piechart_stat_name"><div class="piechart_stat_color" style="background-color: #597BA8"></div>Мужчины</td>
                                                                <td class="piechart_stat_info">30%</td>
                                                            </tr>
                                                            <tr id="piechart_row_views_sex_1" onmouseover="if (cur.svgData['views_sex']) cur.invokeSvgFunction('views_sex', 'highlightSlice', [1, 1]); return false;" onmouseout="if (cur.svgData['views_sex']) cur.invokeSvgFunction('views_sex', 'highlightSlice', [1, 0]); return false;">
                                                                <td class="piechart_stat_name"><div class="piechart_stat_color" style="background-color: #82A2CD"></div>Женщины</td>
                                                                <td class="piechart_stat_info">70%</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div id="wrapper_svg_views_sex" class="fl_l" style="width: 150px; height: 150px; overflow: hidden;">
                                                    <embed id="svg_embed_views_sex" src="js/piechart.svg?ver=15&amp;svgid=views_sex&amp;dmn=vk.com" style="width: 100%; height: 100%;" preventhide="1">
                                                </div>
                                            </div>
                                        </div>
                                    </div><div class="fl_l" style="position: relative;">
                                        <div class="ads_demography_bars_clicks" style="position: relative; top: 0;">
                                            <div style="padding: 32px 0px 16px 50px; width: 300px; color: #45688e; font-size: 13px; font-weight: bold;">Распределение по возрасту</div><div id="wrapper_clicks_age" class="clear_fix" style="width:350px;">
                                                <div id="rows_clicks_age" class="piechart_rows_root fl_l">
                                                    <table class="piechart_table" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                            <tr id="piechart_row_clicks_age_0" onmouseover="if (cur.svgData['clicks_age']) cur.invokeSvgFunction('clicks_age', 'highlightSlice', [0, 1]); return false;" onmouseout="if (cur.svgData['clicks_age']) cur.invokeSvgFunction('clicks_age', 'highlightSlice', [0, 0]); return false;">
                                                                <td class="piechart_stat_name"><div class="piechart_stat_color" style="background-color: #597BA8"></div>от 18 до 21</td>
                                                                <td class="piechart_stat_info">9.6%</td>
                                                            </tr>
                                                            <tr id="piechart_row_clicks_age_1" onmouseover="if (cur.svgData['clicks_age']) cur.invokeSvgFunction('clicks_age', 'highlightSlice', [1, 1]); return false;" onmouseout="if (cur.svgData['clicks_age']) cur.invokeSvgFunction('clicks_age', 'highlightSlice', [1, 0]); return false;">
                                                                <td class="piechart_stat_name"><div class="piechart_stat_color" style="background-color: #82A2CD"></div>от 21 до 24</td>
                                                                <td class="piechart_stat_info">28.8%</td>
                                                            </tr>
                                                            <tr id="piechart_row_clicks_age_2" onmouseover="if (cur.svgData['clicks_age']) cur.invokeSvgFunction('clicks_age', 'highlightSlice', [2, 1]); return false;" onmouseout="if (cur.svgData['clicks_age']) cur.invokeSvgFunction('clicks_age', 'highlightSlice', [2, 0]); return false;">
                                                                <td class="piechart_stat_name"><div class="piechart_stat_color" style="background-color: #BF68A6"></div>от 24 до 27</td>
                                                                <td class="piechart_stat_info">30.8%</td>
                                                            </tr>
                                                            <tr id="piechart_row_clicks_age_3" onmouseover="if (cur.svgData['clicks_age']) cur.invokeSvgFunction('clicks_age', 'highlightSlice', [3, 1]); return false;" onmouseout="if (cur.svgData['clicks_age']) cur.invokeSvgFunction('clicks_age', 'highlightSlice', [3, 0]); return false;">
                                                                <td class="piechart_stat_name"><div class="piechart_stat_color" style="background-color: #78B27C"></div>от 27 до 30</td>
                                                                <td class="piechart_stat_info">13.5%</td>
                                                            </tr>
                                                            <tr id="piechart_row_clicks_age_4" onmouseover="if (cur.svgData['clicks_age']) cur.invokeSvgFunction('clicks_age', 'highlightSlice', [4, 1]); return false;" onmouseout="if (cur.svgData['clicks_age']) cur.invokeSvgFunction('clicks_age', 'highlightSlice', [4, 0]); return false;">
                                                                <td class="piechart_stat_name"><div class="piechart_stat_color" style="background-color: #E7E271"></div>от 30 до 35</td>
                                                                <td class="piechart_stat_info">9.6%</td>
                                                            </tr>
                                                            <tr id="piechart_row_clicks_age_5" onmouseover="if (cur.svgData['clicks_age']) cur.invokeSvgFunction('clicks_age', 'highlightSlice', [5, 1]); return false;" onmouseout="if (cur.svgData['clicks_age']) cur.invokeSvgFunction('clicks_age', 'highlightSlice', [5, 0]); return false;">
                                                                <td class="piechart_stat_name"><div class="piechart_stat_color" style="background-color: #F3B200"></div>от 35 до 45</td>
                                                                <td class="piechart_stat_info">5.8%</td>
                                                            </tr>
                                                            <tr id="piechart_row_clicks_age_6" onmouseover="if (cur.svgData['clicks_age']) cur.invokeSvgFunction('clicks_age', 'highlightSlice', [6, 1]); return false;" onmouseout="if (cur.svgData['clicks_age']) cur.invokeSvgFunction('clicks_age', 'highlightSlice', [6, 0]); return false;">
                                                                <td class="piechart_stat_name"><div class="piechart_stat_color" style="background-color: #D75C56"></div>от 45</td>
                                                                <td class="piechart_stat_info">1.9%</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div id="wrapper_svg_clicks_age" class="fl_l" style="width: 150px; height: 150px; overflow: hidden;">
                                                    <embed id="svg_embed_clicks_age" src="js/piechart.svg?ver=15&amp;svgid=clicks_age&amp;dmn=vk.com" style="width: 100%; height: 100%;" preventhide="1">
                                                </div>
                                            </div>
                                        </div><div class="ads_demography_bars_views" style="position: absolute; top: 0;visibility: hidden;">
                                            <div style="padding: 32px 0px 16px 50px; width: 300px; color: #45688e; font-size: 13px; font-weight: bold;">Распределение по возрасту</div><div id="wrapper_views_age" class="clear_fix" style="width:350px;">
                                                <div id="rows_views_age" class="piechart_rows_root fl_l">
                                                    <table class="piechart_table" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                            <tr id="piechart_row_views_age_0" onmouseover="if (cur.svgData['views_age']) cur.invokeSvgFunction('views_age', 'highlightSlice', [0, 1]); return false;" onmouseout="if (cur.svgData['views_age']) cur.invokeSvgFunction('views_age', 'highlightSlice', [0, 0]); return false;">
                                                                <td class="piechart_stat_name"><div class="piechart_stat_color" style="background-color: #597BA8"></div>от 18 до 21</td>
                                                                <td class="piechart_stat_info">8.6%</td>
                                                            </tr>
                                                            <tr id="piechart_row_views_age_1" onmouseover="if (cur.svgData['views_age']) cur.invokeSvgFunction('views_age', 'highlightSlice', [1, 1]); return false;" onmouseout="if (cur.svgData['views_age']) cur.invokeSvgFunction('views_age', 'highlightSlice', [1, 0]); return false;">
                                                                <td class="piechart_stat_name"><div class="piechart_stat_color" style="background-color: #82A2CD"></div>от 21 до 24</td>
                                                                <td class="piechart_stat_info">29.6%</td>
                                                            </tr>
                                                            <tr id="piechart_row_views_age_2" onmouseover="if (cur.svgData['views_age']) cur.invokeSvgFunction('views_age', 'highlightSlice', [2, 1]); return false;" onmouseout="if (cur.svgData['views_age']) cur.invokeSvgFunction('views_age', 'highlightSlice', [2, 0]); return false;">
                                                                <td class="piechart_stat_name"><div class="piechart_stat_color" style="background-color: #BF68A6"></div>от 24 до 27</td>
                                                                <td class="piechart_stat_info">28.2%</td>
                                                            </tr>
                                                            <tr id="piechart_row_views_age_3" onmouseover="if (cur.svgData['views_age']) cur.invokeSvgFunction('views_age', 'highlightSlice', [3, 1]); return false;" onmouseout="if (cur.svgData['views_age']) cur.invokeSvgFunction('views_age', 'highlightSlice', [3, 0]); return false;">
                                                                <td class="piechart_stat_name"><div class="piechart_stat_color" style="background-color: #78B27C"></div>от 27 до 30</td>
                                                                <td class="piechart_stat_info">14.6%</td>
                                                            </tr>
                                                            <tr id="piechart_row_views_age_4" onmouseover="if (cur.svgData['views_age']) cur.invokeSvgFunction('views_age', 'highlightSlice', [4, 1]); return false;" onmouseout="if (cur.svgData['views_age']) cur.invokeSvgFunction('views_age', 'highlightSlice', [4, 0]); return false;">
                                                                <td class="piechart_stat_name"><div class="piechart_stat_color" style="background-color: #E7E271"></div>от 30 до 35</td>
                                                                <td class="piechart_stat_info">9.2%</td>
                                                            </tr>
                                                            <tr id="piechart_row_views_age_5" onmouseover="if (cur.svgData['views_age']) cur.invokeSvgFunction('views_age', 'highlightSlice', [5, 1]); return false;" onmouseout="if (cur.svgData['views_age']) cur.invokeSvgFunction('views_age', 'highlightSlice', [5, 0]); return false;">
                                                                <td class="piechart_stat_name"><div class="piechart_stat_color" style="background-color: #F3B200"></div>от 35 до 45</td>
                                                                <td class="piechart_stat_info">4.8%</td>
                                                            </tr>
                                                            <tr id="piechart_row_views_age_6" onmouseover="if (cur.svgData['views_age']) cur.invokeSvgFunction('views_age', 'highlightSlice', [6, 1]); return false;" onmouseout="if (cur.svgData['views_age']) cur.invokeSvgFunction('views_age', 'highlightSlice', [6, 0]); return false;">
                                                                <td class="piechart_stat_name"><div class="piechart_stat_color" style="background-color: #D75C56"></div>от 45</td>
                                                                <td class="piechart_stat_info">5.1%</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div id="wrapper_svg_views_age" class="fl_l" style="width: 150px; height: 150px; overflow: hidden;">
                                                    <embed id="svg_embed_views_age" src="js/piechart.svg?ver=15&amp;svgid=views_age&amp;dmn=vk.com" style="width: 100%; height: 100%;" preventhide="1">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="fl_l" style="position: relative;">
                                    <div class="ads_demography_bars_clicks clear_fix" style="position: relative; top: 0;">
                                        <div style="padding: 32px 0px 16px 50px; width: 300px; color: #45688e; font-size: 13px; font-weight: bold;">Распределение по полу и возрасту</div><div id="wrapper_clicks_sexage" class="clear_fix" style="width:600px;">
                                            <div id="rows_clicks_sexage" class="piechart_rows_root fl_l">
                                                <table class="piechart_table" cellspacing="0" cellpadding="0">
                                                    <tbody>
                                                        <tr class="piechart_col_header">
                                                            <th class="piechart_col_header_first"></th>
                                                            <th class="piechart_col_header_second">Мужчины</th>
                                                        </tr>
                                                        <tr id="piechart_row_clicks_sexage_0" onmouseover="if (cur.svgData['clicks_sexage']) cur.invokeSvgFunction('clicks_sexage', 'highlightSlice', [0, 1]); return false;" onmouseout="if (cur.svgData['clicks_sexage']) cur.invokeSvgFunction('clicks_sexage', 'highlightSlice', [0, 0]); return false;">
                                                            <td class="piechart_stat_name"><div class="piechart_stat_color" style="background-color: #597BA8"></div>от 21 до 24</td>
                                                            <td class="piechart_stat_info">15.4%</td>
                                                        </tr>
                                                        <tr id="piechart_row_clicks_sexage_1" onmouseover="if (cur.svgData['clicks_sexage']) cur.invokeSvgFunction('clicks_sexage', 'highlightSlice', [1, 1]); return false;" onmouseout="if (cur.svgData['clicks_sexage']) cur.invokeSvgFunction('clicks_sexage', 'highlightSlice', [1, 0]); return false;">
                                                            <td class="piechart_stat_name"><div class="piechart_stat_color" style="background-color: #82A2CD"></div>от 24 до 27</td>
                                                            <td class="piechart_stat_info">13.5%</td>
                                                        </tr>
                                                        <tr id="piechart_row_clicks_sexage_2" onmouseover="if (cur.svgData['clicks_sexage']) cur.invokeSvgFunction('clicks_sexage', 'highlightSlice', [2, 1]); return false;" onmouseout="if (cur.svgData['clicks_sexage']) cur.invokeSvgFunction('clicks_sexage', 'highlightSlice', [2, 0]); return false;">
                                                            <td class="piechart_stat_name"><div class="piechart_stat_color" style="background-color: #BF68A6"></div>от 27 до 30</td>
                                                            <td class="piechart_stat_info">1.9%</td>
                                                        </tr>
                                                        <tr id="piechart_row_clicks_sexage_3" onmouseover="if (cur.svgData['clicks_sexage']) cur.invokeSvgFunction('clicks_sexage', 'highlightSlice', [3, 1]); return false;" onmouseout="if (cur.svgData['clicks_sexage']) cur.invokeSvgFunction('clicks_sexage', 'highlightSlice', [3, 0]); return false;">
                                                            <td class="piechart_stat_name"><div class="piechart_stat_color" style="background-color: #78B27C"></div>от 30 до 35</td>
                                                            <td class="piechart_stat_info">5.8%</td>
                                                        </tr>
                                                        <tr id="piechart_row_clicks_sexage_4" onmouseover="if (cur.svgData['clicks_sexage']) cur.invokeSvgFunction('clicks_sexage', 'highlightSlice', [4, 1]); return false;" onmouseout="if (cur.svgData['clicks_sexage']) cur.invokeSvgFunction('clicks_sexage', 'highlightSlice', [4, 0]); return false;">
                                                            <td class="piechart_stat_name"><div class="piechart_stat_color" style="background-color: #E7E271"></div>от 35 до 45</td>
                                                            <td class="piechart_stat_info">3.8%</td>
                                                        </tr>
                                                        <tr id="piechart_row_clicks_sexage_5" onmouseover="if (cur.svgData['clicks_sexage']) cur.invokeSvgFunction('clicks_sexage', 'highlightSlice', [5, 1]); return false;" onmouseout="if (cur.svgData['clicks_sexage']) cur.invokeSvgFunction('clicks_sexage', 'highlightSlice', [5, 0]); return false;">
                                                            <td class="piechart_stat_name"><div class="piechart_stat_color" style="background-color: #F3B200"></div>от 45</td>
                                                            <td class="piechart_stat_info">1.9%</td>
                                                        </tr>
                                                    </tbody>
                                                </table><table class="piechart_table" cellspacing="0" cellpadding="0">
                                                    <tbody>
                                                        <tr class="piechart_col_header">
                                                            <th class="piechart_col_header_first"></th>
                                                            <th class="piechart_col_header_second">Женщины</th>
                                                        </tr>
                                                        <tr id="piechart_row_clicks_sexage_6" onmouseover="if (cur.svgData['clicks_sexage']) cur.invokeSvgFunction('clicks_sexage', 'highlightSlice', [6, 1]); return false;" onmouseout="if (cur.svgData['clicks_sexage']) cur.invokeSvgFunction('clicks_sexage', 'highlightSlice', [6, 0]); return false;">
                                                            <td class="piechart_stat_name"><div class="piechart_stat_color" style="background-color: #D75C56"></div>от 18 до 21</td>
                                                            <td class="piechart_stat_info">9.6%</td>
                                                        </tr>
                                                        <tr id="piechart_row_clicks_sexage_7" onmouseover="if (cur.svgData['clicks_sexage']) cur.invokeSvgFunction('clicks_sexage', 'highlightSlice', [7, 1]); return false;" onmouseout="if (cur.svgData['clicks_sexage']) cur.invokeSvgFunction('clicks_sexage', 'highlightSlice', [7, 0]); return false;">
                                                            <td class="piechart_stat_name"><div class="piechart_stat_color" style="background-color: #B6D15E"></div>от 21 до 24</td>
                                                            <td class="piechart_stat_info">13.5%</td>
                                                        </tr>
                                                        <tr id="piechart_row_clicks_sexage_8" onmouseover="if (cur.svgData['clicks_sexage']) cur.invokeSvgFunction('clicks_sexage', 'highlightSlice', [8, 1]); return false;" onmouseout="if (cur.svgData['clicks_sexage']) cur.invokeSvgFunction('clicks_sexage', 'highlightSlice', [8, 0]); return false;">
                                                            <td class="piechart_stat_name"><div class="piechart_stat_color" style="background-color: #74D2B2"></div>от 24 до 27</td>
                                                            <td class="piechart_stat_info">17.3%</td>
                                                        </tr>
                                                        <tr id="piechart_row_clicks_sexage_9" onmouseover="if (cur.svgData['clicks_sexage']) cur.invokeSvgFunction('clicks_sexage', 'highlightSlice', [9, 1]); return false;" onmouseout="if (cur.svgData['clicks_sexage']) cur.invokeSvgFunction('clicks_sexage', 'highlightSlice', [9, 0]); return false;">
                                                            <td class="piechart_stat_name"><div class="piechart_stat_color" style="background-color: #6BC3D3"></div>от 27 до 30</td>
                                                            <td class="piechart_stat_info">11.5%</td>
                                                        </tr>
                                                        <tr id="piechart_row_clicks_sexage_10" onmouseover="if (cur.svgData['clicks_sexage']) cur.invokeSvgFunction('clicks_sexage', 'highlightSlice', [10, 1]); return false;" onmouseout="if (cur.svgData['clicks_sexage']) cur.invokeSvgFunction('clicks_sexage', 'highlightSlice', [10, 0]); return false;">
                                                            <td class="piechart_stat_name"><div class="piechart_stat_color" style="background-color: #586EA9"></div>от 30 до 35</td>
                                                            <td class="piechart_stat_info">3.8%</td>
                                                        </tr>
                                                        <tr id="piechart_row_clicks_sexage_11" onmouseover="if (cur.svgData['clicks_sexage']) cur.invokeSvgFunction('clicks_sexage', 'highlightSlice', [11, 1]); return false;" onmouseout="if (cur.svgData['clicks_sexage']) cur.invokeSvgFunction('clicks_sexage', 'highlightSlice', [11, 0]); return false;">
                                                            <td class="piechart_stat_name"><div class="piechart_stat_color" style="background-color: #837FCF"></div>от 35 до 45</td>
                                                            <td class="piechart_stat_info">1.9%</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div id="wrapper_svg_clicks_sexage" class="fl_l" style="width: 300px; height: 300px; overflow: hidden;">
                                                <embed id="svg_embed_clicks_sexage" src="js/piechart.svg?ver=15&amp;svgid=clicks_sexage&amp;dmn=vk.com" style="width: 100%; height: 100%;" preventhide="1">
                                            </div>
                                        </div>
                                    </div><div class="ads_demography_bars_views clear_fix" style="position: absolute; top: 0;visibility: hidden;">
                                        <div style="padding: 32px 0px 16px 50px; width: 300px; color: #45688e; font-size: 13px; font-weight: bold;">Распределение по полу и возрасту</div><div id="wrapper_views_sexage" class="clear_fix" style="width:600px;">
                                            <div id="rows_views_sexage" class="piechart_rows_root fl_l">
                                                <table class="piechart_table" cellspacing="0" cellpadding="0">
                                                    <tbody>
                                                        <tr class="piechart_col_header">
                                                            <th class="piechart_col_header_first"></th>
                                                            <th class="piechart_col_header_second">Мужчины</th>
                                                        </tr>
                                                        <tr id="piechart_row_views_sexage_0" onmouseover="if (cur.svgData['views_sexage']) cur.invokeSvgFunction('views_sexage', 'highlightSlice', [0, 1]); return false;" onmouseout="if (cur.svgData['views_sexage']) cur.invokeSvgFunction('views_sexage', 'highlightSlice', [0, 0]); return false;">
                                                            <td class="piechart_stat_name"><div class="piechart_stat_color" style="background-color: #597BA8"></div>от 18 до 21</td>
                                                            <td class="piechart_stat_info">2.3%</td>
                                                        </tr>
                                                        <tr id="piechart_row_views_sexage_1" onmouseover="if (cur.svgData['views_sexage']) cur.invokeSvgFunction('views_sexage', 'highlightSlice', [1, 1]); return false;" onmouseout="if (cur.svgData['views_sexage']) cur.invokeSvgFunction('views_sexage', 'highlightSlice', [1, 0]); return false;">
                                                            <td class="piechart_stat_name"><div class="piechart_stat_color" style="background-color: #82A2CD"></div>от 21 до 24</td>
                                                            <td class="piechart_stat_info">7.2%</td>
                                                        </tr>
                                                        <tr id="piechart_row_views_sexage_2" onmouseover="if (cur.svgData['views_sexage']) cur.invokeSvgFunction('views_sexage', 'highlightSlice', [2, 1]); return false;" onmouseout="if (cur.svgData['views_sexage']) cur.invokeSvgFunction('views_sexage', 'highlightSlice', [2, 0]); return false;">
                                                            <td class="piechart_stat_name"><div class="piechart_stat_color" style="background-color: #BF68A6"></div>от 24 до 27</td>
                                                            <td class="piechart_stat_info">8.4%</td>
                                                        </tr>
                                                        <tr id="piechart_row_views_sexage_3" onmouseover="if (cur.svgData['views_sexage']) cur.invokeSvgFunction('views_sexage', 'highlightSlice', [3, 1]); return false;" onmouseout="if (cur.svgData['views_sexage']) cur.invokeSvgFunction('views_sexage', 'highlightSlice', [3, 0]); return false;">
                                                            <td class="piechart_stat_name"><div class="piechart_stat_color" style="background-color: #78B27C"></div>от 27 до 30</td>
                                                            <td class="piechart_stat_info">5.3%</td>
                                                        </tr>
                                                        <tr id="piechart_row_views_sexage_4" onmouseover="if (cur.svgData['views_sexage']) cur.invokeSvgFunction('views_sexage', 'highlightSlice', [4, 1]); return false;" onmouseout="if (cur.svgData['views_sexage']) cur.invokeSvgFunction('views_sexage', 'highlightSlice', [4, 0]); return false;">
                                                            <td class="piechart_stat_name"><div class="piechart_stat_color" style="background-color: #E7E271"></div>от 30 до 35</td>
                                                            <td class="piechart_stat_info">3.8%</td>
                                                        </tr>
                                                        <tr id="piechart_row_views_sexage_5" onmouseover="if (cur.svgData['views_sexage']) cur.invokeSvgFunction('views_sexage', 'highlightSlice', [5, 1]); return false;" onmouseout="if (cur.svgData['views_sexage']) cur.invokeSvgFunction('views_sexage', 'highlightSlice', [5, 0]); return false;">
                                                            <td class="piechart_stat_name"><div class="piechart_stat_color" style="background-color: #F3B200"></div>от 35 до 45</td>
                                                            <td class="piechart_stat_info">2.1%</td>
                                                        </tr>
                                                        <tr id="piechart_row_views_sexage_6" onmouseover="if (cur.svgData['views_sexage']) cur.invokeSvgFunction('views_sexage', 'highlightSlice', [6, 1]); return false;" onmouseout="if (cur.svgData['views_sexage']) cur.invokeSvgFunction('views_sexage', 'highlightSlice', [6, 0]); return false;">
                                                            <td class="piechart_stat_name"><div class="piechart_stat_color" style="background-color: #D75C56"></div>от 45</td>
                                                            <td class="piechart_stat_info">1.9%</td>
                                                        </tr>
                                                    </tbody>
                                                </table><table class="piechart_table" cellspacing="0" cellpadding="0">
                                                    <tbody>
                                                        <tr class="piechart_col_header">
                                                            <th class="piechart_col_header_first"></th>
                                                            <th class="piechart_col_header_second">Женщины</th>
                                                        </tr>
                                                        <tr id="piechart_row_views_sexage_7" onmouseover="if (cur.svgData['views_sexage']) cur.invokeSvgFunction('views_sexage', 'highlightSlice', [7, 1]); return false;" onmouseout="if (cur.svgData['views_sexage']) cur.invokeSvgFunction('views_sexage', 'highlightSlice', [7, 0]); return false;">
                                                            <td class="piechart_stat_name"><div class="piechart_stat_color" style="background-color: #B6D15E"></div>от 18 до 21</td>
                                                            <td class="piechart_stat_info">6.2%</td>
                                                        </tr>
                                                        <tr id="piechart_row_views_sexage_8" onmouseover="if (cur.svgData['views_sexage']) cur.invokeSvgFunction('views_sexage', 'highlightSlice', [8, 1]); return false;" onmouseout="if (cur.svgData['views_sexage']) cur.invokeSvgFunction('views_sexage', 'highlightSlice', [8, 0]); return false;">
                                                            <td class="piechart_stat_name"><div class="piechart_stat_color" style="background-color: #74D2B2"></div>от 21 до 24</td>
                                                            <td class="piechart_stat_info">22.3%</td>
                                                        </tr>
                                                        <tr id="piechart_row_views_sexage_9" onmouseover="if (cur.svgData['views_sexage']) cur.invokeSvgFunction('views_sexage', 'highlightSlice', [9, 1]); return false;" onmouseout="if (cur.svgData['views_sexage']) cur.invokeSvgFunction('views_sexage', 'highlightSlice', [9, 0]); return false;">
                                                            <td class="piechart_stat_name"><div class="piechart_stat_color" style="background-color: #6BC3D3"></div>от 24 до 27</td>
                                                            <td class="piechart_stat_info">19.8%</td>
                                                        </tr>
                                                        <tr id="piechart_row_views_sexage_10" onmouseover="if (cur.svgData['views_sexage']) cur.invokeSvgFunction('views_sexage', 'highlightSlice', [10, 1]); return false;" onmouseout="if (cur.svgData['views_sexage']) cur.invokeSvgFunction('views_sexage', 'highlightSlice', [10, 0]); return false;">
                                                            <td class="piechart_stat_name"><div class="piechart_stat_color" style="background-color: #586EA9"></div>от 27 до 30</td>
                                                            <td class="piechart_stat_info">9.3%</td>
                                                        </tr>
                                                        <tr id="piechart_row_views_sexage_11" onmouseover="if (cur.svgData['views_sexage']) cur.invokeSvgFunction('views_sexage', 'highlightSlice', [11, 1]); return false;" onmouseout="if (cur.svgData['views_sexage']) cur.invokeSvgFunction('views_sexage', 'highlightSlice', [11, 0]); return false;">
                                                            <td class="piechart_stat_name"><div class="piechart_stat_color" style="background-color: #837FCF"></div>от 30 до 35</td>
                                                            <td class="piechart_stat_info">5.5%</td>
                                                        </tr>
                                                        <tr id="piechart_row_views_sexage_12" onmouseover="if (cur.svgData['views_sexage']) cur.invokeSvgFunction('views_sexage', 'highlightSlice', [12, 1]); return false;" onmouseout="if (cur.svgData['views_sexage']) cur.invokeSvgFunction('views_sexage', 'highlightSlice', [12, 0]); return false;">
                                                            <td class="piechart_stat_name"><div class="piechart_stat_color" style="background-color: #8866C9"></div>от 35 до 45</td>
                                                            <td class="piechart_stat_info">2.6%</td>
                                                        </tr>
                                                        <tr id="piechart_row_views_sexage_13" onmouseover="if (cur.svgData['views_sexage']) cur.invokeSvgFunction('views_sexage', 'highlightSlice', [13, 1]); return false;" onmouseout="if (cur.svgData['views_sexage']) cur.invokeSvgFunction('views_sexage', 'highlightSlice', [13, 0]); return false;">
                                                            <td class="piechart_stat_name"><div class="piechart_stat_color" style="background-color: #98CD9E"></div>от 45</td>
                                                            <td class="piechart_stat_info">3.2%</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div id="wrapper_svg_views_sexage" class="fl_l" style="width: 300px; height: 300px; overflow: hidden;">
                                                <embed id="svg_embed_views_sexage" src="js/piechart.svg?ver=15&amp;svgid=views_sexage&amp;dmn=vk.com" style="width: 100%; height: 100%;" preventhide="1">
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="fl_l" style="position: relative;">
                                    <div class="ads_demography_bars_clicks" style="position: relative; top: 0;">
                                        <div style="padding: 32px 0px 16px 50px; width: 300px; color: #45688e; font-size: 13px; font-weight: bold;">Распределение по городам</div><div id="wrapper_clicks_cities" class="clear_fix" style="width:600px;">
                                            <div id="rows_clicks_cities" class="piechart_rows_root fl_l">
                                                <table class="piechart_table" cellspacing="0" cellpadding="0">
                                                    <tbody>
                                                        <tr id="piechart_row_clicks_cities_0" onmouseover="if (cur.svgData['clicks_cities']) cur.invokeSvgFunction('clicks_cities', 'highlightSlice', [0, 1]); return false;" onmouseout="if (cur.svgData['clicks_cities']) cur.invokeSvgFunction('clicks_cities', 'highlightSlice', [0, 0]); return false;">
                                                            <td class="piechart_stat_name"><div class="piechart_stat_color" style="background-color: #597BA8"></div>Минск</td>
                                                            <td class="piechart_stat_info">100%</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div id="wrapper_svg_clicks_cities" class="fl_l" style="width: 150px; height: 150px; overflow: hidden;">
                                                <embed id="svg_embed_clicks_cities" src="js/piechart.svg?ver=15&amp;svgid=clicks_cities&amp;dmn=vk.com" style="width: 100%; height: 100%;" preventhide="1">
                                            </div>
                                        </div>
                                    </div><div class="ads_demography_bars_views" style="position: absolute; top: 0;visibility: hidden;">
                                        <div style="padding: 32px 0px 16px 50px; width: 300px; color: #45688e; font-size: 13px; font-weight: bold;">Распределение по городам</div><div id="wrapper_views_cities" class="clear_fix" style="width:600px;">
                                            <div id="rows_views_cities" class="piechart_rows_root fl_l">
                                                <table class="piechart_table" cellspacing="0" cellpadding="0">
                                                    <tbody>
                                                        <tr id="piechart_row_views_cities_0" onmouseover="if (cur.svgData['views_cities']) cur.invokeSvgFunction('views_cities', 'highlightSlice', [0, 1]); return false;" onmouseout="if (cur.svgData['views_cities']) cur.invokeSvgFunction('views_cities', 'highlightSlice', [0, 0]); return false;">
                                                            <td class="piechart_stat_name"><div class="piechart_stat_color" style="background-color: #597BA8"></div>Минск</td>
                                                            <td class="piechart_stat_info">100%</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div id="wrapper_svg_views_cities" class="fl_l" style="width: 150px; height: 150px; overflow: hidden;">
                                                <embed id="svg_embed_views_cities" src="js/piechart.svg?ver=15&amp;svgid=views_cities&amp;dmn=vk.com" style="width: 100%; height: 100%;" preventhide="1">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div id="ads_demography_graphs_wrap1" style="visibility: hidden; height: 0;"><div id="ads_demography_graphs_wrap2" style="position: absolute;"></div></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>