<div class="uk-grid" data-uk-grid-margin>
    <div class="uk-width-1-1">
        <h2><strong>Новости</strong></h2>
    </div>
    <div class="wall-post-latest uk-width-1-1">
        <ul id="wall" class="uk-list uk-list-line"></ul>
    </div>
</div>

