<div class="">
    <div class="panel uk-wall-box uk-show-hide">
        <div class="col--1-1 wall-post-title">
            <div class="grid">
                <div class="col--2-3">
                    <a href="#">Статья <small class="award">(со стены)</small></a>
                </div>
                <div class="col--1-3">
                    <ul class="uk-subnav float--right">
                        <li class="uk-show-hide-element"><a class="text--muted" data-uk-tooltip title="Удалить запись?"><i class="icon-trash role-delete-wall-post"></i></a></li>
                        <li><a href="" data-uk-tooltip title="Это самая просматриваемая запись на стене автора"><i class="icon-flame wall-post-hot"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>

        <article class="uk-comment">
            <header class="uk-comment-header">
                <img class="uk-comment-avatar uk-border-circle" src="<%- authorImage %>" width="50" height="50" alt="">
                <h5 class="uk-comment-title uk-text-truncate">
                    <a href="<%- authorShortcut %>" class="bold uk-link-muted"><%- name %></a>
                </h5>
                <ul class="uk-comment-meta uk-subnav uk-subnav-line">
                    <li><a href="/Wall/<%- id %>" class="uk-link-999"><i class="icon-clock2"></i> <%- jQuery.timeago(date) %></a></li>
                </ul>
            </header>
            <div class="uk-comment-body">
                <% if(typeof(title)!='undefined'&& title!=null){ %>
                <h1 class="uk-margin-remove uk-text-truncate">
                    <a class="uk-link-muted" href="#"><%- title %></a>
                </h1>
                <% } %>
                <p class="margin--top-reset"><%= App.Tools.htmlSubstring(description,250) %></p>
                <% if(description.length>200){ %>
                <p class="text--right">
                    <a href="#">
                        Далее...
                    </a>
                </p>
                <% } %>
            </div>
        </article>
        <div class="uk-wall-box-gallery  ">
            <% if(typeof(videos)!='undefined' && videos!=null && videos.length>0) { %>
            <div class="video-placeholder grid">
                <% _.each(videos,function(iter){%>
                <iframe src="<%- iter.url %>" class="col--1-1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                <% }) %>
            </div>
            <% } %>
            <div class="photo-list-placeholder photoset-grid-basic" data-layout="<%- grid(photos) %>">
                <% _.each(photos,function(iter){%>
                <img src="<%- iter.url %>" width="75"></img>
                <% }) %>
            </div>
        </div>

        <ul class="uk-subnav uk-subnav-line">
            <li>
                <a href="" class="uk-link-999 uk-link-reset">
                    <i class="icon-eye text--muted"></i> <span><%- views %></span>
                </a>
            </li>
            <li><a class="role-like green-color uk-link-reset uk-link-like"><i class="icon-thumbs-o-up"></i><b> <%- likes %></b></a></li>
            <li><a class="role-dislike pink-color uk-link-reset uk-link-dislike"><b><%- dislikes %> </b><i class="uk-icon-thumbs-o-down"></i></a></li>
            <li>
                <div class="button-dropdown" data-uk-dropdown="">
                    <a href="" class="uk-link-reset uk-link-999">
                        <i class="icon-share2"></i>
                    </a>
                    <div class="uk-dropdown uk-dropdown-up uk-dropdown-center">
                        <ul class="uk-nav uk-nav-dropdown">
                            <li>
                                <div class="addthis_sharing_toolbox" data-url="http://photomsk.by/Wall/<%- id %>"></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <% _.each(participants,function(iter){%>
            <li class="uk-align-right">
                <a href="http://photomsk.by/<%- iter.shortcut %>" data-uk-tooltip title="<%= iter.name %>">
                    <img src="<%- iter.photo %>" width="25" height="25" class="uk-border-circle" alt="" title="">
                </a>
            </li>
            <% }) %>
        </ul>
    </div>

    <div class="uk-wall-box-comment">
        <ul class="uk-comment-list">
            <% if(typeof(comments)!= 'undefined' && comments!=null){ %>
            <% _.each(comments.comments,function(iter){%>
            <% if(iter.isAnswer){ %>
            <li>
                <ul>
                    <li>
                        <article class="uk-comment" data-uid="<%- iter.userInformationID %>">
                            <header class="uk-comment-header">
                                <img class="uk-comment-avatar uk-border-rounded" src="<%- iter.photo %>" width="50" height="50" alt="">
                                <h5 class="uk-comment-title">
                                    <a href="#" class="bold uk-link-muted"><%- iter.name %></a>
                                </h5>
                                <ul class="uk-comment-meta uk-subnav uk-subnav-line">
                                    <li><a href="#" class="uk-link-muted uk-link-999"><%- jQuery.timeago(iter.creationTime) %></a></li>
                                </ul>
                            </header>
                            <div class="uk-comment-body">
                                <p><%- iter.answeredName %>, <%- iter.text %></p>
                            </div>
                        </article>
                    </li>
                </ul>
            </li>
            <% }else{ %>
            <li>
                <article class="uk-comment" data-uid="<%- iter.userInformationID %>">
                    <header class="uk-comment-header">
                        <img class="uk-comment-avatar uk-border-rounded" src="<%- iter.photo %>" width="50" height="50" alt="">
                        <h5 class="uk-comment-title">
                            <a href="#" class="bold uk-link-muted"><%- iter.name %></a>
                        </h5>
                        <ul class="uk-comment-meta uk-subnav uk-subnav-line">
                            <li><a href="#" class="uk-link-muted uk-link-999"><%- jQuery.timeago(iter.creationTime) %></a></li>
                        </ul>
                    </header>
                    <div class="uk-comment-body">
                        <p><%- iter.text %></p>
                    </div>
                </article>
            </li>
            <% } %>
            <% }) %>
            <% } %>
        </ul>
        @if (User.Identity.IsAuthenticated)
        {
        <div class="uk-panel-box-comment-editor">
            <ul class="uk-list ChatLog">
                <li class="ChatLog-entry">
                    <img class="ChatLog-avatar" src="https://pp.vk.me/c322420/v322420002/59ac/K9Wk902WYAo.jpg" />
                    <div class="ChatLog-message">
                        <textarea class="textarea-comment role-comment-area" rows="1" placeholder="Добавить комментарий..."></textarea>
                    </div>
                </li>
            </ul>
            <ul class="uk-subnav text--right role-comment-buttons">
                <li><small><a href="" class="button-link text--muted role-comment-cancel">отменить</a></small></li>
                <li><button class="button button-success button-small role-comment-send">отправить</button></li>
            </ul>
        </div>
        }

    </div>
</div>


