
@* Аватар *@
<div class="uk-width-1-1">
    <div class="uk-margin-remove">
        <div class="uk-section">
            <span class="uk-section__counter">1</span>
            <span class="uk-section__title">Загрузка аватара</span>
        </div>
        <div class="form_user-banner">
            <div class="uk-text-center">
                <div id="role-avatar" class="uk-margin-bottom">
                    <img src="@Url.Content("/Content/images/no-avatar.png")" width="200" class="uk-border-circle uk-text-center">
                    <div class="cropControls cropControlsUpload"></div>
                    <form class="role-avatar_imgUploadForm" style="display: none; visibility: hidden;">  <input type="file" name="img">  </form>
                </div>
                <a href="" id="role-change-avatar" class="uk-link-muted uk-button uk-button--arround-dotted">
                    Выбрать файл
                </a>
            </div>
        </div>
    </div>
</div>