
@* Кнопка следующего шага *@

<div class="uk-width-1-1 uk-margin-large-top">
    <div class="uk-grid">
        <div class="uk-width-1-1 uk-text-center">
            <button class="uk-button uk-button-next-step" data-role-next-step>Продолжить</button>
        </div>
    </div>
</div>