
@* Ковер *@
<div class="uk-width-1-1 uk-margin-bottom">
    <section class="uk-margin-remove">
        <div class="uk-section">
            <span class="uk-section__counter">1</span>
            <span class="uk-section__title">Загрузка</span>
        </div>
        <div class="form-banner">
            <div class="form-banner__cover">
                <div id="role-cover">
                    <img class="uk-border-rounded" src="@Url.Content("~/Content/images/no-cover-image.jpg")" alt="Ковер публичной страницы">
                </div>
                <div class="form-banner__button-cover form-banner__button--border uk-link-reset">
                    <a id="role-change-cover" href="#">Изменить обложку</a>
                </div>
            </div>
        </div>
    </section>
</div>