@* Месторасположение *@
<section class="uk-width-1-1">
        <div class="uk-section">
            <span class="uk-section__counter">4</span>
            <span class="uk-section__title">Месторасположение</span>
        </div>
        <div class="uk-grid" data-uk-grid-margin="">
            <div class="uk-width-1-2">
                <label class="label-ms">Город</label>
                <input class="input-ms uk-width-large-1-1 uk-width-small-1-1" id="City" name="City" type="text" placeholder="Город расположения">
                <span class="field-validation-valid" data-valmsg-for="City" data-valmsg-replace="true"></span>
            </div>
            <div class="uk-width-1-2">
                <label class="label-ms">Адрес</label>
                <input class="input-ms uk-width-large-1-1 uk-width-small-1-1" id="Adress" name="Adress" type="text" placeholder="Адрес">
                <span class="field-validation-valid" data-valmsg-for="Adress" data-valmsg-replace="true"></span>
            </div>
        </div>
</section>