@{
    ViewBag.Title = "О нас";
    Layout = "~/Areas/Default/Views/Shared/_Layout.cshtml";
}

<div class="uk-container uk-container-center pad-top">
    <div class="uk-grid">
        <div class="uk-width-1-1">
            <h1 class="bold">О нашей комманде</h1>
            <small class="uk-text-muted">Мы — собрание людей, которые работают в Минске над созданием самого крупного портала для фотографов и моделей нашей страны... и не только.</small>

            <div class="uk-grid pad-top-40">
                @for (int i = 0; i < 5; i++)
                {
                    <div class="uk-width-2-10 uk-text-center">
                        <img class="uk-border-circle" src="https://pp.vk.me/c322420/v322420002/59ac/K9Wk902WYAo.jpg" alt="">
                        <h3 class="bold">Серегй Щипанов</h3>
                        <small class="uk-text-muted">Директор</small>
                    </div>
                }
            </div>

        </div>
    </div>
</div>


<div class="pad-top-40">
    <div class="instagram">
        <div class="images">
            <img class="image-1" src="https://scontent-a.cdninstagram.com/hphotos-xaf1/t51.2885-15/10311276_1533090750251761_893769938_a.jpg">
            <img class="image-0" src="https://scontent-a.cdninstagram.com/hphotos-xaf1/t51.2885-15/10296948_1494594374089103_1668172898_a.jpg">
            <img class="image-4" src="https://scontent-a.cdninstagram.com/hphotos-xaf1/outbound-distilleryimage6/t0.0-17/OBPTH/83b2abce635c11e388c40a7c01487bce_6.jpg">
            <img class="image-0" src="https://scontent-b.cdninstagram.com/hphotos-xpa1/t51.2885-15/10401601_725900500806250_452921656_a.jpg">
            <img class="image-2" src="https://scontent-a.cdninstagram.com/hphotos-xaf1/t51.2885-15/10296732_298258917005329_1131097562_a.jpg">
            <img class="image-2" src="https://scontent-b.cdninstagram.com/hphotos-xpa1/t51.2885-15/927857_1407388156179170_291313535_a.jpg">
            <img class="image-4" src="https://scontent-b.cdninstagram.com/hphotos-xpf1/outbound-distilleryimage2/t0.0-17/OBPTH/d09a79ee635c11e3b97812add123cffe_6.jpg">
            <img class="image-1" src="https://scontent-a.cdninstagram.com/hphotos-xfp1/t51.2885-15/1516533_1446519868929306_1286301251_a.jpg">
            <img class="image-4" src="https://scontent-b.cdninstagram.com/hphotos-xpf1/outbound-distilleryimage1/t0.0-17/OBPTH/fd0d05f6635b11e3b56312c03b4ac6f5_6.jpg">
            <img class="image-2" src="https://scontent-a.cdninstagram.com/hphotos-xfp1/t51.2885-15/1724875_1412156425699653_188019506_a.jpg">
            <img class="image-4" src="https://scontent-b.cdninstagram.com/hphotos-xpf1/outbound-distilleryimage8/t0.0-17/OBPTH/0ce763c2635c11e3894c0efd4fef123c_6.jpg">
            <img class="image-2" src="https://scontent-b.cdninstagram.com/hphotos-xpf1/t51.2885-15/10349753_627080087376238_439177001_a.jpg">
            <img class="image-0" src="https://scontent-b.cdninstagram.com/hphotos-xap1/t51.2885-15/928518_491554757613481_355149290_a.jpg">
            <img class="image-2" src="https://scontent-b.cdninstagram.com/hphotos-xap1/outbound-distilleryimage7/t0.0-17/OBPTH/1e196142b1e311e3a3e00e80a65fa987_6.jpg">
            <img class="image-1" src="https://scontent-a.cdninstagram.com/hphotos-xaf1/t51.2885-15/10251468_1492898940921599_1874158915_a.jpg">
            <img class="image-1" src="https://scontent-b.cdninstagram.com/hphotos-xaf1/t51.2885-15/1739532_706206442765146_211869154_a.jpg">
            <img class="image-0" src="https://scontent-b.cdninstagram.com/hphotos-xap1/outbound-distilleryimage9/t0.0-17/OBPTH/0d0d2582b34611e3915612c9c4c5bed5_6.jpg">
            <img class="image-0" src="https://scontent-b.cdninstagram.com/hphotos-xaf1/t51.2885-15/1209532_251214411724988_415730096_a.jpg">
            <img class="image-0" src="https://scontent-a.cdninstagram.com/hphotos-xfp1/t51.2885-15/10375670_1480987032135896_617714718_a.jpg">
            <img class="image-4" src="https://scontent-a.cdninstagram.com/hphotos-xfa1/outbound-distilleryimage9/t0.0-17/OBPTH/c598aac4635d11e39edb0e8698020099_6.jpg">
            <img class="image-1" src="https://scontent-b.cdninstagram.com/hphotos-xpa1/t51.2885-15/928114_642361289140932_285792581_a.jpg">
            <img class="image-0" src="https://scontent-b.cdninstagram.com/hphotos-xfp1/outbound-distilleryimage8/t0.0-17/OBPTH/493cee78ad0d11e3a74212fe6b8d01d0_6.jpg">
            <img class="image-1" src="https://scontent-a.cdninstagram.com/hphotos-xfp1/t51.2885-15/10268950_542265155894735_1583205527_a.jpg">
            <img class="image-0" src="https://scontent-b.cdninstagram.com/hphotos-xpa1/t51.2885-15/10268732_1466318936938522_843269403_a.jpg">
            <img class="image-0" src="https://scontent-b.cdninstagram.com/hphotos-xfp1/t51.2885-15/10254313_228416304023827_927577507_a.jpg">
            <img class="image-2" src="https://scontent-b.cdninstagram.com/hphotos-xaf1/t51.2885-15/10296858_309286139226681_255520375_a.jpg">
            <img class="image-2" src="https://scontent-a.cdninstagram.com/hphotos-xfa1/outbound-distilleryimage7/t0.0-17/OBPTH/2e0de706b20811e392990e4ff8a698db_6.jpg">
            <img class="image-2" src="https://scontent-a.cdninstagram.com/hphotos-xap1/t51.2885-15/10349727_1433582916895008_2147265287_a.jpg">
            <img class="image-1" src="https://scontent-b.cdninstagram.com/hphotos-xpf1/t51.2885-15/10362109_635430323209747_778311354_a.jpg">
            <img class="image-1" src="https://scontent-b.cdninstagram.com/hphotos-xpf1/outbound-distilleryimage9/t0.0-17/OBPTH/dcf013c2a1d011e3a44a0a2c80059629_6.jpg">
            <img class="image-2" src="https://scontent-a.cdninstagram.com/hphotos-xaf1/outbound-distilleryimage7/t0.0-17/OBPTH/dbeafb20af9211e38ae512bc234f61c7_6.jpg">
            <img class="image-1" src="https://scontent-a.cdninstagram.com/hphotos-xpf1/t51.2885-15/10349753_1445628782342103_1151376986_a.jpg">
            <img class="image-0" src="https://scontent-b.cdninstagram.com/hphotos-xfp1/t51.2885-15/10254313_228416304023827_927577507_a.jpg">
            <img class="image-2" src="https://scontent-b.cdninstagram.com/hphotos-xaf1/t51.2885-15/10296858_309286139226681_255520375_a.jpg">
            <img class="image-0" src="https://scontent-b.cdninstagram.com/hphotos-xpa1/t51.2885-15/10268732_1466318936938522_843269403_a.jpg">

        </div>
    </div>
</div>



<div class="uk-container uk-container-center pad-top-20">
    <div class="uk-grid">
        <h1 class="pad-top-40 pad-bottom-20 bold">Информация о компании</h1>

        <div class="uk-grid uk-grid-divider" data-uk-grid-match>
            <div class="uk-width-1-3">
                <table class="uk-table uk-table-hover">
                    <tbody>
                        <tr>
                            <td class="uk-text-muted">Страна:</td>
                            <td>ЧПУП "ЭнДжиВеб"</td>
                        </tr>
                        <tr>
                            <td class="uk-text-muted">Страна:</td>
                            <td>Республика Беларусь</td>
                        </tr>
                        <tr>
                            <td class="uk-text-muted">Город:</td>
                            <td>Минск</td>
                        </tr>
                        <tr>
                            <td class="uk-text-muted">Индекс:</td>
                            <td>Куйбышева 22 ая 30</td>
                        </tr>
                        <tr>
                            <td class="uk-text-muted">Адрес:</td>
                            <td>ул. Куйбышева д.22 оф.10</td>
                        </tr>
                        <tr>
                            <td class="uk-text-muted">Время работы:</td>
                            <td>09:00 — 22:00</td>
                        </tr>
                    </tbody>
                </table>
            </div>


            <div class="uk-width-1-3">
                <table class="uk-table uk-table-hover">
                    <tbody>
                        <tr>
                            <td class="uk-text-muted">Р/с:</td>
                            <td>3012000072756</td>
                        </tr>
                        <tr>
                            <td class="uk-text-muted">Банк:</td>
                            <td>ОАО «Белгазпромбанк»</td>
                        </tr>
                        <tr>
                            <td class="uk-text-muted">МФО:</td>
                            <td>153001742</td>
                        </tr>
                        <tr>
                            <td class="uk-text-muted">Адрес:</td>
                            <td>220121, г. Минск, ул. Притыцкого 60/2</td>
                        </tr>
                    </tbody>
                </table>
            </div>


            <div class="uk-width-1-3">
                <table class="uk-table uk-table-hover">
                    <tbody>
                        <tr>
                            <td class="uk-text-muted">Страна:</td>
                            <td>Республика Беларусь</td>
                        </tr>
                        <tr>
                            <td class="uk-text-muted">Город:</td>
                            <td>Минск</td>
                        </tr>
                        <tr>
                            <td class="uk-text-muted">Индекс:</td>
                            <td>Куйбышева 22 ая 30</td>
                        </tr>
                        <tr>
                            <td class="uk-text-muted">Адрес:</td>
                            <td>ул. Куйбышева д.22 оф.10</td>
                        </tr>
                        <tr>
                            <td class="uk-text-muted">Время работы:</td>
                            <td>09:00 — 22:00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>