
<div id="eighthBlock">
    <div class="uk-container uk-container-center">
        <div class="uk-grid">
            <div class="uk-width-1-1">
                <p class="uk-block-content uk-h1 uk-color-dark uk-text-bold uk-text-center">
                    Что тебя ждет, за 2 недели курса по фотографии:
                </p>
                
                <ul class="uk-grid uk-grid-width-1-2 uk-list uk-list-space uk-list-check" data-uk-grid-margin>
                    <li>Интенсив по основам фотографии и фотоаппарата</li>
                    <li>Работа со студийным оборудованием</li>
                    <li>Изучение понимание работы света в фотографии</li>
                    <li>Научим зарабатывать на фотографии от 100$</li>
                    <li>Работа с клиентами</li>
                    <li>Изучение востребованных световых схем</li>
                    <li>Учим создавать свои проекты</li>
                    <li>Работа в Adobe Lightroom</li>
                    <li>Работа в Adobe Photoshop</li>
                    <li>Художественный портрет</li>
                </ul>
                
                <p class="uk-h2 uk-text-center uk-margin-large-top">
                    <a href="https://vk.com/page-87205069_50225697" class="uk-link-reset uk-link-line" target="_blank">Полную программу курсов вы можете посмотреть тут!</a>
                </p>
                
                <p class="uk-margin-large uk-text-muted uk-text-center">
                    <i>После окончания курса ты получаешь диплом от студии фотографии «PHOTOLAB STUDIO»</i>
                </p>
            </div>
        </div>
    </div>
</div>
