
<div id="fifthBlock">
    <div class="uk-content-video">
        <img src="@Url.Content("~/Themes/Page/photocollege.by/Content/images/video-back.jpg")" />

        @*<video autoplay="1" preload="none" loop="" muted="" poster="/photocollege/media/images/xxx.png" id="bgvideo">
                <source src="http://photocollege.org/photocollege/media/photocollege.mp4" type="video/mp4" style="min-width:1200px;height:100%;">
                <source src="http://photocollege.org/photocollege/media/photocollege.webm" type="video/webm" style="min-width:1200px;height:100%;">
                <span class="no-video"></span>
            </video>*@
    </div>

    <div id="image-grid"></div>

    <h1 class="uk-block-title">
        Занятия проходят в студии фотографии<br />
        «PhotoLAB STUDIO»
    </h1>
</div>