
<div id="seventhBlock">
    <div class="uk-container uk-container-center">
        <div class="uk-grid">
            <div class="uk-width-1-1 uk-text-center">
                <div class="uk-content">
                    <div class="red_line" style="width:130px;height:3px;background-color:#ff0000;position:absolute;left:600px;top:40px;-webkit-transform: rotate(-25deg); "></div>
                    <p class="uk-h1 uk-block-title uk-color-dark uk-text-bold">
                        Полная стоимость курса - 800 000 бел. руб.
                    </p>
                </div>
                
                <p class="uk-text-achtung uk-h3">
                    Успей записаться по минимальной цене и получить хорошую скидку!
                </p>
            </div>
        </div>
        
        <div class="uk-grid uk-grid-divider uk-text-center" data-uk-grid-margin>
            
            <div class="uk-width-1-1">
                <p class="uk-block-content uk-h2 uk-text-bold uk-color-dark">
                    Живое участие
                </p>

                <span>
                    Присутствие в живую в Минске<br/>
                    в нашей фотостудии PhotoLAB STUDIO
                </span>

                <p class="uk-block-title uk-text-bold uk-color-dark">
                    600 000 руб.
                </p>

                <p>
                    <i class="uk-text-muted">
                        Если у вас возникли трудности с оплатой<br />
                        пожалуйста, напишите нашему менеджеру<br />
                        <a href="https://vk.com/solovyova_kristina">Соловьева Кристина</a>
                    </i>
                </p>

                <button class="uk-button uk-button-large uk-button-success" data-uk-modal="{target:'#modal-registration'}">ЗАПИСАТЬСЯ НА ЖИВОЕ УЧАСТИЕ</button>
            </div>
        </div>
        @*<div class="uk-grid">
            <div class="uk-width-1-1 uk-text-center">
                <img src="http://photocollege.org/photocollege/media/images/pay-option.jpg">
                <p class="uk-text-muted">
                    Способы оплаты
                </p>
            </div>
        </div>*@
    </div>
</div>