

<div id="thirdBlock">
    <div class="uk-container uk-container-center">
        <div class="uk-grid">
            <div class="uk-width-1-1 uk-text-center">
                <p class="uk-block-content uk-h2 uk-text-bold">
                    Занятия по фотографии ведут:
                </p>
            </div>
        </div>

        <div class="uk-grid">
            <div class="uk-width-1-2 uk-text-center">
                <img src="@Url.Content("~/Themes/Page/photocollege.by/Content/images/ph1.jpg")" class="uk-border-circle" width="250" height="250" />
                <p class="uk-block-content uk-h1">
                    <a href="https://vk.com/solovyova_kristina" target="_blank" class="uk-link-reset uk-link-dashed">Соловьева Кристина</a>
                </p>
            </div>
            
            <div class="uk-width-1-2 uk-text-center">
                <img src="@Url.Content("~/Themes/Page/photocollege.by/Content/images/ph2.jpg")" class="uk-border-circle" width="250" height="250" />
                <p class="uk-block-content uk-h1">
                    <a href="http://vk.com/miranchucova" target="_blank" class="uk-link-reset uk-link-dashed">Миранчукова Анастасия</a>
                </p>
            </div>
            
        </div>

        <div class="uk-grid">
            <div class="uk-width-1-1 uk-text-center">
                <p class="uk-margin-large uk-text-muted">
                    <i>Преподаватели работают с такими компаниями как:</i>
                </p>
            </div>
        </div>
    </div>
</div>