
<div class="uk-grid">
    <div class="uk-width-1-1">
        <div class="uk-section">
            <span class="uk-section__counter">5&nbsp;</span>
            <span class="uk-section__title">Загрузка изображений образцов документов</span>
        </div>
        <div id="upload-drop" class="uk-placeholder uk-placeholder--strong uk-text-center">
            <h2 class="uk-text-bold">
                Перетащите сюда образцы документов
            </h2>
            <span class="uk-text-muted">или</span>&nbsp;
            <a class="uk-form-file uk-button uk-button-success uk-margin-left">
                выберите файл
                <input id="upload-select" type="file">
            </a>
            <div class="uk-placeholder--description uk-margin-top">
                <p>
                    Магазины публикуются только с образцами документов.
                </p>
                <p>
                    Изображения будут представлены на публичный просмотр всем посетителям магазина. Чем больше будет фотографий, тем лучше!
                    Первой размещайте фотографию свидетельства о регистрации. Также необходимо загрузить образцы документов, подтверждающих оплату.
                </p>
            </div>
            <ul class="uk-sortable uk-sortable-step uk-grid uk-grid-small uk-grid-width-1-5" data-uk-sortable data-role-picture-placeholder></ul>
        </div>
        <div id="progressbar" class="uk-progress uk-hidden">
            <div class="uk-progress-bar" style="width: 0%;">...</div>
        </div>
    </div>
</div>
<div class="uk-grid">
    <div class="uk-width-1-1 uk-text-center">
        <a href="#" class="uk-button uk-button-next-step" data-role-next-step>Продолжить</a>
    </div>
</div>