<div class="content--admin">

    <div><data-bread-crumbs /></div>

    <div class="container--fluid">

        <div class="activity__sort margin--bottom-small">
            <div class="grid grid--small">
                <div class="col--large-7-10 col--medium-7-10">
                    <p class="margin--top-small">
                        Уровни доступа
                    </p>
                </div>
                <div class="col--large-1-10 col--medium-1-10">
                    <a data-msk-href class="button button--small button--success border--rounded" data-ng-click="showModal()">Добавить</a>
                </div>
                <div class="col--large-2-10 col--medium-2-10">
                    <div class="input__group">
                        <input type="search" class="input input--search input--small border--rounded margin--reset col--1-1">
                        <i class="icon-magnifier text--muted"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel--space panel--white panel--shadow">
            <div class="grid">
                <div class="col--1-1">

                    <div><data-admin-participants-page /></div>

                </div>
            </div>
        </div>

    </div>
</div>
