<h4 class="title-dotted">
    Онлайн бронирование
</h4>

<div class="grid">
    <div class="col--1-1">
        <label class="label label--rounded">Минимальное время аренды</label>
        <input type="search" class="input input--search input--small border--rounded margin--reset col--1-1" data-ng-model="item.minBookingTime" placeholder="60">
    </div>
    <div class="col--1-1">
        <label class="label label--rounded">Шаг времени при аренде</label>
        <input type="search" class="input input--search input--small border--rounded margin--reset col--1-1" data-ng-model="item.bookingTimeInc" placeholder="60">
    </div>
    <div class="col--1-1">
        <label class="label label--rounded">Количество дней отмены брони без штрафов</label>
        <input type="search" class="input input--search input--small border--rounded margin--reset col--1-1" data-ng-model="item.daysOfClaim" placeholder="1">
    </div>
</div>
