<div class="content--admin">

    <div><data-bread-crumbs/></div>

    <div class="container--fluid">
        <div class="activity__sort margin--bottom-small">
            <div class="grid grid--small">
                <div class="col--7-10">
                    <p class="activity__sort__text">
                        Залы фотостудии <a data-msk-href class="link link--dotted text--green">все <i class="text--small icon-chevron-down"></i></a>
                    </p>
                </div>
                <div class="col--1-10">
                    <a class="button button--small border--rounded button--success col--1-1" href="/admin/photostudio/{{item.shortcut}}/hall/add">Добавить</a>
                </div>
                <div class="col--2-10">
                    <div class="input__group">
                        <input type="search" class="input input--search input--small border--rounded margin--reset col--1-1">
                        <i class="icon-magnifier text--muted"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel--box panel--white panel--shadow">
            <div><data-admin-halls-page /></div>
        </div>

    </div>
</div>
