<!-- Характеристики -->

<div class="grid">
    <div class="col--1-1">
        <div class="uk-section">
            <span class="uk-section__counter">6</span>
            <span class="uk-section__title">Характеристики</span>
        </div>
    </div>
</div>

<div class="grid grid-divider">
    <div class="col--3-10 ">
        <h3 class="uk-text-bold text--muted">Возможности студии</h3>
        <p class="text--muted">
            Перечень для кого и чего подходит фотостудия.
        </p>
    </div>
    <div class="col--5-10 uk-form">
        <ul class="uk-list uk-list-space">
            <li>
                <label for="item1">
                    <input type="checkbox" name="" id="item1" class="check">
                    <span class="line">Большие окна (естественный свет) <i class="icon-help2" data-uk-tooltip title="Обязательная предоплата"></i></span>
                </label>
            </li>
            <li>
                <label for="item1">
                    <input type="checkbox" name="" id="item1" class="check">
                    <span class="line">Возможность съемки автомобилей/мотоциклов <i class="icon-help2" data-uk-tooltip title="Обязательная предоплата"></i></span>
                </label>
            </li>
            <li>
                <label for="item1">
                    <input type="checkbox" name="" id="item1" class="check">
                    <span class="line">Проведение семинаров, мастер-классов <i class="icon-help2" data-uk-tooltip title="Обязательная предоплата"></i></span>
                </label>
            </li>
            <li>
                <label for="item1">
                    <input type="checkbox" name="" id="item1" class="check">
                    <span class="line">Установка света за окном (для видео) <i class="icon-help2" data-uk-tooltip title="Обязательная предоплата"></i></span>
                </label>
            </li>
            <li>
                <label for="item1">
                    <input type="checkbox" name="" id="item1" class="check">
                    <span class="line">Свадебная съемка <i class="icon-help2" data-uk-tooltip title="Обязательная предоплата"></i></span>
                </label>
            </li>
            <li>
                <label for="item4">
                    <input type="checkbox" name="" id="item4" class="check ">
                    <span class="line">Подходит для детей/семей</span>
                </label>
            </li>

        </ul>
    </div>
</div>

<div class="grid grid-divider">
    <div class="col--3-10 ">
        <h3 class="uk-text-bold text--muted">Оборудование</h3>
        <p class="text--muted">
            Перечень всего оборудования для съемок.
        </p>
    </div>
    <div class="col--5-10 uk-form">
        <ul class="uk-list uk-list-space">
            <li>
                <label for="item4">
                    <input type="checkbox" name="" id="item4" class="check ">
                    <span class="line">Источники <u>импульсного</u> света</span>
                </label>
            </li>
            <li>
                <label for="item4">
                    <input type="checkbox" name="" id="item4" class="check ">
                    <span class="line">Источники <u>постоянного</u> света</span>
                </label>
            </li>
            <li>
                <label for="item5">
                    <input type="checkbox" name="" id="item5" class="check ">
                    <span class="line">Естественный свет</span>
                </label>
            </li>
            <li>
                <label for="item5">
                    <input type="checkbox" name="" id="item5" class="check ">
                    <span class="line">Фоны</span>
                </label>
            </li>
            <li>
                <label for="item4">
                    <input type="checkbox" name="" id="item4" class="check ">
                    <span class="line">Хромакей</span>
                </label>
            </li>
            <li>
                <label for="item4">
                    <input type="checkbox" name="" id="item4" class="check ">
                    <span class="line">Циклорама</span>
                </label>
            </li>
            <li>
                <label for="item4">
                    <input type="checkbox" name="" id="item4" class="check ">
                    <span class="line">Кровать</span>
                </label>
            </li>
            <li>
                <label for="item4">
                    <input type="checkbox" name="" id="item4" class="check ">
                    <span class="line">Ванна</span>
                </label>
            </li>
            <li>
                <label for="item4">
                    <input type="checkbox" name="" id="item4" class="check ">
                    <span class="line">Аквазона</span>
                </label>
            </li>
            <li>
                <label for="item4">
                    <input type="checkbox" name="" id="item4" class="check ">
                    <span class="line">Декорации</span>
                </label>
            </li>
            <li>
                <label for="item4">
                    <input type="checkbox" name="" id="item4" class="check ">
                    <span class="line">Диван</span>
                </label>
            </li>
            <li>
                <label for="item4">
                    <input type="checkbox" name="" id="item4" class="check ">
                    <span class="line">Камин</span>
                </label>
            </li>
            <li>
                <label for="item4">
                    <input type="checkbox" name="" id="item4" class="check ">
                    <span class="line">Пианино\рояль</span>
                </label>
            </li>
            <li>
                <label for="item4">
                    <input type="checkbox" name="" id="item4" class="check ">
                    <span class="line">Качели</span>
                </label>
            </li>
            <li>
                <label for="item4">
                    <input type="checkbox" name="" id="item4" class="check ">
                    <span class="line">Кирпичная стена</span>
                </label>
            </li>
            <li>
                <label for="item4">
                    <input type="checkbox" name="" id="item4" class="check ">
                    <span class="line">Фактурные стены</span>
                </label>
            </li>
        </ul>
    </div>
</div>

<div class="grid grid-divider">
    <div class="col--3-10 ">
        <h3 class="uk-text-bold text--muted">Дополнительные возможности</h3>
        <p class="text--muted">
            Удобства, упоминаемые в большинстве фотостудий.
        </p>
    </div>
    <div class="col--5-10 uk-form">
        <ul class="uk-list uk-list-space">
            <li>
                <label for="item1">
                    <input type="checkbox" name="" id="item1" class="check ">
                    <span class="line">Туалет</span>
                </label>
            </li>
            <li>
                <label for="item2">
                    <input type="checkbox" name="" id="item2" class="check ">
                    <span class="line">Телевизор</span>
                </label>
            </li>
            <li>
                <label for="item3">
                    <input type="checkbox" name="" id="item3" class="check ">
                    <span class="line">Душ</span>
                </label>
            </li>
            <li>
                <label for="item4">
                    <input type="checkbox" name="" id="item4" class="check ">
                    <span class="line">Кондиционер <i class="icon-help2" data-uk-tooltip title="Работает только в летний период"></i></span>
                </label>
            </li>
            <li>
                <label for="item5">
                    <input type="checkbox" name="" id="item5" class="check ">
                    <span class="line">Отопление</span>
                </label>
            </li>
            <li>
                <label for="item6">
                    <input type="checkbox" name="" id="item6" class="check ">
                    <span class="line">Кухня</span>
                </label>
            </li>
            <li>
                <label for="item7">
                    <input type="checkbox" name="" id="item7" class="check ">
                    <span class="line">Wi-Fi</span>
                </label>
            </li>
            <li>
                <label for="item1">
                    <input type="checkbox" name="" id="item1" class="check ">
                    <span class="line">Парковка рядом со студией </span>
                </label>
            </li>
            <li>
                <label for="item8">
                    <input type="checkbox" name="" id="item8" class="check ">
                    <span>Комната ожидания</span>
                </label>
            </li>
            <li>
                <label for="item5">
                    <input type="checkbox" name="" id="item5" class="check ">
                    <span class="line">Отопление</span>
                </label>
            </li>
            <li>
                <label for="item5">
                    <input type="checkbox" name="" id="item5" class="check ">
                    <span class="line">Аренда костюмов</span>
                </label>
            </li>
            <li>
                <label for="item5">
                    <input type="checkbox" name="" id="item5" class="check ">
                    <span class="line">Компьютер для арендаторов</span>
                </label>
            </li>
            <li>
                <label for="item5">
                    <input type="checkbox" name="" id="item5" class="check ">
                    <span class="line">Предоставляется реквизит для съемок</span>
                </label>
            </li>
            <li>
                <label for="item5">
                    <input type="checkbox" name="" id="item5" class="check ">
                    <span class="line">Визажист в студии</span>
                </label>
            </li>
            <li>
                <label for="item5">
                    <input type="checkbox" name="" id="item5" class="check ">
                    <span class="line">Аренда фото-техники</span>
                </label>
            </li>
        </ul>
    </div>
</div>
