@model IList<PhotoMSK.Data.Models.Routes.Category>

@{
    ViewBag.Title = "Список категорий";
}

<div class="uk-container uk-container-center uk-margin-large-top">
    <div class="uk-grid uk-grid-divider">
        <div class="uk-width-medium-2-5">

            <div class="uk-panel uk-panel-divider">
                <ul class="uk-nav uk-nav-menu uk-nav-side uk-nav-parent-icon" data-uk-switcher="{connect:'#tab-content', toggle:' > *:not(.uk-nav-header)'}">
                    <li class="uk-nav-header uk-margin-small-bottom">Cозданые категории:</li>
                    @foreach (var item in Model)
                    {
                        <li>
                            <a href="">@item.Name</a>
                        </li>
                    }
                </ul>
            </div>

            <div class="uk-panel uk-panel-divider">
                <a class="uk-button" href="@Url.Action("Create", new{Area="SuperAdmin", Controller="Category"})" data-uk-modal>Добавить категорию</a>
                <a class="uk-button uk-button-success" href="#">Импорт</a>
            </div>
        </div>

        <div class="uk-width-medium-3-5">
            <table class="uk-table uk-table-middle">
                <thead>
                    <tr>
                        <th style="width: 15px;"></th>
                        <th>Продукт</th>
                        <th>Цены</th>
                        <th>Действие</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        foreach (var item2 in item.Brands)
                        {
                            <tr class="uk-show-hide">
                                <td>
                                    <small class="uk-text-muted">
                                        1
                                    </small>
                                </td>
                                <td>
                                    <a href="#" class="uk-link-muted uk-link-dotted">@item2.Brand</a>
                                </td>
                                <td>
                                    -
                                </td>
                                <td style="width: 160px;">
                                    <div class="uk-show-hide-element">
                                        <a href="@Url.Action("Edit", new{Area="SuperAdmin", Controller="Category"})" class="uk-button uk-button-mini">изменить</a>
                                        <a href="#" class="uk-button uk-button-danger-hover uk-button-mini">удалить</a>
                                    </div>
                                </td>
                            </tr>
                        }
                    }

                </tbody>
            </table>
        </div>


    </div>
</div>
