<div class="uk-panel uk-panel-box uk-panel-box-item">
    <strong><a class="uk-link-muted" href="#">Комплект Phottix Strato II 5-в-1 для Canon</a></strong>

    <div class="uk-grid uk-grid-small uk-grid-width-1-2">
        <div>
            <a class="uk-link-reset" href="#">
                <img src="http://www.rentaphoto.com/cache/3166_16-01-33-phottix_strato_komplekt_logo_true.jpg" alt="" />
            </a>
        </div>
        <div class="uk-margin-top">
            <table class="uk-table">
                <tbody>
                    <tr>
                        <td><strong>Рабочий день</strong></td>
                        <td><strong>140</strong> у.е.</td>
                    </tr>
                    <tr>
                        <td>Выходной день</td>
                        <td>200 у.е.</td>
                    </tr>
                    <tr>
                        <td>Неделя</td>
                        <td>850 у.е.</td>
                    </tr>
                    <tr>
                        <td>Месяц</td>
                        <td>2620 у.е.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="uk-clearfix">
        <a href="#" class="uk-button uk-button-cart uk-float-right"> Заказать</a>
    </div>

    <div class="uk-margin-top">
        <p class="uk-text-small">
            Комбинированный проводной и радиопульт дистанционного управления Phottix Strato II Multi 5-в-1 для фотокамеры и вспышки использует частоту 2.4 ГГц.
        </p>
    </div>
</div>