
<div class="grid">
    <div class="col--1-1">
        <span class="uk-form-heading text--muted">Список созданных мастер-классов</span>
        <hr class="small-line uk-margin-small-top" />
    </div>
</div>

<div class="grid">
        <div class="col--1-1">
            <section class="grid uk-master-class" ng-repeat="item in items | filter:{ routeType: 'Masterclass' }">
                <div class="col--1-4">
                    <img class="uk-border-rounded" src="{{item.imageUrl}}" alt="Мастер-класс" />
                </div>
                <header class="col--3-4">
                    <h1 class="bold uk-margin-remove"><a href="http://photomsk.by/{{item.shortcut}}" class="uk-link-muted">{{item.name}}</a> </h1>
                    <small class="text--muted"><b>Тема:</b> ретушь фотографий</small>
                    <ul class="uk-subnav uk-subnav-line col--1-1 teaser-master-class">
                        <li class="teaser-master-class-meta">
                            <i class="uk-master-class-meta-icon icon-clock2"></i>
                            <strong class="uk-margin-small-left bold"></strong>
                            <span class="master-class-time-desc">
                                начало
                            </span>
                        </li>
                        <li class="teaser-master-class-meta">
                            <i class="uk-master-class-meta-icon icon-clock2"></i>
                            <strong class="uk-margin-small-left bold"></strong>
                            <span class="master-class-group-desc">
                                окончание
                            </span>
                        </li>
                        <li class="teaser-master-class-meta">
                            <i class="uk-master-class-meta-icon icon-users"></i>
                            <strong class="uk-margin-small-left bold">{{item.name}}</strong>
                            <span class="master-class-people-desc">
                                слушателей
                            </span>
                        </li>
                        <li class="teaser-master-class-meta">
                            <i class="uk-master-class-meta-icon icon-calendar"></i>
                            <strong class="uk-margin-small-left bold">{{item.name}}</strong>
                            <span class="master-class-people-desc">
                                дня
                            </span>
                        </li>
                    </ul>

                    <div class="uk-comment-header uk-master-class-owner">
                        <img class="uk-comment-avatar uk-border-circle uk-border-solid" src="https://pp.vk.me/c322420/v322420002/59ac/K9Wk902WYAo.jpg" width="50" height="50" alt="">
                        <h5 class="uk-comment-title">
                            <a href="#" class="uk-link-muted bold">{{item.name}}</a>
                        </h5>
                        <ul class="uk-comment-meta uk-subnav uk-subnav-line">
                            <li><span class="uk-link-muted">автор МК</span></li>
                        </ul>
                    </div>
                </header>
                <div>

                </div>
            </section>
        </div>
</div>